<template>


    <div style="min-height: 400px;">
        <Tabs >
            <TabPane label="数据筛选" name="tab1">
                <Row style="padding:5px">
                    <Col span="24">
                        <Form ref="formInline" :model="formInline" :rules="ruleInline" inline>

                            <FormItem prop="userName" label="用户名" :label-width="50">
                                <Input type="text" v-model="formInline.userName" placeholder="用户名">
                                </Input>
                            </FormItem>
<FormItem prop="phone" label="手机号" :label-width="50">
                                <Input type="text" v-model="formInline.phone" placeholder="手机号">
                                </Input>
                            </FormItem>
                            <FormItem label="性别" :label-width="50" prop="sex">

                                <Select v-model="formInline.sex">
                                    <Option value="male">男</Option>
                                    <Option value="female">女</Option>
                                </Select>
                            </FormItem>

                            <FormItem label="出生年月" :label-width="60">
                                <Row>
                                    <Col span="11">
                                        <DatePicker type="date" placeholder="" v-model="formInline.startBirthday"></DatePicker>
                                    </Col>
                                    <Col span="2" style="text-align: center">-</Col>
                                    <Col span="11">
                                        <DatePicker type="date" placeholder="" v-model="formInline.endBirthday"></DatePicker>
                                    </Col>
                                </Row>
                            </FormItem>

                            <FormItem label="答题时间" :label-width="60">
                                <Row>
                                    <Col span="11">
                                        <DatePicker type="date" placeholder="" v-model="formInline.startDataTime"></DatePicker>
                                    </Col>
                                    <Col span="2" style="text-align: center">-</Col>
                                    <Col span="11">
                                        <DatePicker type="date" placeholder="" v-model="formInline.endDataTime"></DatePicker>
                                    </Col>
                                </Row>
                            </FormItem>


                            <FormItem label="问卷" :label-width="50" prop="manageId"  style="width:30em;">

                                <Select v-model="formInline.manageId" @on-change="getMeasures" clearable filterable>
                                    <Option :value="item.id" v-for="item in paperList">{{item.name}}</Option>
                                </Select>
                            </FormItem>

                            <FormItem label="量表" :label-width="50" prop="measureId" style="width:30em;">

                                <Select v-model="formInline.measureId" clearable filterable>
                                    <Option :value="item.id" v-for="item in measureList">{{item.name}}</Option>
                                </Select>
                            </FormItem>

                            <FormItem label="用户组" :label-width="50" prop="userGroup" style="width:30em;">

                                <Select v-model="formInline.userGroup" clearable filterable>
                                    <Option :value="item.id" v-for="item in groupList">{{item.name}}</Option>
                                </Select>
                            </FormItem>


                            <FormItem>
                                <Button type="primary" icon="ios-search" @click="getList(1)">查询</Button>
                                <Button type="success" @click="download" style="margin-left: 1em">下载</Button>
                            </FormItem>
                        </Form>

                    </Col>

                </Row>
                <Table border stripe :columns="columns" no-data-text="暂无数据" :data="dataListOfPaper" :loading="isLoading"></Table>
                <div style="text-align: center;margin-top: 1em;">
                    <Page :total="count" :page-size="pageSize" :current="currentPage" @on-change="pageChange"/>
                </div>
            </TabPane>
            <TabPane label="用户组筛选" name="tab2">
                <Row style="padding:5px">
                    <Col span="24">
                        <Form ref="form" :model="form" inline>

                            <FormItem label="用户组" :label-width="50" prop="userGroup" style="width:30em;">

                                <Select v-model="form.userGroup" clearable>
                                    <Option :value="item.id" v-for="item in groupList2">{{item.name}}</Option>
                                </Select>
                            </FormItem>


                            <FormItem>
                                <Button type="primary" icon="ios-search" @click="getList2(1)">查询</Button>
                                <Button type="success" @click="download2" style="margin-left: 1em">下载</Button>
                            </FormItem>
                        </Form>

                    </Col>

                </Row>
                <Table border stripe :columns="columns2" no-data-text="暂无数据" :data="dataList2" :loading="isLoading"></Table>
                <div style="text-align: center;margin-top: 1em;">
                    <Page :total="count2" :page-size="pageSize" :current="currentPage2" @on-change="pageChange2"/>
                </div>
            </TabPane>
        </Tabs>



        <Modal
                v-model="isShowReportListModal"
                title="报告"
                width="50%"
                :mask-closable="false"
        >
            <Row v-for="(item,index) in reportList" style="border-bottom: 1px solid gainsboro;margin:7px 0;padding-bottom: 1em;">
                <Col span="1" offset="1">
                    {{index+1}}
                </Col>
                <Col span="10">
                    {{item.manageName}}
                </Col>

                <Col span="5">
                    {{item.createReportTime}}
                </Col>
                <Col span="7">
                    <Button type="primary" @click="previewReport(item)">查看报告</Button>
                    <Button type="success" @click="showCalProcess(item)">查看计算过程</Button>
                </Col>
            </Row>
            <table></table>
            <div slot="footer">
                <Button type="text" size="large" @click="isShowReportListModal=false">关闭</Button>
            </div>
        </Modal>


        <Report :reportId="reportId" ref="report"></Report>
        <CalProcess :data="calProcessData" ref="calProcess"></CalProcess>
        <Loading ref="loading"></Loading>
    </div>


</template>

<script>
    import {Util} from '../../assets/js/Util'
    import {downloadService} from '../../http/downloadService'
    import Download from '../../components/Download'
    import Mychart from '../../components/Mychart'
    import Report from '../../components/Report'
    import CalProcess from '../../components/CalProcess'
    import Loading from '../../components/Loading'

    export default {
        components: {
            Download,
            Mychart,
            Report,
            CalProcess,
            Loading
        },
        data() {
            return {
                form:{

                },
                tabValue:'tab1',
                formInline: {},
                ruleInline: {},
                dataListOfPaper: [],
                dataList2: [],
                count: 0,
                count2: 0,
                totalPages: 0,
                pageSize: Util.pageSize,
                currentPage: 1,
                currentPage2: 1,
                condition: '',
                paperList: [],
                measureList: [],
                groupList: [],
                groupList2: [],
                columns: [],
                columns2: [],
                isShowReportListModal: false,
                reportList: [],
                isShowPreviewModal: false,
                previewData: {},
                curPreviewManage: {},
                reportId: 0,
                calProcessData: [],
                isLoading:false
            }
        },
        mounted() {

            this.getPaperList()
            // this.getMeasureList()
            this.getGroupList()
            this.getGroupList2()
            this.http.post('measure/listAll', {
            }).then(data => {
                this.measureList = data.data;
            })
        },
        methods: {
            getMeasures(manangeId){
                if(!manangeId){
                    this.http.post('measure/listAll', {
                    }).then(data => {
                        this.measureList = data.data;
                    })
                }else{
                     this.http.post('manage/getMeasureByManageId', {
                        manangeId
                    }).then(data => {
                        this.measureList = data.data;
                    })
                }

            },
            outputDone() {
                this.$Message.success("导出成功！")
            },
            // getAllGroup

            getPaperList() {
                this.http.post('manage/listAll', {
                    isAdmin: this.$store.state.question_role,
                    isAll: true,
                }).then(data => {
                    this.paperList = data.data;
                })
            },
            getGroupList() {
                this.http.post('user/getAllGroupDataExport', {}).then(data => {
                    this.groupList = data.data;
                })
            },
            getGroupList2() {
                this.http.post('user/getAllGroupRelation', {}).then(data => {
                    this.groupList2 = data.data;
                })
            },
            pageChange(page) {
                this.getList(page)
            },
            pageChange2(page) {
                // this.getList(page)
            },
            download() {

                if (this.dataListOfPaper.length === 0) {
                    this.$Message.warning("没有数据可下载！")
                    return;
                }

                this.$refs.loading.show('下载中...')
                downloadService.request('export/exportExcel', this.condition).then(res => {

                    Util.downloadExcel(res, '数据导出')
                    this.$refs.loading.hide();

                })
            },
            download2() {


                if (this.dataList2.length === 0) {
                    this.$Message.warning("没有数据可下载！请查询后下载！")
                    return;
                }

                this.$refs.loading.show('下载中...')
                downloadService.request('relationReport/exportExcel', {
                    userGroupId:this.form.userGroup
                }).then(res => {

                    Util.downloadExcel(res, '数据导出')
                    this.$refs.loading.hide();

                })
            },
            download() {

                if (this.dataListOfPaper.length === 0) {
                    this.$Message.warning("没有数据可下载！请查询后下载！")
                    return;
                }

                this.$refs.loading.show('下载中...')
                downloadService.request('export/exportExcel', this.condition).then(res => {

                    Util.downloadExcel(res, '数据导出')
                    this.$refs.loading.hide();

                })
            },
            handleDate(paramObj) {
                if (paramObj.startDataTime) {
                    paramObj.startDataTime = paramObj.startDataTime.format("yyyy/MM/dd")
                }
                if (paramObj.endDataTime) {
                    paramObj.endDataTime = paramObj.endDataTime.format("yyyy/MM/dd")
                }
                if (paramObj.startBirthday) {
                    paramObj.startBirthday = paramObj.startBirthday.format("yyyy/MM/dd")
                }
                if (paramObj.endBirthday) {
                    paramObj.endBirthday = paramObj.endBirthday.format("yyyy/MM/dd")
                }
            },
            getList(currentPage) {

                let paramObj = Util.clone(this.formInline)

                this.handleDate(paramObj)

                let condition = {
                    currentPage: currentPage,
                    pageSize: this.pageSize
                }

                for (let key in paramObj) {
                    if (paramObj[key]) {
                        condition[key] = paramObj[key]
                    }
                }
                if (condition.manageId) {
                    condition.manageId = JSON.stringify([condition.manageId])
                } else {
                    delete condition.manageId
                }

                if (condition.measureId) {
                    condition.measureId = JSON.stringify([condition.measureId])
                } else {
                    delete condition.measureId
                }


                if (condition.userGroup) {
                    condition.userGroup = JSON.stringify([condition.userGroup])
                } else {
                    delete condition.userGroup
                }

                this.condition = condition

                this.isLoading=true;

                this.http.post('export/queryAccurate', condition).then(data => {
                    this.isLoading=false;

                    this.count = data.count;
                    this.totalPages = data.totalPages;
                    this.currentPage = data.currentPage;

                    this.columns = []
                    this.dataListOfPaper = []

                    data = data.data;

                    if (data.length <= 0) {
                        return;
                    }

                    let header = Util.clone(data[0])
                    data.shift();

                    let dataArray = [];

                    for (let i = 0; i < data.length; i++) {

                        let d = data[i];
                        let obj = {}
                        for (let j = 0; j < d.length; j++) {
                            obj[j] = d[j]
                        }

                        dataArray.push(obj)
                    }

                    this.columns = [
                        {
                            type: 'index',
                            width: 60,
                            align: 'center',
                            indexMethod: (params) => {
                                return (this.currentPage - 1) * Util.pageSize + (params._index + 1);
                            }
                        }
                    ]
                    debugger
                    console.info(header)
                    for (let i = 0; i < header.length; i++) {
                        if (header[i].indexOf('-') > -1) {
                            let lastIndexOf = header[i].lastIndexOf('-');
                            let head = header[i].substring(0, lastIndexOf)
                            let tail = header[i].substring(lastIndexOf + 1)
                            let index = this.columnsContains(head)

                            if (index) {
                            if(!this.columns[index].children){
                            this.columns[index].children=[]
                            }
                                this.columns[index].children.push({
                                    title: tail.length>5?tail.substring(0,2):tail,
                                    tooltip:true,
                                    key: i,
                                    align: 'center',
                                    minWidth: 60,
                                    maxWidth:300,
                                })
                            } else {
                                this.columns.push({
                                    title: head,
                                    align: 'center',
                                    children: [{
                                        title: tail.length>5?tail.substring(0,2):tail,
                                        key: i,
                                        tooltip:true,
                                        align: 'center',
                                        minWidth: 60,
                                        maxWidth:300,
                                        // maxWidth:200,
                                    }]

                                })
                            }
                        } else {
                            this.columns.push({
                                title: header[i],
                                key: i,
                                align: 'center',
                                minWidth: 120,
                                maxWidth: 250,
                                render: (h, params) => {
                                    if (i === 0) {
                                        return h('div', [
                                            h('Button', {
                                                props: {
                                                    type: 'primary',
                                                    size: 'small'
                                                },
                                                style: {
                                                    marginRight: '5px'
                                                },
                                                on: {
                                                    click: () => {
                                                        this.queryReportList(params)
                                                    }
                                                }
                                            }, '查看报告')
                                        ])
                                    } else {

                                        if(i===2){
                                            if(params.row[i].length>11){
                                                return h('div', {},  '匿名')
                                            }else{
                                                return h('div', {}, (params.row[i + ''] || params.row[i + ''] === 0) ? params.row[i + ''] : '')
                                            }
                                        }else{
                                            return h('div', {}, (params.row[i + ''] || params.row[i + ''] === 0) ? params.row[i + ''] : '')
                                        }


                                    }
                                }
                            })
                        }


                    }

                    this.dataListOfPaper = dataArray;
                }).catch(err=>{
                    this.isLoading=false;
                })
            },
            getList2(currentPage) {

                if(!this.form.userGroup){
                    this.$Message.warning('请选择用户组！')
                    return;
                }

                let condition = {
                    currentPage: currentPage,
                    pageSize: this.pageSize,
                    userGroupId:this.form.userGroup
                }


                this.isLoading=true;

                this.http.post('relationReport/exportRelationUserGroup', condition).then(data => {
                    this.isLoading=false;

                    this.count2 = data.count;
                    this.totalPages2 = data.totalPages;
                    this.currentPage2 = data.currentPage;

                    this.columns2 = []
                    this.dataList2 = []

                    data = data.data;

                    if (data.length <= 0) {
                        return;
                    }

                    let header = Util.clone(data[0])
                    data.shift();

                    let dataArray = [];

                    for (let i = 0; i < data.length; i++) {

                        let d = data[i];
                        let obj = {}
                        for (let j = 0; j < d.length; j++) {
                            obj[j] = d[j]
                        }

                        dataArray.push(obj)
                    }

                    this.columns2 = [
                        {
                            type: 'index',
                            width: 60,
                            align: 'center',
                            indexMethod: (params) => {
                                return (this.currentPage2 - 1) * Util.pageSize + (params._index + 1);
                            }
                        }
                    ]
                    for (let i = 0; i < header.length; i++) {

                        if (header[i].indexOf('__') > -1) {

                            let array=header[i].split('__');

                            let relation=array[0];
                            let paperName=array[1].split('-')[1];
                            let measureAndIndex=array[2];


                            let lastIndexOf = measureAndIndex.lastIndexOf('-');
                            let measure = measureAndIndex.substring(0, lastIndexOf)
                            let questionIndex = measureAndIndex.substring(lastIndexOf + 1)


                            let index = this.columnsContains2(relation)

                            if (index!==false) {

                                let paperNameIndex=this.columns2ContainsPapername(this.columns2[index].children,paperName)
                                if(paperNameIndex!==false){

                                    let measureIndex=this.columns2ContainsPapername(this.columns2[index].children[paperNameIndex].children,measure)

                                    if(measureIndex!==false){
                                        this.columns2[index].children[paperNameIndex].children[measureIndex].children.push({
                                            title: questionIndex,
                                            key: i,
                                            tooltip:true,
                                            align: 'center',
                                            minWidth: 60,
                                            maxWidth:300,

                                        })
                                    }else{
                                        this.columns2[index].children[paperNameIndex].children.push({
                                            title: measure,
                                            key: i,
                                            tooltip:true,
                                            align: 'center',
                                            minWidth: 60,
                                            maxWidth:300,
                                            children: [{
                                                // title: questionIndex,
                                                key: i,
                                                tooltip:true,
                                                align: 'center',
                                                minWidth: 60,
                                                maxWidth:300,
                                            }]

                                        })
                                    }
                                }else{
                                    this.columns2[index].children.push({
                                        title: paperName,
                                        key: paperName,
                                        tooltip:true,
                                        align: 'center',
                                        minWidth: 60,
                                        maxWidth:300,
                                        children: [{
                                            title: measure,
                                            key: i,
                                            tooltip:true,
                                            align: 'center',
                                            minWidth: 60,
                                            maxWidth:300,
                                            children: [{
                                                title: questionIndex,
                                                key: measure+questionIndex,
                                                tooltip:true,
                                                align: 'center',
                                                minWidth: 60,
                                                maxWidth:300,
                                            }]
                                        }]

                                    })
                                }



                            } else {
                                this.columns2.push({
                                    title: relation,
                                    align: 'center',
                                    children: [{
                                        title: paperName,
                                        key: i,
                                        tooltip:true,
                                        align: 'center',
                                        minWidth: 60,
                                        maxWidth:300,
                                        children: [{
                                            title: measure,
                                            key: i,
                                            tooltip:true,
                                            align: 'center',
                                            minWidth: 60,
                                            maxWidth:300,
                                            children: [{
                                                title: questionIndex,
                                                key: i,
                                                tooltip:true,
                                                align: 'center',
                                                minWidth: 60,
                                                maxWidth:300,
                                            }]
                                        }]
                                    }]

                                })
                            }
                        } else {
                            this.columns2.push({
                                title: header[i],
                                key: i,
                                align: 'center',
                                minWidth: 120,
                                maxWidth: 250,
                                render: (h, params) => {
                                    if (i === 0) {
                                        return h('div', [
                                            h('Button', {
                                                props: {
                                                    type: 'primary',
                                                    size: 'small'
                                                },
                                                style: {
                                                    marginRight: '5px'
                                                },
                                                on: {
                                                    click: () => {
                                                        this.queryReportList2(params)
                                                    }
                                                }
                                            }, '查看报告')
                                        ])
                                    } else {

                                        if(i===2){
                                            if(params.row[i].length>11){
                                                return h('div', {},  '匿名')
                                            }else{
                                                return h('div', {}, (params.row[i + ''] || params.row[i + ''] === 0) ? params.row[i + ''] : '')
                                            }
                                        }else{
                                            return h('div', {}, (params.row[i + ''] || params.row[i + ''] === 0) ? params.row[i + ''] : '')
                                        }


                                    }
                                }
                            })
                        }


                    }
                    this.dataList2 = dataArray
                }).catch(err=>{
                    this.isLoading=false;
                })
            },
            columnsContains(headerName) {
                let flag = false;
                for (let i = 0; i < this.columns.length; i++) {
                    if (this.columns[i].title && this.columns[i].title.startsWith(headerName)) {
                        flag = i;
                        break;
                    }
                }
                return flag;
            },
            columnsContains2(headerName) {
                let flag = false;
                for (let i = 0; i < this.columns2.length; i++) {
                    if (this.columns2[i].title && this.columns2[i].title.startsWith(headerName)) {
                        flag = i;
                        break;
                    }
                }
                return flag;
            },
            columns2ContainsPapername(children,paperName) {
                let flag = false;
                for (let i = 0; i < children.length; i++) {
                    if (children[i].title && children[i].title===paperName) {
                        flag = i;
                        break;
                    }
                }
                return flag;
            },

            queryReportList(params) {

                let userId = params.row['0'].split('_')[0];
                let manageId = params.row['0'].split('_')[1];
                this.http.post('report/listByManage', {
                    userId: Number(userId),
                    manageId: Number(manageId)
                }).then(data => {
                    if (data.data && data.data.length > 0) {
                        this.reportList = data.data;
                        this.isShowReportListModal = true;
                    } else {
                        this.$Message.warning('没有报告！')
                    }

                })
            },
            queryReportList2(params) {

                debugger

                let userId = params.row['0'].split('_')[0];
                let userGroup = params.row['0'].split('_')[1];
                this.http.post('relationReport/getResult', {
                    userId: Number(userId),
                    userGroup: Number(userGroup)
                }).then(data => {
                    if (data.data && data.data.length > 0) {
                        this.reportList = data.data;
                        this.isShowReportListModal = true;
                    } else {
                        this.$Message.warning('没有报告！')
                    }

                })
            },
            previewReport(params) {
                this.reportId = params.id

                this.$refs.report.show()

            },
            showCalProcess(item) {
                // let data= ["V invalidity:", "1+0+0=2", "基准值:", "基础得分=2   基准值以后得分=2", "W Inconsistency:", "0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0=10", "基准值:", "基础得分=10   基准值以后得分=10", "X Disclosure:", "1+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0=94", "基准值:", "93<=94<=95=96命中", "基础得分=94   基准值以后得分=96", "Y Desirability:", "1+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0-1-1-1-1-1-1-1=17", "基准值:", "16<17<18=75命中", "基础得分=17   基准值以后得分=75", "Z Debasement:", "1+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0=20", "基准值:", "19<20<21=80命中", "基础得分=20   基准值以后得分=80", "1Schizoid:", "1*2*2*2*2*2*2*2+0+0+0+0+0-1-1=15", "基准值:", "14<15<16=76命中", "基础得分=15   基准值以后得分=76", "2A Avoidant:", "1*2*2*2*2+0+0+0+0+0+0+0+0+0*2-1-1-1=17", "基准值:", "16<17<18=83命中", "基础得分=17   基准值以后得分=83", "2B Melancholic:", "1*2*2*2*2*2*2*2*2+0+0+0+0+0+0+0+0+0-1=20", "基准值:", "19<20<21=82命中", "基础得分=20   基准值以后得分=82", "3 Dependent:", "1*2*2*2*2*2*2*2+0+0+0+0-1*2=22", "基准值:", "21<22<23=110命中", "基础得分=22   基准值以后得分=110", "4A Histrionic:", "1*2*2*2*2*2*2+0+0+0-1-1-1-1-1-1-1=14", "基准值:", "13<14<15=67命中", "基础得分=14   基准值以后得分=67", "4B Turbulen:", "1*2*2*2*2*2*2*2+0+0+0+0+0+0-1-1-1=20", "基准值:", "19<20<21=75命中", "基础得分=20   基准值以后得分=75", "5 Narcissistic:", "0*2*2*2*2*2*2*2*2*2+0+0+0+0+0+0=18", "基准值:", "17<18<19=92命中", "基础得分=18   基准值以后得分=92", "6A Antisocial:", "1*2*2*2*2*2*2+0+0+0+0+0-1-1=16", "基准值:", "15<16<17=90命中", "基础得分=16   基准值以后得分=90", "6B Sadistic:", "0*2*2*2*2*2*2*2+0+0+0+0+0+0=16", "基准值:", "15<16<17=81命中", "基础得分=16   基准值以后得分=81", "7 Compulsive:", "1*2*2*2*2*2*2*2*2*2-1-1-1=16", "基准值:", "15<16<17=65命中", "基础得分=16   基准值以后得分=65", "8A Negativistic:", "0*2*2*2*2*2*2*2+0+0+0+0+0+0+0+0+0+0=19", "基准值:", "18<19<20=82命中", "基础得分=19   基准值以后得分=82", "8B Masochistic:", "1*2*2*2*2*2*2+0+0+0+0+0+0+0+0+0-1-1=19", "基准值:", "18<19<20=82命中", "基础得分=19   基准值以后得分=82", "S Schizotypal:", "1*2*2*2*2*2*2*2+0+0+0+0+0+0+0+0+0+0+0+0+0=22", "基准值:", "21<22<23=82命中", "基础得分=22   基准值以后得分=82", "C Borderline:", "1*2*2*2*2*2*2+0+0+0+0+0+0+0+0+0+0+0+0+0=19", "基准值:", "18<19<20=84命中", "基础得分=19   基准值以后得分=84", "P Paranoid:", "1*2*2*2*2*2*2*2+0+0+0+0+0+0+0+0=21", "基准值:", "20<21<22=97命中", "基础得分=21   基准值以后得分=97", "A Generalized Anxiety:", "0*2*2*2*2*2+0+0+0+0+0+0+0=14", "基准值:", "13<14<15=100命中", "基础得分=14   基准值以后得分=100", "H Somatic Symptom:", "1*2*2*2*2+0+0+0+0-1=12", "基准值:", "11<12<13=82命中", "基础得分=12   基准值以后得分=82", "N Bipolar  Spectrum:", "1*2*2*2*2*2+0+0+0+0+0+0+0=16", "基准值:", "15<16<17=100命中", "基础得分=16   基准值以后得分=100", "D Persistent Depression:", "0*2*2*2*2*2+0+0+0+0+0+0+0+0+0+0+0+0+0+0-1=13", "基准值:", "12<13<14=67命中", "基础得分=13   基准值以后得分=67", "B Alcohol Use:", "0*2*2*2*2+0+0+0=9", "基准值:", "8<9<10=98命中", "基础得分=9   基准值以后得分=98", "T Drug Use:", "0*2*2*2*2*2*2+0+0+0-1=9", "基准值:", "8<9<10=80命中", "基础得分=9   基准值以后得分=80", "R Post-Traumatic Stress:", "0*2*2*2*2+0+0+0+0+0+0+0+0+0=14", "基准值:", "13<14<15=90命中", "基础得分=14   基准值以后得分=90", "SS Schizophrenic Spectrum:", "0*2*2*2*2*2+0+0+0+0+0+0+0+0+0+0+0+0+0+0+0=23", "基准值:", "22<23<24=85命中", "基础得分=23   基准值以后得分=85", "CC Major Depression:", "1*2*2*2*2*2*2+0+0+0+0+0+0+0+0+0+0=18", "基准值:", "17<18<19=95命中", "基础得分=18   基准值以后得分=95", "PP Delusional:", "0*2*2*2*2+0+0+0+0+0+0+0+0+0=16", "基准值:", "15<16<17=85命中", "基础得分=16   基准值以后得分=85", "Disclosure=7:", "是否符合条件：false", "Disclosure=8:", "是否符合条件：false", "Disclosure=9:", "是否符合条件：false", "Disclosure=10:", "是否符合条件：false", "Disclosure=11:", "是否符合条件：false", "Disclosure=12:", "是否符合条件：false", "Disclosure=13-14:", "是否符合条件：false", "Disclosure=15-16:", "是否符合条件：false", "Disclosure=17-18:", "是否符合条件：false", "Disclosure=19-20:", "是否符合条件：false", "Disclosure=21-60:", "是否符合条件：false", "Disclosure=61-66:", "是否符合条件：false", "Disclosure=67-71:", "是否符合条件：false", "Disclosure=72-76:", "是否符合条件：false", "Disclosure=77-82:", "是否符合条件：false", "Disclosure=83-87:", "是否符合条件：false", "Disclosure=88-93:", "是否符合条件：false", "Disclosure=94-98:", "是否符合条件：true", "X Disclosure=94&&&&====94<=94&&94<=98", "1Schizoid:", "76+-7+0=69", "2A Avoidant:", "83+-7+0=76", "2B Melancholic:", "82+-7+0=75", "3 Dependent:", "110+-7+0=103", "4A Histrionic:", "67+-7+0=60", "4B Turbulen:", "75+-7+0=68", "5 Narcissistic:", "92+-7+0=85", "6A Antisocial:", "90+-7+0=83", "6B Sadistic:", "81+-7+0=74", "7 Compulsive:", "65+-7+0=58", "8A Negativistic:", "82+-7+0=75", "8B Masochistic:", "82+-7+0=75", "S Schizotypal:", "82+-4+0=78", "C Borderline:", "84+-4+0=80", "P Paranoid:", "97+-4+0=93", "A Generalized Anxiety:", "100+-4+0=96", "H Somatic Symptom:", "82+-4+0=78", "N Bipolar  Spectrum:", "100+-4+0=96", "D Persistent Depression:", "67+-4+0=63", "B Alcohol Use:", "98+-4+0=94", "T Drug Use:", "80+-4+0=76", "R Post-Traumatic Stress:", "90+-4+0=86", "SS Schizophrenic Spectrum:", "85+-4+0=81", "CC Major Depression:", "95+-4+0=91", "PP Delusional:", "85+-4+0=81", "Disclosure=99-104:", "是否符合条件：false", "Disclosure=105-109:", "是否符合条件：false", "Disclosure=110-114:", "是否符合条件：false", "A/CC=0-4:", "是否符合条件：false", "A/CC=5-9:", "是否符合条件：false", "A/CC=10-14:", "是否符合条件：false", "A/CC=15-19:", "是否符合条件：false", "A/CC=20-29:", "是否符合条件：false", "A/CC=30-39:", "是否符合条件：true", "A Generalized Anxiety=96&&&&CC Major Depression=91&&+91&&====180<=187&&187<=189", "2B Melancholic:", "75+-6+0=69", "8B Masochistic:", "75+-6+0=69", "C Borderline:", "80+-6+0=74", "2A Avoidant:", "76+-3+0=73", "S Schizotypal:", "78+-3+0=75", "A/CC=40-49:", "是否符合条件：false", "A/CC=50-59:", "是否符合条件：false", "A/CC=60-69:", "是否符合条件：false", "A/CC=70-80:", "是否符合条件：false"]
                //
                // this.calProcessData=data;
                // this.$refs.calProcess.show()
                //
                //
                //
                //
                // return;


                this.http.post('reason/list', {
                    reportId: item.id
                }).then(data => {
                    this.calProcessData = JSON.parse(data.data[0].reasonDesc);
                    this.$refs.calProcess.show()

                })
            }
        }
    }
</script>

<style scoped>
    .common {
        font-size: 11px;
        line-height: 1.2em;
    }

    .bottom_1em {
        margin-bottom: 1em;
    }

    .top_1em {
        margin-top: 1em;
    }

    .indent {
        text-indent: 2em;
    }

    .paper_name {
        font-size: 13px;
        font-weight: bold;
        text-align: center;
    }

    .paper_desc {
        font-size: 11px;
        margin-bottom: 2em;
        line-height: 1.2em;
    }

    .measure_name {
        font-size: 12px;
        font-weight: bold;
        text-align: center;
        margin-top: 2em;
    }
</style>
