<template>


    <div>
        <Row style="padding:5px;">
            <Col span="22">
                <HeaderName name="基础问卷管理"></HeaderName>
            </Col>
        </Row>
        <Table stripe :columns="columns" :data="dataList"></Table>
        <div style="text-align: center;margin-top: 1em;">
            <Page :total="count" :page-size="pageSize" :current="currentPage" @on-change="pageChange"/>
        </div>


        <ReportPreview :manage="curPreviewManage" ref="reportPreview"></ReportPreview>
        <ManageOutput :manageId="curManageId" :paperName="paperName" ref="manageOutput"></ManageOutput>


    </div>


</template>

<script>
    import {Util} from '../../assets/js/Util'
    import ReportPreview from '../../components/ReportPreview'
    import ManageOutput from '../../components/ManageOutput'


    export default {
        components: {
            ReportPreview,
            ManageOutput,
        },
        data() {
            return {
                curManageId: 0,
                paperFormRules: {
                    name: [
                        {required: true, message: "问卷名称不能为空", trigger: "blur"}
                    ],
                    alias: [
                        {required: true, message: "问卷别名不能为空", trigger: "blur"}
                    ],
                    description: [
                        {required: true, message: "问卷说明不能为空", trigger: "blur"}
                    ],
                },
                paperForm: {
                    name: '',
                    alias: ''
                },
                isShowPaperModal: false,
                columns: [
                    {
                        type: 'index',
                        width: 60,
                        align: 'center',
                        indexMethod: (params) => {
                            return (this.currentPage - 1) * Util.pageSize + (params._index + 1);
                        }

                    },
                    {
                        title: '名称',
                        key: 'name'
                    },
                    {
                        title: '别名',
                        key: 'alias',
                        maxWidth: 200,
                    },
                    {
                        title: '创建时间',
                        key: 'createtime',
                        maxWidth: 150,
                    },
                    {
                        title: '状态',
                        key: 'status',
                        maxWidth: 80,
                        render: (h, params) => {
                            return h('div', {}, params.row.status === 1 ? '已完成' : '未完成')
                        }
                    },

                    {
                        title: '说明',
                        key: 'description',
                        maxWidth: 300,
                    },

                    {
                        title: '操作',
                        key: 'action',
                        maxWidth: 450,
                        minWidth: 150,
                        render: (h, params) => {
                            return h('div', [
                                h('Button', {
                                    props: {
                                        type: 'success',
                                        size: 'small'
                                    },
                                    style: {
                                        marginRight: '5px'
                                    },
                                    on: {
                                        click: () => {
                                            this.copy(params)
                                        }
                                    }
                                }, '复制'),
                                // h('Button', {
                                //     props: {
                                //         type: 'primary',
                                //         size: 'small'
                                //     },
                                //     style: {
                                //         marginRight: '5px'
                                //     },
                                //     on: {
                                //         click: () => {
                                //             this.detail(params)
                                //         }
                                //     }
                                // }, '编辑'),
                                h('Button', {
                                    props: {
                                        type: 'primary',
                                        size: 'small'
                                    },
                                    style: {
                                        marginRight: '5px'
                                    },
                                    on: {
                                        click: () => {
                                            this.output(params)
                                        }
                                    }
                                }, '导出'),
                                h('Button', {
                                    props: {
                                        type: 'success',
                                        size: 'small'
                                    },
                                    style: {
                                        marginRight: '5px'
                                    },
                                    on: {
                                        click: () => {
                                            this.preview(params)
                                        }
                                    }
                                }, '报告预览'),
                            ])
                        }
                    }

                ],


                dataList: [],
                curPaper: null,
                count: 0,
                totalPages: 0,
                pageSize: Util.pageSize,
                currentPage: 1,
                imgUrl: '',
                measureList: [],
                questionList: [],
                curPreviewManage: {},
                paperName: ''
            }
        },
        mounted() {

            this.init()

        },
        methods: {

            init() {
                this.getList(1)
            },


            output(params) {
                this.curManageId = params.row.id;
                this.paperName = params.row.name;
                this.$refs.manageOutput.show();


            },
            /**
             * 报告预览
             * */
            preview(params) {

                this.curPreviewManage = params.row;


                this.$refs.reportPreview.show()

            },
            pageChange(page) {
                this.getList(page)
            },
            getList(currentPage) {
                this.http.post('manage/getAuthManage', {
                    currentPage: currentPage,
                    pageSize: this.pageSize,
                    isAll:true
                }).then(data => {

                    this.count = data.count;
                    this.totalPages = data.totalPages;
                    this.currentPage = data.currentPage;

                    this.dataList = data.data;
                }).catch(error => {
                    this.$Message.error(error)
                })
            },
            copy(params) {

                this.$Modal.confirm({
                    title: '您确认复制当前文件吗？',
                    content: '',
                    onOk: () => {

                        this.http.post('manage/copyManage', {
                            id: params.row.id
                        }).then(data => {
                            this.$Message.success("复制成功！")
                            this.init();
                        }).catch(error => {
                            this.$Message.error(error)
                        })

                    },
                    onCancel: () => {
                    }
                });

            },
            /**
             * 查看，设置量表
             */
            detail(params) {
                this.$router.push({
                    path: '/paper/detail',
                    query: {
                        manageId: params.row.id
                    }
                })
            },


            hidePaperFormModal() {
                this.paperForm = {}
                this.isShowPaperModal = false
            },
            edit(params) {
                this.opType = 'edit'
                this.paperForm = Util.clone(params.row)
                this.isShowPaperModal = true;

            },

        }
    }
</script>

