<template>


    <div>
        <Row style="padding:5px;" v-show="!isQuery">
            <Col span="3" offset="4">
                <RadioGroup v-model="manage.isRandom" @on-change="changeRandom">
                    <Radio :label="1">
                        <span>量表随机</span>
                    </Radio>
                    <Radio :label="0">
                        <span>量表不随机</span>
                    </Radio>
                </RadioGroup>
            </Col>
            <Col span="7" offset="17">
                <Button @click="back">返回</Button>
                <Button type="success" @click="add">添加量表</Button>
            </Col>
        </Row>

        <Row>
            <Col span="16" offset="4">

                <Card style="width:100%;margin-bottom: 1em;" v-for="(data,dataIndex) in allList">
                    <template v-if="data.type==='multi'">
                        <p slot="title">
                            {{data.tableGroupName}}
                            <span style=''>
                            <Checkbox v-model="data.isOrder" @on-change='changeOrder($event,dataIndex)'>顺序每次跳转其中一个量表<span style='color:red'>(*请谨慎使用)</span></Checkbox>
                            </span>
                        </p>
                        <div href="#" slot="extra" >
                            <Icon type="ios-loop-strong"></Icon>

                                <Icon type="md-arrow-round-up" size="19" style="cursor: pointer;margin-top: -4px" title="上移"
                                      @click="up(data.index)" v-if="data.index>0"></Icon>
                                <Icon type="md-arrow-round-up" size="19" style="cursor: pointer;margin-top: -4px;visibility: hidden" title="上移"
                                      v-else></Icon>



                                <Icon type="md-arrow-round-down" size="19" style="cursor: pointer;margin-top: -4px"
                                      title="下移"
                                      @click="down(data.index)" v-if="data.index<(allLen-1)"></Icon>
                                <Icon type="md-arrow-round-down" size="19" style="cursor: pointer;margin-top: -4px;visibility: hidden"
                                      title="下移"
                                      v-else></Icon>



                                <i class="iconfont" style="cursor: pointer;margin-left: 3px;" title="顶部"
                                   @click="top(data.index)" v-if="data.index>0 && allLen>2">&#xe83d;</i>
                                <i class="iconfont" style="cursor: pointer;margin-left: 3px;visibility: hidden" title="顶部"
                                   v-else>&#xe83d;</i>


                                <i class="iconfont" @click="bottom(data.index)" style="cursor: pointer;margin-left: 5px;"
                                   title="底部"
                                   v-if="data.index<(allLen-1) && allLen>2">
                                    &#xe83c;
                                </i>
                                <i class="iconfont" style="cursor: pointer;margin-left: 5px;visibility: hidden"
                                   title="底部"
                                   v-else>
                                    &#xe83c;
                                </i>









                        </div>
                        <Row v-for="item in data.tableList" style="margin-bottom: 5px;">
                            <Col span="16">
                                {{item.tableName}}
                            </Col>
                            <Col span="8" v-show="!isQuery">
                                <Button type="error" size="small" @click="remove(item.tableId)">移除</Button>
                                <Button type="success" size="small" @click="setEntranceTable(item.tableId,data.index)" v-show="!item.isEntrance" v-if='data.isOrder!=true' >设置为入口量表</Button>
                                <Button v-if='data.isOrder!=true' type="success" size="small" @click="showJumpModal(item.tableId)">设置跳转逻辑</Button>
                            </Col>
                        </Row>
                    </template>
                    <template v-else>
                        <p slot="title">
                        </p>
                        <div href="#" slot="extra" >

                                <Icon type="md-arrow-round-up" size="19" style="cursor: pointer;margin-top: -4px" title="上移"
                                      @click="up(data.index)" v-if="data.index>0"></Icon>
                                <Icon type="md-arrow-round-up" size="19" style="cursor: pointer;margin-top: -4px;visibility: hidden" title="上移"
                                      v-else></Icon>



                                <Icon type="md-arrow-round-down" size="19" style="cursor: pointer;margin-top: -4px"
                                      title="下移"
                                      @click="down(data.index)" v-if="data.index<(allLen-1)"></Icon>
                                <Icon type="md-arrow-round-down" size="19" style="cursor: pointer;margin-top: -4px;visibility: hidden"
                                      title="下移"
                                      v-else></Icon>



                                <i class="iconfont" style="cursor: pointer;margin-left: 3px;" title="顶部"
                                   @click="top(data.index)" v-if="data.index>0 && allLen>2">&#xe83d;</i>
                                <i class="iconfont" style="cursor: pointer;margin-left: 3px;visibility: hidden" title="顶部"
                                   v-else>&#xe83d;</i>


                                <i class="iconfont" @click="bottom(data.index)" style="cursor: pointer;margin-left: 5px;"
                                   title="底部"
                                   v-if="data.index<(allLen-1) && allLen>2">
                                    &#xe83c;
                                </i>
                                <i class="iconfont" style="cursor: pointer;margin-left: 5px;visibility: hidden"
                                   title="底部"
                                   v-else>
                                    &#xe83c;
                                </i>



                        </div>

                        <Row>
                            <Col span="16">
                                {{data.tableName}}
                            </Col>
                            <Col span="8" v-show="!isQuery">
                                <Button type="error" size="small" @click="remove(data.tableId)">移除</Button>
                                <Button type="success" size="small" @click="showTableGroupModal(data.tableId,data.index)">设置量表组</Button>
                                <Button type="primary" size="small" @click="setBeginMeasure(data.tableId,data.index)" v-show="data.tableId!==Number(manage.entrance_measure)">设置为开头量表</Button>
                            </Col>
                        </Row>
                    </template>

                </Card>

            </Col>
        </Row>


        <!--选择量表-->
        <Modal
                v-model="isShowModal"
                title="选择量表"
                width="50%"
                :mask-closable="false"
        >
            <Form :label-width="100">

                   <Row>
                       <CheckboxGroup v-model="tableIdArray">
                               <Checkbox :label="item.id" style="display: block" v-for="item in measureList" v-show="selectedMeasureIdArray.indexOf(item.id)===-1">
                                   {{item.name}} <br/>
                               </Checkbox>

                       </CheckboxGroup>
                   </Row>

            </Form>

            <div slot="footer">
                <Button type="text" size="large" @click="isShowModal=false">取消</Button>
                <Button type="primary" size="large" @click="addMeasure">确定</Button>
            </div>
        </Modal>

        <!--设置量表组-->
        <Modal
                v-model="isShowTableGroupModal"
                title="设置量表组"
                :mask-closable="false"
        >
            <Form :label-width="100">

                <FormItem label="请选择量表组">
                    <Select v-model="tableGroupName">
                        <Option v-for="item in tableGroupList" :value="item.tableGroupName" :key="item.tableGroupName">{{ item.tableGroupName }}</Option>
                    </Select>
                    <Checkbox v-model="isUseNewTableGroup">使用新量表组</Checkbox>
                    <Input v-model="newTableGroupName" placeholder="请输入量表组名称" v-show="isUseNewTableGroup"></Input>
                </FormItem>

            </Form>

            <div slot="footer">
                <Button type="text" size="large" @click="isShowTableGroupModal=false">取消</Button>
                <Button type="primary" size="large" @click="setTableGroup()">确定</Button>
            </div>
        </Modal>


        <!--量表跳转逻辑-->
        <Modal
                v-model="isShowJumpModal"
                title="设置跳转逻辑"
                width="80%"
                :mask-closable="false"
        >
            <Row>
               <Col span="4" offset="1" style="font-weight:bold">
                    根据条目跳转：
                </Col>
                    <Col span="2" offset="22">
                        <Button type="success" size="small" @click="addRule">添加</Button>
                    </Col>
            </Row>
            <Row style="margin-top: 10px;font-size: 1em;font-weight: bold;" >
                <Col span="7" offset="1">
                    条目
                </Col>
                <Col span="2" offset="1">
                    逻辑操作符
                </Col>
                <Col span="1" offset="1">
                    操作符
                </Col>
                <Col span="1" offset="1">
                    分数值
                </Col>
                <Col span="5" offset="1">
                    跳转到量表
                </Col>
                <Col span="1" offset="1">
                    移除
                </Col>
            </Row>
            <Row style="margin-bottom: 5px;" v-for="(jumpRule,index) in jumpRules">

                <Col span="7" offset="1">
                    <Select v-model="jumpRule.items" multiple style="">
                        <Option v-for="(item,index) in questionList" :value="item.id" :title="item.name" style="width:35em;text-overflow:ellipsis;overflow: hidden" v-if="item.questionIndex" :key="item.id">{{ item.questionIndex + '、' +item.name}}</Option>
                    </Select>

                </Col>
                <Col span="2" offset="1">
                    <Select v-model="jumpRule.logicOperator">
                        <Option value="and" key="and">   并 </Option>
                        <Option value="or" key="or"> 或 </Option>
                    </Select>
                </Col>
                <Col span="1" offset="1">
                    <Select v-model="jumpRule.operator">
                        <Option value=">" key=">">   > </Option>
                        <Option value=">=" key=">="> >= </Option>
                        <Option value="<" key="<"> < </Option>
                        <Option value="<=" key="<="> <= </Option>
                        <Option value="==" key="=="> = </Option>
                    </Select>
                </Col>
                <Col span="1" offset="1">
                    <Select v-model="jumpRule.value">
                        <Option v-for="n in 10" :value="n" :key="n">   {{n}} </Option>
                    </Select>
                </Col>
                <Col span="5" offset="1">
                    <Select v-model="jumpRule.tableId">
                        <Option v-for="item in jumpTableList" style="width:24em;text-overflow:ellipsis;overflow: hidden" :value="item.tableId" :key="item.tableId">   {{item.tableName}} </Option>
                    </Select>
                </Col>
                <Col span="2" offset="1">
                    <Icon type="ios-remove-circle" size="25" style="cursor: pointer;margin-top: 4px;"
                          @click="removeRule(index)"></Icon>
                </Col>
            </Row>
            <Row style="font-weight: bold;">
                <Col span="4" offset="1">
                    根据因子得分跳转：
                </Col>
                <Col span="2" offset="22">
                        <Button type="success" size="small" @click="addFactorRule">添加</Button>
                    </Col>
            </Row>
             <Row style="margin-top:0px;font-size: 1em;font-weight: bold;" >
                <Col span="7" offset="1">
                    因子
                </Col>
                <Col span="6" offset="1">
                    逻辑操作符
                </Col>

                <Col span="5" offset="1">
                    跳转到量表
                </Col>
                <Col span="1" offset="1">
                    移除
                </Col>
            </Row>
             <Row style="margin-bottom: 5px;" v-for="(jumpRule,index) in jumpFactorRules">

                <Col span="7" offset="1">
                    <Select v-model="jumpRule.items" multiple style="">
                        <Option v-for="(item,index) in factorList" :value="item.id" :title="item.name" style="width:35em;text-overflow:ellipsis;overflow: hidden"  :key="item.id">{{item.name}}</Option>
                    </Select>
                </Col>
                <Col span="6" offset="1">
                <Row v-for="(operator,index) in jumpRule.operators">
                  <Row  >
                    <Col span="5" offset="1">
                        <Select v-model="operator.operator">
                            <Option value=">" key=">">   > </Option>
                            <Option value=">=" key=">="> >= </Option>
                            <Option value="<" key="<"> < </Option>
                            <Option value="<=" key="<="> <= </Option>
                            <Option value="==" key="=="> = </Option>
                        </Select>

                    </Col>
                     <Col span="5" offset="1">
                     <Input v-model="operator.value" placeholder="" style="width:40px;"></Input>
                     </Col>
                  </Row>
                  <Row v-if="index === 0" style=" margin-left: 50px;font-weight: bold;">and</Row>
                </Row>
                </Col>

                <Col span="5" offset="1">
                    <Select v-model="jumpRule.tableId" multiple>
                        <Option v-for="table in jumpTableList" style="width:24em;text-overflow:ellipsis;overflow: hidden" :value="table.tableId" :key="table.tableId">   {{table.tableName}} </Option>
                    </Select>
                </Col>
                <Col span="2" offset="1">
                    <Icon type="ios-remove-circle" size="25" style="cursor: pointer;margin-top: 4px;"
                          @click="removeFactorRule(index)"></Icon>
                </Col>
            </Row>
            <div slot="footer">
                <Button type="text" size="large" @click="hiddenModal">取消</Button>
                <Button type="primary" size="large" @click="saveRules">确定</Button>
            </div>
        </Modal>


        <!--问卷头部尾部说明-->
        <Modal
                v-model="isShowDescModal"
                title="设置问卷说明"
                :mask-closable="false"
                width="50%"
        >
            <Form :label-width="100">

                <FormItem label="问卷说明">
                    <Input type="textarea" :rows="5" v-model="paperDesc" placeholder="请输入问卷说明" ></Input>
                </FormItem>

            </Form>

            <div slot="footer">
                <Button type="text" size="large" @click="isShowDescModal=false">取消</Button>
                <Button type="primary" size="large" @click="saveDesc()">确定</Button>
            </div>
        </Modal>




    </div>


</template>

<script>
    import {Util} from '../../assets/js/Util'
    export default {
        data() {
            return {
                isShowDescModal:false,
                manageId:this.$route.query.manageId,
                measureList:[],
                checkedStatu:true,
                single:1,
                isShowJumpModal:false,
                tableIdArray: [],
                isShowModal: false,
                isShowTableGroupModal:false,
                manage:{
                    relation:{
                        groupList:[],
                        dataList:[]
                    }
                },
                tableGroupList:[],
                isUseNewTableGroup:false,
                tableGroupName:'',
                newTableGroupName:'',
                curTableId:'',
                jumpRules:[],
                questionList:[],
                jumpTableList:[],
                paperDesc:'',
                paperDescType:'',
                selectedMeasureIdArray:[],
                isQuery:this.$route.query.isQuery,
                from:this.$route.query.from,
                 factorList:[],
                 jumpFactorRules:[],
                allLen:0,
                allList:[],
                nowSingleMeasureIndex:-1,
            }
        },
        mounted() {
            this.init()
        },
        methods: {
            changeOrder(flag,index){
                this.allList[index]['isOrder']=flag
                this.update()
            },
            top(index){
                for(let i=0;i<index;i++){
                    this.allList[i].index=i+1;
                }

                this.allList[index].index=0
                this.update()
            },
            bottom(index){
                for(let i=index+1;i<this.allList.length;i++){
                    this.allList[i].index=i-1;
                }


                this.allList[index].index=this.allList.length-1
                this.update()
            },
            up(index){
                this.allList[index].index=this.allList[index-1].index
                this.allList[index-1].index=index;
                this.update()
            },
            down(index){
                this.allList[index].index=this.allList[index+1].index
                this.allList[index+1].index=index;
                this.update()
            },
            changeRandom(data){
                this.http.post('manage/update', {
                    id:this.manage.id,
                    isRandom:data
                }).then(() => {
                    this.$Message.success("设置成功")
                    this.init();
                }).catch(error => {
                    this.$Message.error(error)
                })
            },
            updateWhenSort(){

            },
            init(){
                this.getManage()
                this.getMeasureList()
            },
              hiddenModal(){
                this.jumpRules=[]
                this.jumpFactorRules=[]
                this.isShowJumpModal=false
            },
            showDescModal(type){
                this.paperDescType=type;
                this.isShowDescModal=true;

                if(type==='startDesc'){
                    this.paperDesc=this.manage.startDesc;
                }else{
                    this.paperDesc=this.manage.endDesc;
                }
            },
            /**
             * 将非量表组的某一个量表设置为开始量表，此量表不参与随机
             * */
            setBeginMeasure(tableId){
                this.http.post('manage/update',{
                    id:this.manage.id,
                    entrance_measure:tableId
                }).then(()=>{
                    this.$Message.success("设置成功")
                    this.init()
                }).catch(error=>{
                    this.$Message.error(error)
                })
            },
            back(){
                window.history.back()
        },


            /**
             * 重置开始量表
             * */
            resetBeginMeasure(callback){
                this.http.post('manage/update',{
                    id:this.manage.id,
                    entrance_measure:''
                }).then(()=>{
                    if(callback){
                        callback();
                    }else{
                        this.init()
                    }

                }).catch(error=>{
                    this.$Message.error(error)
                })
            },



            saveDesc(){

                let data={
                    id:this.manageId,
                }

                if(this.paperDescType==='startDesc'){
                    data.startDesc=this.paperDesc;
                }else{
                    data.endDesc=this.paperDesc;
                }


                this.http.post('manage/update', data).then(data => {
                    this.isShowDescModal=false;
                    this.init()
                    this.$Message.success("设置成功！")
                }).catch(error=>{
                    this.$Message.error(error)
                })
            },
            saveRules(){
                // if(this.jumpRules.length===0){
                //     this.$Message.warning("请添加跳转逻辑！")
                //     return;
                // }

                for(let i=0;i<this.jumpRules.length;i++){
                    if(this.jumpRules[i].items.length===0){
                        this.$Message.warning("请选择子条目！")
                        return;
                    }
                    if(!this.jumpRules[i].logicOperator){
                        this.$Message.warning("请选择逻辑操作符！")
                        return;
                    }
                    if(!this.jumpRules[i].operator){
                        this.$Message.warning("请选择操作符！")
                        return;
                    }
                    if(!this.jumpRules[i].value){
                        this.$Message.warning("请选择分数值！")
                        return;
                    }
                    if(!this.jumpRules[i].tableId){
                        this.$Message.warning("请选择跳转到量表！")
                        return;
                    }
                }
                      for(let i=0;i<this.jumpFactorRules.length;i++){
                    if(this.jumpFactorRules[i].items.length===0){
                        this.$Message.warning("请选择子因子！")
                        return;
                    }
                    if(!this.jumpFactorRules[i].tableId){
                        this.$Message.warning("请选择跳转到量表！")
                        return;
                    }
                }

                this.addJumpRulesFromFrontend()
                this.update()
                //


            },
            removeRule(index){
              this.jumpRules.splice(index,1)
            },
                removeFactorRule(index){
                this.jumpFactorRules.splice(index,1)
            },
            addRule(){
              this.jumpRules.push({
                    items:[]
              })
            },
              addFactorRule(){
               this.jumpFactorRules.push({
                    items:[],
                    operators:[
                        {operator:">",value:0},
                        {operator:"<",value:100}
                    ],
                    tableId:[],
              })
            },
            showJumpModal(tableId){
                this.curTableId=tableId

                this.getQuestionListByTableId(tableId,()=>{
                    this.isShowJumpModal=true;
                    this.jumpRules=[]
                    this.getJumpTableList(tableId)
                    this.getJumpRules(tableId)
                })


            },
            getJumpTableList(tableId){
                this.jumpTableList=[]
                for(let i=0;i<this.manage.relation.groupList.length;i++){
                    for(let j=0;j<this.manage.relation.groupList[i].tableList.length;j++){
                        if(this.manage.relation.groupList[i].tableList[j].tableId===tableId){

                            for(let m=0;m<this.manage.relation.groupList[i].tableList.length;m++){
                                if(this.manage.relation.groupList[i].tableList[m].tableId!==tableId){
                                    this.jumpTableList.push(this.manage.relation.groupList[i].tableList[m])
                                }
                            }
                            return;
                        }
                    }
                }

            },
            async getQuestionListByTableId(tableId,callback){
            this.factorList=[]
            this.jumpFactorRules=[]
               await this.http.post('measure/getByIdFactor',{
                    measureId:tableId
                }).then((data)=>{
                    this.factorList=data.data
                }).catch(error=>{
                    this.$Message.error(error)
                })
                await this.http.post('question/list',{
                    measureId:tableId
                }).then((data)=>{
                    this.questionList=data.data
                    callback()
                }).catch(error=>{
                    this.$Message.error(error)
                })
            },
            showTableGroupModal(tableId,index){
                this.nowSingleMeasureIndex=index
                this.isShowTableGroupModal=true;
                this.isUseNewTableGroup=false;
                this.tableGroupName=''
                this.curTableId=tableId
            },
            setTableGroup(){
                if(this.isUseNewTableGroup){

                    this.removeFromFrontend(this.curTableId,false)

                    this.allList.push({
                        type:'multi',
                        isOrder:false,
                        index:this.nowSingleMeasureIndex,
                        tableGroupName:this.newTableGroupName,
                        tableList:[{
                            tableId:this.curTableId,
                            tableName:this.getMeasureNameById(this.curTableId),
                            isEntrance:true
                        }]
                    })

                }else{
                    if(!this.tableGroupName){
                        this.$Message.warning('请选择量表组！');
                        return;

                    }

                    this.removeFromFrontend(this.curTableId)
                    this.addGroupFromFrontend(this.curTableId,this.tableGroupName)


                }



                if(this.curTableId===Number(this.manage.entrance_measure)){
                    this.resetBeginMeasure(this.update)
                }else{
                    this.update()
                }
            },
            getJumpRules(tableId){

                for(let i=0;i<this.manage.relation.groupList.length;i++){
                    for(let j=0;j<this.manage.relation.groupList[i].tableList.length;j++){
                        if(this.manage.relation.groupList[i].tableList[j].tableId===tableId){
                            if(this.manage.relation.groupList[i].tableList[j].jumpRules){
                                this.jumpRules=JSON.parse(JSON.stringify(this.manage.relation.groupList[i].tableList[j].jumpRules))

                            }
                            if(this.manage.relation.groupList[i].tableList[j].jumpFactorRules){
                                this.jumpFactorRules=JSON.parse(JSON.stringify(this.manage.relation.groupList[i].tableList[j].jumpFactorRules))

                            }
                            return;
                        }
                    }
                }
            },
            /**
             * 前端移除
             * */
            removeFromFrontend(tableId,needSortAgain=true){

                for(let i=0;i<this.allList.length;i++){
                    if(this.allList[i].type==='multi'){
                        for(let j=0;j<this.allList[i].tableList.length;j++){
                            if(this.allList[i].tableList[j].tableId===tableId){
                                this.allList[i].tableList.splice(j,1)
                                if(this.allList[i].tableList.length===0){
                                    this.allList.splice(i,1);
                                    //重新排序
                                    if(needSortAgain){
                                        this.sortAgain(i)
                                    }


                                }
                                break;
                            }
                        }
                    }else{
                        if(this.allList[i].tableId===tableId){
                            this.allList.splice(i,1)
                            //重新排序
                            //重新排序
                            if(needSortAgain){
                                this.sortAgain(i)
                            }
                        }
                    }
                }

            },

            sortAgain(index){
                for(let i=0;i<this.allList.length;i++){
                    if(this.allList[i].index>index){
                        this.allList[i].index--;
                    }
                }
            },

            /**
             * 前端添加跳转逻辑
             * */
            addJumpRulesFromFrontend(){

                for(let i=0;i<this.allList.length;i++){
                    if(this.allList[i].type==='multi'){
                        for(let j=0;j<this.allList[i].tableList.length;j++){
                            if(this.allList[i].tableList[j].tableId===this.curTableId){
                                this.allList[i].tableList[j].jumpRules=this.jumpRules
                                this.allList[i].tableList[j].jumpFactorRules=this.jumpFactorRules
                                break;
                            }
                        }
                    }

                }

            },

            /**
             * 前端添加
             * */
            addGroupFromFrontend(tableId,groupName){

                for(let i=0;i<this.allList.length;i++){

                    if(this.allList[i].type==='multi'){
                        if(this.allList[i].tableGroupName===groupName){
                            this.allList[i].tableList.push({
                                tableId:tableId,
                                tableName:this.getMeasureNameById(tableId)
                            })
                            break;
                        }
                    }




                }

            },


            remove(tableId){
                this.$Modal.confirm({
                    title: '您确认删除吗？',
                    content: '',
                    onOk: () => {
                        this.removeFromFrontend(tableId)

                        this.update()

                        if(tableId===Number(this.manage.entrance_measure)){
                            this.resetBeginMeasure()
                        }
                    },
                    onCancel: () => {
                    }
                });
            },
            /**
             * 添加量表
             * */
            addMeasure() {

                //TODO 需要校验去重


                if (!this.tableIdArray || this.tableIdArray.length===0) {
                    this.$Message.warning("请选择量表！")
                    return
                }

                let tableIdArray=this.tableIdArray
                let index=this.allList.length;

                for(let i=0;i<tableIdArray.length;i++){
                    this.allList.push({
                        type:'single',
                        isOrder:false,
                        tableId:tableIdArray[i],
                        tableName:this.getMeasureNameById(tableIdArray[i]),
                        index:index++
                    })
                }

                // this.manage.relation=JSON.stringify(this.manage.relation)

                this.update()

            },
            removeEmptyInRelation(relation){

                for(let i=0;i<relation.groupList.length;i++){
                    if(relation.groupList[i].tableList.length===0){

                        relation.groupList.splice(i,1)
                    }
                }
            },
            update(){
                //保存前，将临时总量表还原到原始分组量表和独立量表


                this.manage.relation.groupList=[]
                this.manage.relation.dataList=[]
                for(let i=0;i<this.allList.length;i++){
                    let item=this.allList[i];
                    if(item.type==='multi'){
                        this.manage.relation.groupList.push(item)
                    }else{
                        this.manage.relation.dataList.push(item)
                    }
                }

                let relation=this.manage.relation
                if(typeof this.manage.relation==='object'){
                    relation=JSON.stringify(this.manage.relation)
                }

                relation=JSON.parse(relation)

                this.removeEmptyInRelation(relation)

                relation=JSON.stringify(relation)
                
                this.http.post('manage/update',{
                    id:this.manage.id,
                    relation:relation
                }).then(()=>{
                    this.isShowModal = false;
                    this.isShowTableGroupModal = false;
                    this.isShowJumpModal=false;
                    this.$Message.success("操作成功")
                    this.init()
                }).catch(error=>{
                    this.$Message.error(error)
                })
            },

            setEntranceTableFromFrontend(tableId,i){


                    for(let j=0;j<this.allList[i].tableList.length;j++){
                        if(this.allList[i].tableList[j].tableId===tableId){
                            for(let m=0;m<this.allList[i].tableList.length;m++){
                                this.allList[i].tableList[m].isEntrance=false;
                            }
                            break;
                        }
                    }

                    for(let j=0;j<this.allList[i].tableList.length;j++){
                        if(this.allList[i].tableList[j].tableId===tableId){
                            this.allList[i].tableList[j].isEntrance=true;


                            let temp=Util.clone(this.allList[i].tableList[j])

                            this.allList[i].tableList.splice(j,1)
                            this.allList[i].tableList.unshift(temp)


                        }
                    }
            },
            //设置入口量表
            setEntranceTable(tableId,index) {
                this.$Modal.confirm({
                    title: '您确认设置此量表为入口量表吗？',
                    content: '',
                    onOk: () => {
                        this.setEntranceTableFromFrontend(tableId,index)
                        this.update()
                    },
                    onCancel: () => {
                    }
                });
            },

            pageChange(page) {
                console.log(page)
            },

            getMeasureNameById(id){
                let returnStr=''
                for(let i=0;i<this.measureList.length;i++){
                    if(this.measureList[i].id===id){
                        returnStr= this.measureList[i].name;
                        break;
                    }
                }
                return returnStr
            },
            getMeasureList(){
                this.http.post('measure/listAll', {
                    isAll:true
                }).then(data => {
                    this.measureList=data.data;

                }).catch(error=>{
                    this.$Message.error(error)
                })
            },
            initTableGroupList(){
                this.tableGroupList=[];

                for(let i=0;i<this.manage.relation.groupList.length;i++){
                    let item=this.manage.relation.groupList[i]
                    this.tableGroupList.push({
                        tableGroupName:item.tableGroupName
                    })
                }

            },
            /**
             * 获取问卷信息
             * */
            getManage() {

                this.http.post('manage/getById', {
                    id:this.manageId
                }).then(data => {

                    data=data.data[0]
                    if(data.relation){
                        data.relation=JSON.parse(data.relation)
                    }else{
                        data.relation={
                            groupList:[],
                            dataList:[]
                        }
                    }
                    this.allLen=data.relation.groupList.length+data.relation.dataList.length;

                    if(data.relation.groupList.length>0 || data.relation.dataList.length>0){
                        //默认上排序
                        if((data.relation.groupList.length>0 && data.relation.groupList[0].index===undefined) || (data.relation.dataList.length>0 && data.relation.dataList[0].index===undefined)){
                        // if((true)){
                            let index=0;
                            data.relation.groupList.forEach(item=>{
                                item.index=index++;
                            })
                            data.relation.dataList.forEach(item=>{
                                item.index=index++;
                            })
                        }
                    }

                    this.allList=[];
                    this.$nextTick(()=>{
                        for(let i=0;i<this.allLen;i++){
                            let flag=false;
                            for(let m=0;m<data.relation.groupList.length;m++){
                                if(!data.relation.groupList[m].isOrder){
                                    data.relation.groupList[m].isOrder=false
                                }
                                if(data.relation.groupList[m].index===i){
                                    flag=true;
                                    data.relation.groupList[m].type='multi'
                                    this.allList.push(data.relation.groupList[m])
                                    break;
                                }
                            }
                            if(flag){
                                continue;
                            }
                            for(let m=0;m<data.relation.dataList.length;m++){
                                if(data.relation.dataList[m].index===i){
                                    flag=true;
                                    data.relation.dataList[m].type='single'
                                    this.allList.push(data.relation.dataList[m])
                                    break;
                                }
                            }
                        }




                        this.manage=JSON.parse(JSON.stringify(data))
                        this.initTableGroupList()
                    })

                }).catch(error=>{
                    
                    this.$Message.error(error)
                })

            },
            /**
             * 查看，进入子问卷
             */
            detail() {

            },
            /**
             * 选择量表
             */
            add() {


                //去除已经选择的量表
                this.selectedMeasureIdArray=[]

                this.manage.relation.groupList.forEach(item=>{
                    item.tableList.forEach(data=>{
                        this.selectedMeasureIdArray.push(data.tableId)
                    })
                })

                this.manage.relation.dataList.forEach(data=>{
                    this.selectedMeasureIdArray.push(data.tableId)
                })


                this.tableIdArray=[]
                this.isShowModal = true;
            },

            deleteById(id) {
                let d = JSON.parse(sessionStorage.dataList)

                let index = -1;

                for (let i = 0; i < d.length; i++) {
                    if (id === d[i].id) {
                        index = i;
                        break;
                    }
                }

                d.splice(index, 1);

                sessionStorage.dataList = JSON.stringify(d)
            },


        }
    }
</script>

<style scoped>
    @font-face {
        font-family: 'iconfont';  /* project id 276621 */
        src: url('//at.alicdn.com/t/font_276621_nky7n7280gp.eot');
        src: url('//at.alicdn.com/t/font_276621_nky7n7280gp.eot?#iefix') format('embedded-opentype'),
        url('//at.alicdn.com/t/font_276621_nky7n7280gp.woff2') format('woff2'),
        url('//at.alicdn.com/t/font_276621_nky7n7280gp.woff') format('woff'),
        url('//at.alicdn.com/t/font_276621_nky7n7280gp.ttf') format('truetype'),
        url('//at.alicdn.com/t/font_276621_nky7n7280gp.svg#iconfont') format('svg');
    }

    .iconfont {
        font-family: "iconfont" !important;
        font-size: 14px;
        font-style: normal;
        font-weight: bold;
        -webkit-font-smoothing: antialiased;
        -webkit-text-stroke-width: 0.2px;
        -moz-osx-font-smoothing: grayscale;
    }
</style>
