<template>


    <div style="overflow: visible">
        <Row style="padding:5px;">
            <Col span="22">
                <HeaderName name="问卷管理"></HeaderName>
            </Col>
            <Col span="2">
                <Button type="success" @click="add">创建问卷</Button>
            </Col>
        </Row>
        <Table stripe :columns="columns" :data="dataList" style="overflow: visible">
            <template slot-scope="{ row, index }" slot="action">
                <Dropdown style="margin-left: 20px;">
                    <Button type="warning" size="small">
                        操作
                        <Icon type="ios-arrow-down"></Icon>
                    </Button>
                    <DropdownMenu slot="list">
                        <DropdownItem><Button type="primary" size="small" style="margin-right: 5px;width:12em;" @click="edit(row)">修改名称</Button></DropdownItem>
                        <DropdownItem><Button type="success" size="small" style="margin-right: 5px;width:12em;" @click="copy(row)">复制</Button></DropdownItem>
                        <DropdownItem><Button type="primary" size="small" style="margin-right: 5px;width:12em;" @click="detail(row)">编辑</Button></DropdownItem>
                        <DropdownItem><Button type="error" size="small" style="margin-right: 5px;width:12em;"   @click="deletePaper(row)">删除</Button></DropdownItem>
                        <DropdownItem><Button type="primary" size="small" style="margin-right: 5px;width:12em;" @click="output(row)">导出</Button></DropdownItem>
                        <DropdownItem><Button type="success" size="small" style="margin-right: 5px;width:12em;" @click="preview(row)">报告预览</Button>
                        </DropdownItem>
                        <DropdownItem><Button type="primary" size="small" style="margin-right: 5px;width:12em;" @click="publish(row)">{{ row.status === 1 ? '取消发布' : '发布'}}</Button></DropdownItem>
                    </DropdownMenu>
                </Dropdown>
            </template>
        </Table>
        <div style="text-align: center;margin-top: 1em;">
            <Page :total="count" :page-size="pageSize" :current="currentPage" @on-change="pageChange"/>
        </div>

        <Modal
                v-model="isShowPaperModal"
                :title="opType==='add'?'创建问卷':'编辑问卷'"
                width="60%"
                :mask-closable="false"
        >
            <Form :model="paperForm" :label-width="150" :rules="paperFormRules" ref="paperForm">
                <FormItem label="名称" prop="name">
                    <Input v-model="paperForm.name" placeholder="请输入问卷名称"></Input>
                </FormItem>
                <FormItem label="别名" prop="alias">
                    <Input v-model="paperForm.alias" placeholder="请输入问卷别名"></Input>
                </FormItem>
                <FormItem label="量表是否随机" prop="isRandom">
                    <RadioGroup v-model="paperForm.isRandom" >
                        <Radio :label="1">
                            <span>随机</span>
                        </Radio>
                        <Radio :label="0">
                            <span>不随机</span>
                        </Radio>
                    </RadioGroup>
                </FormItem>
                <FormItem label="说明" prop="description">
                    <Input v-model="paperForm.description" placeholder="请输入问卷说明"></Input>
                </FormItem>
                <FormItem label="开头说明" prop="startDesc">
                    <Input type="textarea" :rows="3" v-model="paperForm.startDesc" placeholder="请输入开头说明"></Input>
                </FormItem>
                <FormItem label="结尾说明" prop="endDesc">
                    <Input type="textarea" :rows="3" v-model="paperForm.endDesc" placeholder="请输入结尾说明"></Input>
                </FormItem>
                <FormItem label="问卷回答完毕提示说明" prop="finish_tips">
                    <Input type="textarea" :rows="3" v-model="paperForm.finish_tips"
                           placeholder="请输入问卷回答完毕提示说明"></Input>
                </FormItem>
            </Form>
            <div slot="footer">
                <Button type="text" size="large" @click="hidePaperFormModal">取消</Button>
                <Button type="primary" size="large" @click="opPaper">确定</Button>
            </div>
        </Modal>


        <ReportPreview :manage="curPreviewManage" ref="reportPreview"></ReportPreview>
        <ManageOutput :manageId="curManageId" :paperName="paperName" ref="manageOutput"></ManageOutput>


    </div>


</template>

<script>
    import {Util} from '../../assets/js/Util'
    import ReportPreview from '../../components/ReportPreview'
    import ManageOutput from '../../components/ManageOutput'


    export default {
        components: {
            ReportPreview,
            ManageOutput,
        },
        data() {
            return {
                curManageId: 0,
                paperFormRules: {
                    name: [
                        {required: true, message: "问卷名称不能为空", trigger: "blur"}
                    ],
                    alias: [
                        {required: true, message: "问卷别名不能为空", trigger: "blur"}
                    ],
                    description: [
                        {required: true, message: "问卷说明不能为空", trigger: "blur"}
                    ],
                },
                paperForm: {
                    name: '',
                    alias: ''
                },
                isShowPaperModal: false,
                columns: [
                    {
                        type: 'index',
                        width: 60,
                        align: 'center',
                        indexMethod: (params) => {
                            return (this.currentPage - 1) * Util.pageSize + (params._index + 1);
                        }

                    },
                    {
                        title: '名称',
                        key: 'name'
                    },
                    {
                        title: '别名',
                        key: 'alias',
                        maxWidth: 200,
                    },
                    {
                        title: '创建时间',
                        key: 'createtime',
                        maxWidth: 150,
                    },
                    {
                        title: '状态',
                        key: 'status',
                        maxWidth: 80,
                        render: (h, params) => {
                            return h('div', {}, params.row.status === 1 ? '已完成' : '未完成')
                        }
                    },
                    {
                        title: '说明',
                        key: 'description',
                        maxWidth: 300,
                    },

                    {
                        title: '操作',
                        // key: 'action',
                        slot:'action',
                        maxWidth: 150,
                        minWidth: 80,

                    }

                ],


                dataList: [],
                opType: 'add',
                curPaper: null,
                count: 0,
                totalPages: 0,
                pageSize: Util.pageSize,
                currentPage: 1,
                imgUrl: '',
                measureList: [],
                questionList: [],
                curPreviewManage: {},
                paperName: ''
            }
        },
        mounted() {

            this.init()

        },
        methods: {

            init() {
                this.getList(1)
            },

            opPaper() {
                this.$refs.paperForm.validate(valid => {
                    if (valid) {
                        this.isShowPaperModal = false;

                        if (this.opType === 'add') {

                            this.http.post('manage/add', {
                                name: this.paperForm.name,
                                alias: this.paperForm.alias,
                                isRandom: this.paperForm.isRandom,
                                description: this.paperForm.description,
                                startDesc: this.paperForm.startDesc,
                                endDesc: this.paperForm.endDesc,
                                finish_tips: this.paperForm.finish_tips,
                            }).then(() => {
                                this.$Message.success("添加成功")
                                this.getList()
                            }).catch(error => {
                                this.$Message.error(error)
                            })

                        } else {

                            this.http.post('manage/update', this.paperForm).then(() => {
                                this.$Message.success("修改成功")
                                this.getList()
                            }).catch(error => {
                                this.$Message.error(error)
                            })
                        }

                    }
                })
            },

            output(row) {
                this.curManageId = row.id;
                this.paperName = row.name;
                this.$refs.manageOutput.show();


            },
            /**
             * 报告预览
             * */
            preview(row) {

                this.curPreviewManage = row;


                this.$refs.reportPreview.show()

            },
            pageChange(page) {
                this.getList(page)
            },
            getList(currentPage) {
                this.http.post('manage/list', {
                    currentPage: currentPage,
                    pageSize: this.pageSize
                }).then(data => {

                    this.count = data.count;
                    this.totalPages = data.totalPages;
                    this.currentPage = data.currentPage;

                    this.dataList = data.data;
                }).catch(error => {
                    this.$Message.error(error)
                })
            },
            copy(row) {

                this.$Modal.confirm({
                    title: '您确认复制当前文件吗？',
                    content: '',
                    onOk: () => {

                        this.http.post('manage/copyManage', {
                            id: row.id
                        }).then(data => {
                            this.$Message.success("复制成功！")
                            this.init();
                        }).catch(error => {
                            this.$Message.error(error)
                        })

                    },
                    onCancel: () => {
                    }
                });

            },
            /**
             * 查看，设置量表
             */
            detail(row) {
                this.$router.push({
                    path: '/paper/detail',
                    query: {
                        manageId: row.id
                    }
                })
            },
            add() {
                this.paperForm = {}
                this.opType = 'add'
                this.isShowPaperModal = true;
            },

            hidePaperFormModal() {
                this.paperForm = {}
                this.isShowPaperModal = false
            },
            edit(row) {
                this.opType = 'edit'
                this.paperForm = Util.clone(row)
                this.isShowPaperModal = true;

            },
            setAnswerStatus(param){
                let noAnswer=0
                if(param.row.noAnswer==0){
                    noAnswer=1
                }
                this.http.post('manage/update', {
                    id:param.row.id,
                    noAnswer:noAnswer
                }).then(() => {

                    this.$Message.success("修改成功")
                    this.getList()

                }).catch(error => {
                    this.$Message.error(error)
                })
            },
            async publish(row) {
                if (row.status === 1) {
                    this.$Modal.confirm({
                        title: '您确认取消发布吗？',
                        content: '',
                        onOk: () => {
                            this.http.post('manage/update', {
                                id: row.id,
                                status: 0
                            }).then(() => {

                                this.$Message.success("取消发布成功")
                                this.getList()

                            }).catch(error => {
                                this.$Message.error(error)
                            })

                        },
                        onCancel: () => {
                        }
                    });
                } else {

                    //未关联量表无法发布
                    let hasMeasureInPaper = await this.hasMeasureInPaper(row.id)

                    if (!hasMeasureInPaper) {
                        this.$Message.warning("请先给问卷添加量表！")
                        return;
                    }


                    this.$Modal.confirm({
                        title: '您确认发布吗？',
                        content: '',
                        onOk: () => {
                            this.curPaper = row

                            this.http.post('manage/update', {
                                id: this.curPaper.id,
                                status: 1
                            }).then(() => {

                                this.$Message.success("发布成功")
                                this.getList()


                            }).catch(error => {
                                this.$Message.error(error)
                            })

                        },
                        onCancel: () => {
                        }
                    });


                }


            },
            /**
             * 问卷中是否有量表，有的话才能发布
             * @param paperId
             * @returns {Promise<any>}
             */
            hasMeasureInPaper(paperId) {

                return new Promise((resolve, reject) => {
                    this.http.post('manage/getById', {
                        id: paperId
                    }).then(data => {

                        data = data.data[0]
                        if (data.relation && (JSON.parse(data.relation).groupList.length > 0 || JSON.parse(data.relation).dataList.length > 0)) {
                            resolve(true)
                        } else {
                            resolve(false)
                        }

                    }).catch(error => {
                        this.$Message.error(error)
                    })
                })


            },

            deletePaper(row) {

                this.$Modal.confirm({
                    title: '您确认删除吗？',
                    content: '',
                    onOk: () => {
                        this.http.post('manage/delete', {
                            id: row.id
                        }).then(() => {
                            this.$Message.success("删除成功")
                            this.getList()
                        }).catch(error => {
                            this.$Message.error(error)
                        })

                    },
                    onCancel: () => {
                    }
                });


            }
        }
    }
</script>

