<template>


    <div style="min-height: 40em">

        <Row style="padding:5px;">
            <Col span="24">
                <HeaderName border name="问卷查看"></HeaderName>
            </Col>
        </Row>

        <Row style="padding:5px">
            <Col span="24">
                <Form ref="formInline" :model="formInline" inline >

                    <FormItem label="区域管理员" :label-width="120" prop="administrator" style="width:30em;">

                        <Select v-model="formInline.administrator">
                            <Option :value="item.id" v-for="item in administratorList">{{item.name}}</Option>
                        </Select>
                    </FormItem>


                    <FormItem>
                        <Button type="primary" icon="ios-search" @click="query">查询</Button>
                    </FormItem>
                </Form>

            </Col>

        </Row>

        <Table stripe :columns="columns" :data="dataList"></Table>
        <div style="text-align: center;margin-top: 1em;">
            <Page :total="count" :page-size="pageSize" :current="currentPage" @on-change="pageChange"/>
        </div>




        <Modal
                v-model="isShowPaperModal"
                :title="'查看问卷'"
                width="60%"
                :mask-closable="false"
        >
            <Form :model="paperForm" :label-width="150" :rules="paperFormRules" ref="paperForm">
                <FormItem label="名称" prop="name">
                    <Input v-model="paperForm.name" placeholder="请输入问卷名称" readonly></Input>
                </FormItem>
                <FormItem label="别名" prop="alias">
                    <Input v-model="paperForm.alias" placeholder="请输入问卷别名" readonly></Input>
                </FormItem>
                <FormItem label="说明" prop="description">
                    <Input v-model="paperForm.description" placeholder="请输入问卷说明" readonly></Input>
                </FormItem>
                <FormItem label="开头说明" prop="startDesc">
                    <Input type="textarea" :rows="3" v-model="paperForm.startDesc" placeholder="请输入开头说明" readonly></Input>
                </FormItem>
                <FormItem label="结尾说明" prop="endDesc">
                    <Input type="textarea" :rows="3" v-model="paperForm.endDesc" placeholder="请输入结尾说明" readonly></Input>
                </FormItem>
                <FormItem label="问卷回答完毕提示说明" prop="finish_tips">
                    <Input type="textarea" :rows="3" v-model="paperForm.finish_tips" placeholder="请输入问卷回答完毕提示说明" readonly></Input>
                </FormItem>
            </Form>
            <div slot="footer">
                <Button type="text" size="large" @click="hidePaperFormModal">关闭</Button>
            </div>
        </Modal>

        <!--导出用的全屏框-->
        <Modal v-model="isShowOutputModal" fullscreen title="导出">

            <div id="container" style="background: #FFF">
                <Row style="text-align: center">
                    <h3>{{paperName}}</h3>
                </Row>

                <template v-for="measure in measureList">
                    <Row style="text-align: center">
                        <h4>{{measure.alias}}</h4>
                    </Row>
                    <Row v-for="(item,index) in measure.list">

                        <Col span="24">

                            <!--问答-->
                            <template v-if="item.type==='0'">
                                <Col span="16" offset="4" style="margin-bottom: 20px;">
                                    <div style="margin-bottom: 2px;" @click="editQuestion(item,index)">
                                        {{item.name}}
                                    </div>
                                    <Input type="textarea" :rows="3" placeholder="请输入您的答案"></Input>
                                </Col>
                            </template>

                            <!--指导语-->
                            <template v-if="item.type==='1'">
                                <Col span="16" offset="4" style="margin-bottom: 20px;">
                                    <div style="margin-bottom: 2px;" @click="editQuestion(item,index)">
                                        {{item.name}}
                                    </div>
                                </Col>
                            </template>

                            <!--条目-->
                            <template v-if="item.type==='2'">
                                <Col span="16" offset="4" style="margin-bottom: 20px;">
                                    <div style="margin-bottom: 2px;" @click="editQuestion(item,index)">
                                        {{(item.questionIndex)+'、'+item.name}}
                                    </div>
                                    <RadioGroup vertical>
                                        &nbsp;&nbsp;&nbsp;&nbsp;<Radio :label="option.key"
                                                                       v-for="option in item.answer"></Radio>
                                    </RadioGroup>
                                </Col>
                            </template>

                            <!--矩阵-->
                            <template v-if="item.type==='3'">
                                <Col span="16" offset="4" style="margin-bottom: 20px;">
                                    <div style="margin-bottom: 2px;" @click="editQuestion(item,index)">
                                        {{(item.questionIndex)+'、'+item.name}}
                                    </div>
                                    <div v-for="(child,childIndex) in item.children"
                                         style="padding-left: 2em;margin-bottom: 1em;">
                                        <p>{{((childIndex+1))+'、'+child.name}}</p>
                                        <RadioGroup vertical>
                                            <Radio :label="option.key" v-for="option in child.answer"></Radio>
                                        </RadioGroup>
                                    </div>


                                </Col>
                            </template>
                        </Col>

                    </Row>

                </template>


            </div>

            <div slot="footer">
                <Button type="text" size="large" @click="isShowOutputModal=false">取消</Button>
                <Download domId="container" @down="outputDone" :filename="paperName"></Download>
            </div>
        </Modal>

        <Modal
                v-model="isShowBeforeExportModal"
                title="设置量表导出顺序"
                width="50%"
                :mask-closable="false"
        >
            <Row v-for="(item,index) in measureList" style="border-bottom: 1px solid gainsboro;margin:7px 0;">
                <Col span="1" offset="1">
                    {{index+1}}
                </Col>
                <Col span="20">
                    {{item.name}}
                </Col>
                <Col span="1">
                    <template v-if="index>0">
                        <Icon type="md-arrow-round-up" size="20" style="cursor: pointer;margin-top: 0px;"
                              @click="up(item,index)"></Icon>
                    </template>
                    <template v-else style="visibility: hidden">
                        <Icon style="visibility: hidden"
                        ></Icon>
                    </template>

                </Col>
                <Col span="1">
                    <template v-if="index!==(measureList.length-1)">

                        <Icon type="md-arrow-round-down" size="20" style="cursor: pointer;margin-top: 0px;"
                              @click="down(item,index)"
                        ></Icon>
                    </template>
                    <template v-else>
                        <Icon style="visibility: hidden"
                        ></Icon>
                    </template>
                </Col>
            </Row>
            <table></table>
            <div slot="footer">
                <Button type="text" size="large" @click="isShowBeforeExportModal=false">取消</Button>
                <Button type="primary" size="large" @click="showRealOutputModal">确定</Button>
            </div>
        </Modal>

        <Modal
                v-model="isShowPreviewModal"
                title="报告预览"
                width="50%"
                :mask-closable="false"
        >
            <Row style="">
                <template v-for="measure in previewData" v-if="measure.result && measure.result.length>0">
                    <div>
                        <span style="font-weight: bold">{{measure.name+"："}}</span><span v-if="measure.description">{{measure.description}}</span>
                    </div>
                    <div>
                        <template v-for="factor in measure.result">
                            <template v-if="factor.multifactors">
                                您的{{factor.name}}
                                <template v-for="d in factor.subfactor">
                                    {{d.name}}得分是：{{d.score}}
                                </template>
                                {{factor.content}}

                            </template>
                            <template v-else>
                                您的{{factor.name}}得分是：{{factor.benchMarkScore||factor.totalScore}}，{{factor.content}}
                            </template>
                            <br/>

                        </template>
                    </div>
                    <template v-if="measure.chartType">
                        <Mychart :options="measure.options" ></Mychart>
                    </template>
                </template>
            </Row>
            <div slot="footer">
                <Button type="text" size="large" @click="isShowPreviewModal=false">关闭</Button>
            </div>
        </Modal>


    </div>


</template>

<script>
    import {Util} from '../../assets/js/Util'
    import Download from '../../components/Download'
    import Mychart from '../../components/Mychart'

    export default {
        components: {
            Download,
            Mychart
        },
        data() {
            return {
                formInline: {},
                previewData:[],
                isShowPreviewModal:false,
                isShowBeforeExportModal: false,
                isShowOutputModal: false,
                paperFormRules: {
                    name: [
                        {required: true, message: "问卷名称不能为空", trigger: "blur"}
                    ],
                    alias: [
                        {required: true, message: "问卷别名不能为空", trigger: "blur"}
                    ],
                    description: [
                        {required: true, message: "问卷说明不能为空", trigger: "blur"}
                    ],
                },
                paperForm: {
                    name: '',
                    alias: ''
                },
                isShowPaperModal: false,
                userGroup: [],
                columns: [
                    {
                        type: 'index',
                        width: 60,
                        align: 'center',
                        indexMethod: (params) => {
                            return (this.currentPage - 1) * Util.pageSize + (params._index + 1);
                        }

                    },
                    {
                        title: '名称',
                        key: 'name'
                    },
                    {
                        title: '别名',
                        key: 'alias',
                        maxWidth: 200,
                    },
                    {
                        title: '创建时间',
                        key: 'createtime',
                        maxWidth: 150,
                    },
                    {
                        title: '状态',
                        key: 'status',
                        maxWidth: 80,
                        render: (h, params) => {
                            return h('div', {}, params.row.status === 1 ? '已完成' : '未完成')
                        }
                    },

                    {
                        title: '说明',
                        key: 'description',
                        maxWidth: 300,
                    },

                    {
                        title: '操作',
                        key: 'action',
                        maxWidth: 450,
                        render: (h, params) => {
                            return h('div', [
                                h('Button', {
                                    props: {
                                        type: 'primary',
                                        size: 'small'
                                    },
                                    style: {
                                        marginRight: '5px'
                                    },
                                    on: {
                                        click: () => {
                                            this.edit(params)
                                        }
                                    }
                                }, '查看名称'),
                                h('Button', {
                                    props: {
                                        type: 'success',
                                        size: 'small'
                                    },
                                    style: {
                                        marginRight: '5px'
                                    },
                                    on: {
                                        click: () => {
                                            this.copy(params)
                                        }
                                    }
                                }, '复制'),
                                h('Button', {
                                    props: {
                                        type: 'primary',
                                        size: 'small'
                                    },
                                    style: {
                                        marginRight: '5px'
                                    },
                                    on: {
                                        click: () => {
                                            this.detail(params)
                                        }
                                    }
                                }, '查看'),
                                h('Button', {
                                    props: {
                                        type: 'success',
                                        size: 'small'
                                    },
                                    style: {
                                        marginRight: '5px'
                                    },
                                    on: {
                                        click: () => {
                                            this.output(params)
                                        }
                                    }
                                }, '导出'),
                                h('Button', {
                                    props: {
                                        type: 'primary',
                                        size: 'small'
                                    },
                                    style: {
                                        marginRight: '5px'
                                    },
                                    on: {
                                        click: () => {
                                            this.preview(params)
                                        }
                                    }
                                }, '报告预览'),

                            ])
                        }
                    }

                ],


                dataList: [],
                opType: 'add',
                curPaper: null,
                count: 0,
                totalPages: 0,
                pageSize: Util.pageSize,
                currentPage: 1,
                imgUrl: '',
                measureList: [],
                questionList: [],
                paperName: '',
                administratorList:[]
            }
        },
        mounted() {

            this.getAdministratorList()

            this.getList(1)

        },
        methods: {
            query(){
                this.getList(1)
            },
            getAdministratorList() {
                this.http.post('user/listMange', {
                    currentPage:1,
                    pageSize:50,
                }).then(data => {

                    data=data.data;

                    this.administratorList = data;
                })
            },
            up(item,index){
                let top=this.measureList.splice(index-1,1)[0]
                this.measureList.splice(index,0,top)
            },
            down(item,index){
                let down=this.measureList.splice(index,1)[0]
                this.measureList.splice(index+1,0,down)
            },
            outputDone() {
                this.$Message.success("导出成功！")
                this.isShowOutputModal = false;
            },
            getQuestionListByPaperId(id, callback) {
                this.http.post('manage/getAllMeasure', {
                    id: id
                }).then(data => {
                    data = data.data;

                    for (let i = 0; i < data.length; i++) {
                        for (let j = 0; j < data[i].list.length; j++) {
                            if (data[i].list[j].answer) {
                                data[i].list[j].answer = JSON.parse(data[i].list[j].answer)
                            }

                            for (let k = 0; k < data[i].list[j].children.length; k++) {
                                data[i].list[j].children[k].answer = JSON.parse(data[i].list[j].children[k].answer)
                            }
                        }
                    }

                    this.measureList = data;

                    callback();

                }).catch(error => {
                    this.$Message.error(error)
                })
            },

            showRealOutputModal(){
                this.isShowBeforeExportModal=false;
                this.isShowOutputModal=true;
            },
            output(params) {
                this.getQuestionListByPaperId(params.row.id, () => {
                    this.isShowBeforeExportModal = true;
                    this.paperName = params.row.name;
                })


            },
            preview(params) {
                this.http.post('manage/previewManage', {
                    manageId: params.row.id,
                }).then((data) => {

                    data=data.data;

                    for(let i=0;i<data.length;i++){

                        if(data[i].chartType){
                            data[i].options={
                                xData:[],
                                dataArray:[],
                                type:data[i].chartType,
                                domId:Util.uuid()
                            }
                            for(let j=0;j<data[i].result.length;j++){
                                if(!data[i].result[j].multifactors){
                                    data[i].options.xData.push(data[i].result[j].name)
                                    data[i].options.dataArray.push(data[i].result[j].benchMarkScore||data[i].result[j].totalScore)
                                }

                            }
                        }
                    }

                    this.previewData=data;

                    this.isShowPreviewModal=true;

                }).catch(error => {
                    this.$Message.error(error)
                })


            },

            pageChange(page) {
                this.getList(page)
            },
            getList(currentPage) {
                this.http.post('manage/list', {
                    currentPage: currentPage,
                    pageSize: this.pageSize,
                    userId:this.formInline.administrator
                }).then(data => {

                    this.count = data.count;
                    this.totalPages = data.totalPages;
                    this.currentPage = data.currentPage;

                    this.dataList = data.data;
                }).catch(error => {
                    this.$Message.error(error)
                })
            },

            copy(params) {

                this.$Modal.confirm({
                    title: '您确认复制当前文件吗？',
                    content: '',
                    onOk: () => {

                        this.http.post('manage/copyManage', {
                            id: params.row.id
                        }).then(data => {
                            this.$Message.success("复制成功！")
                            this.init();
                        }).catch(error => {
                            this.$Message.error(error)
                        })

                    },
                    onCancel: () => {
                    }
                });

            },
            /**
             * 查看，设置量表
             */
            detail(params) {
                this.$router.push({
                    path: '/paper/detail',
                    query: {
                        manageId: params.row.id,
                        isQuery:true,
                    }
                })
            },

            hidePaperFormModal() {
                this.paperForm = {}
                this.isShowPaperModal = false
            },
            edit(params) {
                this.opType = 'edit'
                this.paperForm = Util.clone(params.row)
                this.isShowPaperModal = true;

            },


        }
    }
</script>

<style scoped>
</style>
