<template>


    <div>
        <Row style="padding:5px;">
            <Col span="22">
                <HeaderName name="用户组管理"></HeaderName>
            </Col>
            <Col span="2">
                <Button type="success" @click="add">新增</Button>
            </Col>
        </Row>
        <Table stripe :columns="columns" :data="dataList"></Table>
        <div style="text-align: center;margin-top: 1em;">
            <Page :total="count" :page-size="pageSize" :current="currentPage" @on-change="pageChange"/>
        </div>

        <Modal
                v-model="isShowPaperModal"
                title="请选择问卷"
                :mask-closable="false"

        >

            <CheckboxGroup v-model="paperGroup">

                <template v-for="item in paperList">
                    <Checkbox :label="item.id">
                        <span>{{item.name}}</span>
                    </Checkbox>
                    <br/>
                </template>
            </CheckboxGroup>

            <div slot="footer">
                <Button type="text" size="large" @click="isShowPaperModal=false">取消</Button>
                <Button type="primary" size="large" @click="selectPaperGroup">确定</Button>
            </div>
        </Modal>
        <Modal
          title="设置用户组绑定"
          v-model="dialogVisible"
           :mask-closable="false"
          >
          <Row v-for="(relation,index) in relations" style="margin-top:10px">
            <Col :span="8" style="padding:0 5px">
                <Input  :maxlength="50" placeholder="填写关系" v-model="relation.relation"></Input>
            </Col>
             <Col :span="8" style="padding:0 5px">
                   <Select v-model="relation.relation_user_group_id" placeholder="请选择用户组">
                    <Option
                      v-for="userGroup in userGroups"
                      :value="userGroup.id"
                      >
                      {{userGroup.name}}
                    </Option>
                  </Select>
            </Col>
            <Col :span="8">
                <Icon type="ios-add-circle" size="25" @click='addGroupRelation'></Icon>
                <Icon type="ios-remove-circle" size="25" @click='deleteGroupRelation(index)'></Icon>
            </Col>
          </Row>
          <span slot="footer" class="dialog-footer">
            <Button @click="dialogVisible = false">取 消</Button>
            <Button type="primary" @click="saveRelation()">确 定</Button>
          </span>
        </Modal>
  
        <user-list v-if='showUserList' :userGroup='curUserGroup'></user-list>
        
       
    </div>


</template>

<script>
    import {Util} from '../../assets/js/Util'
    import userList from "./userList"
    export default {
        components:{
            userList
        },
        data() {
            return {
                paperGroup: [],
                relations:[],
                dialogVisible:false,
                currentUserGroupId:"",
                userGroups:[
                    //{id:"",name:""}
                ],
                userGroupRelations:[
                    {value:"父亲",label:"父 亲"},
                    {value:"母亲",label:"母 亲"},
                ],

                isShowPaperModal: false,
                columns: [
                    {
                        type: 'index',
                        width: 60,
                        align: 'center',
                        indexMethod: (params) => {
                            return (this.currentPage - 1) * Util.pageSize + (params._index + 1);
                        }
                    },
                    {
                        title: '名称',
                        key: 'name'
                    },
                    {
                        title: '描述',
                        key: 'description',
                    },
                    {
                        title: '调查状态',
                        key: 'suspend',
                        maxWidth: 100,
                        render: (h, params) => {
                            return h('div', [
                               h('Button', {
                                    props: {
                                        type: 'primary',
                                        size: 'small'
                                    },
                                    style: {
                                        marginRight: '5px'
                                    },
                                    on: {
                                        click: () => {
                                            this.setAnswerStatus(params)
                                        }
                                    }
                                }, params.row.suspend === 1 ? '暂停' : '调查中'),
                            ])
                        }
                    },
                    {
                        title: '关联问卷',
                        key: 'manageNameArray',
                        render: (h, params) => {
                            return h('div', {
                                domProps: {
                                    innerHTML: params.row.manageNameArray
                                }
                            })
                        }
                    },
                    {
                        title: '操作',
                        maxWidth: 400,
                        key: 'action',
                        render: (h, params) => {
                            return h('div', [
                                h('Button', {
                                    props: {
                                        type: 'primary',
                                        size: 'small'
                                    },
                                    style: {
                                        marginRight: '5px'
                                    },
                                    on: {
                                        click: () => {
                                            this.edit(params,false)
                                        }
                                    }
                                }, '编辑'),
                               h('Button', {
                                    props: {
                                        type: 'success',
                                        size: 'small'
                                    },
                                    style: {
                                        marginRight: '5px'
                                    },
                                    on: {
                                        click: () => {
                                            this.edit(params,true)
                                        }
                                    }
                                }, '关联问卷'),
                                h('Button', {
                                    props: {
                                        type: 'error',
                                        size: 'small'
                                    },
                                    style: {
                                        marginRight: '5px'
                                    },
                                    on: {
                                        click: () => {
                                            this.delete(params)
                                        }
                                    }
                                }, '删除'),
                                h('Button', {
                                    props: {
                                        type: 'error',
                                        size: 'small'
                                    },
                                    style: {
                                        marginRight: '5px'
                                    },
                                    on: {
                                        click: () => {
                                            this.getUser(params)
                                        }
                                    }
                                }, '用户列表'),
                                 h('Button', {
                                    props: {
                                        type: 'success',
                                        size: 'small'
                                    },
                                    style: {
                                        marginRight: '5px'
                                    },
                                    on: {
                                        click: () => {
                                            this.showRelation(params)
                                        }
                                    }
                                }, '用户组绑定'),

                                h('Button', {
                                    props: {
                                        type: params.row.report_visible === 1 ? 'primary' : 'error',
                                        size: 'small'
                                    },
                                    style: {
                                        marginRight: '5px'
                                    },
                                    on: {
                                        click: () => {
                                            this.setVisible(params)
                                        }
                                    }
                                }, params.row.report_visible === 1 ? '报告可见' : '报告不可见'),
                                h('Button', {
                                    props: {
                                        type: 'success',
                                        size: 'small'
                                    },
                                    style: {
                                        marginRight: '5px'
                                    },
                                    on: {
                                        click: () => {
                                            this.downloadQrCode(params)
                                        }
                                    }
                                }, '下载二维码')
                            ])
                        }
                    }

                ],
                dataList: [],
                count: 0,
                totalPages: 0,
                pageSize: Util.pageSize,
                currentPage: 1,
                paperList: [],
                curUserGroup: null,
                showUserList:false,
            }
        },
        mounted() {
            this.init()
        },
        methods: {
            init() {
                this.getList(1)
                this.getPaperList();
            },
            downloadQrCode(params) {

                Util.downloadQrCodeWithLink(Util.generateQrcodeUrlWithGroupId(params.row.id), params.row.name)
            },
            pageChange(page) {
                this.getList(page)
            },
            getRelationName(id){
                let name=""
                if(this.userGroups&&this.userGroups.length>0){
                    for(let i=0;i<this.userGroups.length;i++){
                        if(this.userGroups[i]["id"]===id){
                            name=this.userGroups[i]["name"]
                            break
                        }
                    }
                }
                return name
            },
            saveRelation(){
                let arr=[]
                let user_group_id=this.currentUserGroupId
                if(this.relations&&this.relations.length>0){
                    for(let i=0;i<this.relations.length;i++){
                        let obj=this.relations[i]
                        if(obj["relation_user_group_id"]&&obj["relation"]){
                            obj["user_group_id"]=user_group_id
                            obj["relation_user_group_name"]=this.getRelationName(obj["relation_user_group_id"])
                            arr.push(obj)
                        }
                    }
                    this.http.post('user/addRealtionGroup', {
                        id: user_group_id,
                        relations:JSON.stringify(arr)
                    }).then(data => {
                        this.dialogVisible=false
                    })
                }

            },
            addGroupRelation(){
                this.relations.push({relation:"",relation_user_group_id:''})
            },
            deleteGroupRelation(index){
                   this.relations.splice(index, 1);
                   if(this.relations.length<=0){
                        this.relations=[{relation:"",relation_user_group_id:''}]
                   }
            },
            showRelation(param){
                let id=param.row.id
                this.http.post('user/getNoRalationGroups', {
                    id: id,
                }).then(data => {
                    this.currentUserGroupId=id
                    this.userGroups=data.data.userGroups
                    
                    if(data.data.relations&&data.data.relations.length>0){
                        this.relations=data.data.relations
                    }else{
                        this.relations=[{relation:"",relation_user_group_id:''}]
                    }
                    this.dialogVisible=true
                })


            },
            getList(currentPage) {
                this.http.post('user/listGroup', {
                    currentPage: currentPage,
                    pageSize: this.pageSize
                }).then(data => {

                    this.count = data.count;
                    this.totalPages = data.totalPages;
                    this.currentPage = data.currentPage;

                    data = data.data;
                    for (let i = 0; i < data.length; i++) {

                        let manageNameArray = []

                        for (let j = 0; j < data[i].manage.length; j++) {
                            manageNameArray.push(data[i].manage[j].name)
                        }

                        data[i].manageNameArray = manageNameArray.join('<br/>');
                    }

                    this.dataList = data;
                })
            },
            getPaperList() {
                this.http.post('manage/getAllManagePublic', {}).then(data => {
                    this.paperList = data.data;
                })
            },
            add() {
                this.$router.push('/userGroup/operate')
            },
            setAnswerStatus(param){
                let noAnswer=1
                if(param.row.suspend==1){
                    noAnswer=0
                }
                this.http.post('user/updateUserGroupPause', {
                    id:param.row.id,
                    suspend:noAnswer
                }).then(() => {

                    this.$Message.success("修改成功")
                    this.init()

                }).catch(error => {
                    this.$Message.error(error)
                })
            },
            edit(params,flag) {
                sessionStorage.userGroup = JSON.stringify(params.row)
                this.$router.push({
                    path: '/userGroup/operate',
                    query: {
                        opType: 'edit',
                        id: params.row.id,
                        isRelation:flag
                    }
                })
            },
            setVisible(params) {
                let url = 'user/updateVisible'

                params.manageId = JSON.stringify(params.manageId)

                this.$Message.warning("操作中，请稍等！")

                this.http.post(url, {
                    id: params.row.id,
                    report_visible: params.row.report_visible === 1 ? 0 : 1
                }).then(() => {
                    this.$Message.success("操作成功！")
                    this.init();
                }).catch(error => {
                    this.$Message.error(error)
                })
            },

            selectPaperGroup() {

                this.http.post('user/updateGroup', {
                    id: this.curUserGroup.id,
                    manageId: JSON.stringify(this.paperGroup)
                }).then(() => {
                    this.$Message.success("关联成功")
                    this.getList()
                }).catch(error => {
                    this.$Message.error(error)
                })
            },
            getUser(params){
                this.showUserList=false
                this.$nextTick(()=>{
                    this.showUserList=true
                    this.curUserGroup=params.row.id
                })
            },
            delete(params) {

                this.$Modal.confirm({
                    title: '您确认删除吗？',
                    content: '',
                    onOk: () => {

                        this.http.post('user/deleteGroup', {
                            id: params.row.id
                        }).then(() => {
                            this.$Message.success("删除成功")
                            this.getList()
                        }).catch(error => {
                            this.$Message.error(error)
                        })

                    },
                    onCancel: () => {
                    }
                });


            }
        }
    }
</script>

<style scoped>
    h3 {
        margin: 40px 0 0;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    /*li {*/
    /*    display: inline-block;*/
    /*    margin: 0 10px;*/
    /*}*/

    a {
        color: #42b983;
    }
</style>
