<template>


    <div class="login-wrap">
        <transition name="slideT">
            <div class="mainContent" >

                <div class="ms-login" style="overflow: visible">

                    <Tabs style="overflow: visible">
                        <Tab-pane label="用户组操作" name="account" icon="android-person">

                            <Form :model="formItem" :rules="rules" ref="loginForm" :label-width="80" class="demo-ruleForm">

                                <Form-item prop="name" label="名称" v-if='!isRelation'>
                                    <Input  :maxlength="50" placeholder="请输入用户组名称" v-model="formItem.name"></Input>
                                </Form-item>

                                <Form-item prop="description" label="描述" v-if='!isRelation'>
                                    <Input type="textarea" :rows="4" :maxlength="300" placeholder="请输入用户组描述" v-model="formItem.description"></Input>
                                </Form-item>
                                <Form-item prop="single" label="单个条目回答">
                                    <Checkbox v-model="formItem.single"  :true-value="1" :false-value="0"></Checkbox>
                                </Form-item>
                                <FormItem label="关联问卷" prop="manageId">

                                    <Select v-model="formItem.manageId" placement="top" multiple :placement="'bottom'">
                                        <Option :value="item.id" v-for="item in paperList">
<!--                                            <Button ghost size="small" type="primary" @click="managePreview($event,item)">查看问卷</Button>-->
                                            {{item.name}}
                                        </Option>
                                    </Select>
                                </FormItem>

                            </Form>

                        </Tab-pane>
                    </Tabs>

                    <div class="login-btn">
                        <Button type="primary" @click="operate">确定</Button>
                    </div>
                    <div class="signup-btn">
                        <a href="javascript:" @click="back">返回</a>
                    </div>
                </div>
            </div>
        </transition>

        <ManagePreview title="查看问卷" :paperName="paperName" :measureList="measureList" ref="managePreview"></ManagePreview>
    </div>

</template>

<script>
    import {Util} from '../../assets/js/Util'
    import ManagePreview from "../../components/ManagePreview";
    export default {
        components:{
            ManagePreview
        },
        data() {
            return {
                isEdit:this.$route.query.opType==='edit',
                isRelation:this.$route.query.isRelation,
                formItem: {
                    name: '',
                    manageId:[]
                },
                rules: {
                    name: [
                        {required: true, message: "用户组名称不能为空", trigger: "blur"},
                    ],
                    desc: [
                        {required: true, message: "用户组描述不能为空", trigger: "blur"},
                    ],
                },
                paperList:[],
                paperName:'',
                measureList:[]
            }
        },
        computed: {
        },
        mounted() {
            this.getPaperList();

            if(this.isEdit){

                this.formItem=JSON.parse(sessionStorage.userGroup);

                if(this.formItem.manage && this.formItem.manage.length>0){
                    let array=[]
                    this.formItem.manage.forEach((item)=>{
                        array.push(item.id)
                    })
                    this.formItem.manageId=array;
                }else{
                    this.formItem.manageId=[]
                }

            }

        },
        methods: {
            managePreview(e,item){
                this.paperName=item.name;

                this.getQuestionListByPaperId(item.id,()=>{
                    this.$refs.managePreview.show();
                })
                e.preventDefault();
                e.stopPropagation()
                return false;
            },
            getQuestionListByPaperId(id, callback) {
                this.http.post('manage/getAllMeasure', {
                    id: id
                }).then(data => {
                    data = data.data;

                    for (let i = 0; i < data.length; i++) {
                        for (let j = 0; j < data[i].list.length; j++) {
                            if (data[i].list[j].answer) {
                                data[i].list[j].answer = JSON.parse(data[i].list[j].answer)
                            }

                            for (let k = 0; k < data[i].list[j].children.length; k++) {
                                data[i].list[j].children[k].answer = JSON.parse(data[i].list[j].children[k].answer)
                            }
                        }
                    }

                    this.measureList = data;

                    callback();

                }).catch(error => {
                    this.$Message.error(error)
                })
            },
            back(){
                this.$router.push('/userGroup/list')
            },
            async getPaperList() {
                let data= await this.http.post('manage/getAllManagePublic', {
                });
                this.paperList = data.data;
            },
            operate() {

                this.$refs.loginForm.validate((valid) => {
                    if (valid) {


                        let url='user/addGroup';

                        if(this.isEdit){
                            url='user/updateGroup'
                        }

                        let params=Util.clone(this.formItem)

                        params.manageId=JSON.stringify(params.manageId)

                        this.$Message.warning("操作中，请稍等！")

                        this.http.post(url,params).then(()=>{
                            if(this.isEdit){
                                this.$Message.success("修改成功！")
                            }else{
                                this.$Message.success("新增成功！")
                            }
                            this.back()
                        }).catch(error=>{
                            this.$Message.error(error)
                        })

                    }

                })

            },




        }
    }
</script>

<style scoped>
    .login-wrap {
        position: relative;
        width: 100%;
        height: 100vh;
        background-size: 100% 100%;
    }

    .mainContent {
        position: absolute;
        left: 50%;
        margin-left: -250px;
    }

    .ms-title {
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
        font-size: 26px;
        color: rgba(255, 255, 255, 0.8);
        font-weight: 500;
        letter-spacing: 4px;

    }

    .ms-login {
        width: 500px;
        overflow: hidden;
        padding: 40px;
        border-radius: 5px;
        background: #fff;
        box-sizing: border-box;
        position: relative
    }

    .login-btn {
        text-align: center;
    }

    .signup-btn {
        margin-top: 10px;
        text-align: center;
        cursor: pointer;
    }

    .login-btn button {
        width: 100%;
        height: 36px;
    }

    .slideT-enter-active, .slideT-leave-active {
        transition: all .6s ease-out;
    }

    .slideT-enter {
        opacity: 0;
        transform: translateY(-30px);
    }

</style>
