<template>
    <div>
     <Modal
          title="用户列表"
          v-model="dialogVisible"
           :mask-closable="false"
            width="800px"
          >
        <Row style="padding:5px">
            <Col span="24">
                <Form ref="formInline" inline>
                    <Form-item label="名称" :label-width="50" prop="name">
                        <Input  :maxlength="50" placeholder="请输入用户名称" v-model="formItem.name"></Input>
                    </Form-item>
                     <Form-item  label="手机号" :label-width="50" prop="phone">
                        <Input  :maxlength="50" placeholder="请输入手机号" v-model="formItem.phone"></Input>
                    </Form-item>
                    <Button type="primary" icon="ios-search" @click="getuserList()">查询</Button>
                </Form>
            </Col>
        </Row>
        <Table stripe :columns="columns" :data="dataList"></Table>
        </Modal>
    </div>
</template>

<script>
    import {Util} from '../../assets/js/Util'

    export default {
        data() {
            return {
                dialogVisible:true,
                dataList:[],
                formItem:{
                    userGroup:this.$attrs['userGroup'],
                    name:'',
                    phone:'',
                },
                columns: [
                    {
                        type:'index',
                        width:60,
                        align:'center',
                        indexMethod:(params)=>{
                            return (params._index+1);
                        }
                    },
                    {
                        title: '用户名',
                        key: 'name'
                    },
                    {
                        title: '手机号',
                        key: 'phone'
                    },
                    {
                        title: '性别',
                        key: 'sex',
                        render: (h, params) => {
                                    return h('div', {}, params.row.sex === 'male' ? '男' : '女')
                                }
                    },
                    {
                        title: '电子邮箱',
                        key: 'email'
                    },
                    {
                        title: '出生日期',
                        key: 'birthday'
                    },
                     {
                        title: '操作',
                        key: 'action',
                        minWidth:50,
                        render: (h, params) => {
                            return h('div', [
                                
                                h('Button',{
                                    props:{
                                        type:'primary',
                                        size:'small'
                                    },
                                    style:{
                                        marginRight:'5px'
                                    },
                                    on:{
                                        click:()=>{
                                            this.updatePassword(params)
                                        }
                                    }
                                },'修改密码')
                            ])
                        }
                    }
       

                ],
            }
        },
        mounted() {
            this.getuserList()
        },
        methods: {
                   updatePassword(params){
                this.$router.push({
                    path:'/user/updatePassword',
                    query:{
                        userId:params.row.id,
                    }
                })
            },
            getuserList(){
                this.http.post('user/getUserGroupUserList',this.formItem).then((res)=>{
                    this.dataList=res.data
                }).catch(error=>{
                    this.$Message.error(error)
                })
            }
        },
    }
</script>

<style scoped>
    h3 {
        margin: 40px 0 0;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    /*li {*/
    /*    display: inline-block;*/
    /*    margin: 0 10px;*/
    /*}*/

    a {
        color: #42b983;
    }
</style>
