<template>


    <div>

        <Row>
            <Col span="5" offset="19">
                <Button type="primary" size="small" @click="show('add',null)">添加根级说明</Button>
            </Col>
        </Row>

        <Row class="content" v-if="list.length>0">
            <Col span="18" offset="3">
                <Card v-for="(item,index) in list" style="margin-top: 1em;">

                    <Row style="margin-bottom: .5em;">
                        <Col span="18">
                            <h4 clsss="main_content" >
                                {{(index+1)+'、'+item.content}}
                            </h4>
                        </Col>
                        <Col span="6">
                            <Button type="success" size="small" @click="show('add',item)">新增下级说明</Button>
                            <Button type="primary" size="small" @click="show('edit',item)">编辑</Button>
                            <Button type="error"  size="small" @click="remove(list,index)">移除</Button>
                        </Col>
                    </Row>
                    <p v-if="item.head" style="font-size: 12px">开头说明：{{item.head}}</p>
                    <p v-if="item.tail" style="font-size: 12px">结尾说明：{{item.tail}}</p>


                    <Card v-if="item.children && item.children.length>0" v-for="(item2,index2) in item.children" style="margin-top: .5em;">
                        <Row style="margin-bottom: .5em;">
                            <Col span="18">
                                <h5 clsss="main_content" >
                                    {{(index+1)+"."+(index2+1)+'、'+item2.content}}
                                </h5>
                            </Col>
                            <Col span="6">
                                <Button type="success" size="small" @click="show('add',item2)">新增下级说明</Button>
                                <Button type="primary" size="small" @click="show('edit',item2)">编辑</Button>
                                <Button type="error"  size="small" @click="remove(item.children,index2)">移除</Button>
                            </Col>
                        </Row>
                        <p v-if="item2.head" style="font-size: 12px">开头说明：{{item2.head}}</p>
                        <p v-if="item2.tail" style="font-size: 12px">结尾说明：{{item2.tail}}</p>


                        <Card v-if="item2.children && item2.children.length>0" v-for="(item3,index3) in item2.children" style="margin-top: .5em;">
                            <Row style="margin-bottom: .5em;">
                                <Col span="18">
                                    <h6 clsss="main_content" >
                                        {{(index+1)+"."+(index2+1)+"."+(index3+1)+'、'+item3.content}}
                                    </h6>
                                </Col>
                                <Col span="6">
                                    <Button type="success" size="small" @click="show('add',item3,true)">新增下级说明</Button>
                                    <Button type="primary" size="small" @click="show('edit',item3)">编辑</Button>
                                    <Button type="error"  size="small" @click="remove(item2.children,index3)">移除</Button>
                                </Col>
                            </Row>
                            <p v-if="item3.head" style="font-size: 12px">开头说明：{{item3.head}}</p>
                            <p v-if="item3.tail" style="font-size: 12px">结尾说明：{{item3.tail}}</p>


                            <Card v-if="item3.children && item3.children.length>0" v-for="(item4,index4) in item3.children" style="margin-top: .5em;">
                                <Row>
                                    <Col span="18">
                                        <h6 clsss="main_content" style="font-weight: normal">
                                            {{(index+1)+"."+(index2+1)+"."+(index3+1)+'、'+item4.content}}
                                        </h6>
                                    </Col>
                                    <Col span="6">
                                        <Button type="primary" size="small" @click="show('edit',item4)">编辑</Button>
                                        <Button type="error"  size="small" @click="remove(item3.children,index4)">移除</Button>
                                    </Col>
                                </Row>
                            </Card>
                        </Card>
                    </Card>
                </Card>
                <p style="margin-top: 3em;"></p>
            </Col>


        </Row>
        <Row v-else>
            <div style="text-align: center">
                暂无内容
            </div>
        </Row>

        <Modal
                v-model="isShow"
                title="说明"
                width="800"
                :mask-closable="false"
        >
            <Form :label-width="120">
                <Form :label-width="100">

                    <FormItem label="说明主内容">
                        <Input type="textarea" :rows="3" v-model="form.content"></Input>
                    </FormItem>
                    <FormItem label="说明头部内容" v-show="!isLast">
                        <Input type="textarea" :rows="3" v-model="form.head"></Input>
                    </FormItem>
                    <FormItem label="说明尾部内容" v-show="!isLast">
                        <Input type="textarea" :rows="3" v-model="form.tail"></Input>
                    </FormItem>

                </Form>


            </Form>

            <div slot="footer">
                <Button type="text" size="large" @click="isShow=false">取消</Button>
                <Button type="primary" size="large" @click="save">确定</Button>
            </div>
        </Modal>
    </div>


</template>

<script>
    import {Util} from '../../assets/js/Util'

    export default {
        data() {
            return {
                form:{},
                current:null,
                isLast:false,
                type:null,
                isShow:false,

                list:[],
                record:null


            }
        },
        watch: {
        },
        mounted() {
            this.getList();
        },
        methods: {
            getList(){
                this.http.post('helpcenter/get', {
                }).then(data => {
                    if(JSON.stringify(data.data) !== "{}"){
                        this.record=data.data;
                        this.list=JSON.parse(data.data.content)
                    }


                })
            },
            save(){
                if(!this.form.content){
                    this.$Message.warning('请输入说明主内容！')
                    return;
                }
                if(this.type==='add'){
                    let obj=JSON.parse(JSON.stringify(this.form))
                    if(!this.isLast){
                        obj.children=[]
                    }

                    if(this.current){
                        this.current.children.push(obj)
                    }else{
                        this.list.push(obj)
                    }
                }else{
                    this.current.content=this.form.content
                    this.current.head=this.form.head
                    this.current.tail=this.form.tail
                }

                this.isShow=false;

                this.update();
            },
            update(){
                let url='helpcenter/update';

                if(this.type==='add' && !this.record){
                    url='helpcenter/add';
                }

                this.http.post(url, {
                    content:JSON.stringify(this.list)
                }).then(data => {
                    this.$Message.success('操作成功')
                    this.getList();

                })
            },
            remove(list,index){
                list.splice(index,1)
                this.update();
            },
            show(type,current,isLast=false){
                this.current=current;
                this.isLast=isLast;
                this.type=type;
                if(type!=='add'){
                    console.log(JSON.stringify(current))
                    this.form=JSON.parse(JSON.stringify(current))
                }else{
                    this.form={}
                }
                this.isShow=true;
            }
        }
    }
</script>

<style scoped lang="less">
    .content{
        font-size: 12px;
        .main_content{
            font-size: 14px;
            color:red;
            font-weight: bold!important;
        }
    }

</style>
