<template>


    <div>
        <Row style="padding:5px;">
            <Col span="18">
                <HeaderName name="区域管理员管理"></HeaderName>
            </Col>
            <Col span="4">
                <Upload accept=".xls,.xlsx" action=""
                        :before-upload="handleUpload">
                    <Button icon="ios-cloud-upload-outline" >批量导入</Button>
                </Upload>
            </Col>
            <Col span="2">
                <Button type="success" @click="add">新增</Button>
            </Col>

        </Row>
        <Row style="padding:5px">
            <Col span="24">
                <Form ref="formInline" inline>
                    <FormItem prop="" label="用户手机号" :label-width="100">
                        <Input type="text" v-model="userPhone" placeholder="用户手机号" style="width:200px">
                        </Input>

                    </FormItem>
                    <FormItem>
                        <Button type="primary" icon="ios-search" @click="getList(1)">查询</Button>
                    </FormItem>
                </Form>
            </Col>
        </Row>
        <Table stripe :columns="columns" :data="dataList"></Table>
        <div style="text-align: center;margin-top: 1em;">
            <Page :total="count" :page-size="pageSize" :current="currentPage" @on-change="pageChange"/>
        </div>

        <Auth ref="auth"></Auth>
        <manage-auth ref="manageAuth"></manage-auth>
        <Modal
                v-model="isShowExcel"
                title="数据预览"
                :mask-closable="false"
                width="80%"
        >
            <Table ref="selection" stripe :columns="excelTitle" :data="excelList"></Table>

            <div slot="footer">
                <Button type="text" size="large" @click="isShowExcel=false">取消</Button>
                <Button type="primary" size="large" @click="updateExcelUsers()">导入</Button>
            </div>
        </Modal>

    </div>

</template>

<script>
    import {Util} from '../../assets/js/Util'
    import Auth from '../../components/Auth'
    import manageAuth from '../../components/manageAuth'
    import axios from 'axios'
    import XLSX from "xlsx"

    export default {
        components: {
            Auth,
            manageAuth
        },
        data() {
            return {
                userPhone: '',
                isShowExcel: false,
                excelTitle: [
                    {
                        type: 'selection',
                        width: 60,
                        align: 'center'
                    },
                    {
                        title: '姓名',
                        key: 'name'
                    },
                    {
                        title: '手机号',
                        key: 'phone'
                    },
                    {
                        title: '电子邮箱',
                        key: 'email'
                    },
                    {
                        title: '出生日期',
                        key: 'birthday'
                    },
                    {
                        title: '性别',
                        key: 'sex'
                    },
                    {
                        title: '错误原因',
                        key: 'reason'
                    },
                ],
                excelList: [],
                columns: [
                    {
                        type: 'index',
                        width: 60,
                        align: 'center',
                        indexMethod: (params) => {
                            return (this.currentPage - 1) * Util.pageSize + (params._index + 1);
                        }
                    },
                    {
                        title: '姓名',
                        key: 'name'
                    },
                    {
                        title: '手机号',
                        key: 'phone'
                    },
                    {
                        title: '性别',
                        key: 'sex',
                        render: (h, params) => {
                            return h('div', {}, params.row.sex === 'male' ? '男' : '女')
                        }
                    },
                    {
                        title: '电子邮箱',
                        key: 'email'
                    },
                    {
                        title: '出生日期',
                        key: 'birthday'
                    },
                    {
                        title: '用户组',
                        key: 'userGroupName',
                        render: (h, params) => {
                            return h('div', {
                                domProps: {
                                    innerHTML: params.row.userGroupName
                                }
                            })
                        }
                    },
                    {
                        title: '操作',
                        key: 'action',
                        minWidth: 60,
                        render: (h, params) => {
                            return h('div', [
                                h('Button', {
                                    props: {
                                        type: 'primary',
                                        size: 'small'
                                    },
                                    style: {
                                        marginRight: '5px'
                                    },
                                    on: {
                                        click: () => {
                                            this.edit(params)
                                        }
                                    }
                                }, '编辑'),
                                h('Button', {
                                    props: {
                                        type: 'error',
                                        size: 'small'
                                    },
                                    style: {
                                        marginRight: '5px'
                                    },
                                    on: {
                                        click: () => {
                                            this.delete(params)
                                        }
                                    }
                                }, '删除'),
                                h('Button', {
                                    props: {
                                        type: 'success',
                                        size: 'small'
                                    },
                                    style: {
                                        marginRight: '5px'
                                    },
                                    on: {
                                        click: () => {
                                            this.updatePassword(params)
                                        }
                                    }
                                }, '修改密码'),
                                h('Button', {
                                    props: {
                                        type: 'primary',
                                        size: 'small'
                                    },
                                    style: {
                                        marginRight: '5px'
                                    },
                                    on: {
                                        click: () => {
                                            this.auth(params)
                                        }
                                    }
                                }, '量表授权'),
                                h('Button', {
                                    props: {
                                        type: 'primary',
                                        size: 'small'
                                    },
                                    style: {
                                        marginRight: '5px'
                                    },
                                    on: {
                                        click: () => {
                                            this.manageAuth(params)
                                        }
                                    }
                                }, '问卷授权'),
                            ])
                        }
                    }

                ],
                count: 0,
                totalPages: 0,
                pageSize: Util.pageSize,
                currentPage: 1,
                dataList: []
            }
        },
        mounted() {
            this.getList(1)
        },
        methods: {
            pageChange(page) {
                this.getList(page)
            },
            handleUpload (file) {
                this.readExcel([file])
                return false;
            },
            updateExcelUsers() {
                let users = this.$refs.selection.getSelection()
                if (users && users.length > 0) {
                    this.http.post('user/uploadUsers', {user: JSON.stringify(users)}).then(data => {

                        this.$Message.success("上传成功")
                        this.excelList = []
                        this.isShowExcel = false
                        this.getList(1)
                    })
                }else{
                    this.$Message.warning("无可上传数据")
                }
            },
            readExcel(files) {//表格导入
                var that = this;
                that.excelList = []
                // const files = e.target.files;
                console.log(files);
                if (files.length <= 0) {//如果没有文件名
                    return false;
                } else if (!/\.(xls|xlsx)$/.test(files[0].name.toLowerCase())) {
                    this.$Message.error('上传格式不正确，请上传xls或者xlsx格式');
                    return false;
                }
                let phones = []
                const fileReader = new FileReader();
                fileReader.onload = (ev) => {
                    try {
                        const data = ev.target.result;
                        const workbook = XLSX.read(data, {
                            type: 'binary'
                        });
                        const wsname = workbook.SheetNames[0];//取第一张表
                        const ws = XLSX.utils.sheet_to_json(workbook.Sheets[wsname]);//生成json表格内容
                        that.outputs = [];//清空接收数据
                        for (var i = 0; i < ws.length; i++) {
                            var sheetData = ws[i]
                            sheetData["reason"] = ""
                            sheetData["_checked"] = true
                            sheetData["_disabled"] = false
                            sheetData["index"] = i
                            if (!Util.isValidPhone(sheetData["phone"])) {
                                sheetData["_checked"] = false
                                sheetData["_disabled"] = true
                                sheetData["reason"] = sheetData["reason"] + "电话号码错误，"
                            }
                            if (!Util.isValidEmail(sheetData["email"])) {
                                sheetData["_checked"] = false
                                sheetData["_disabled"] = true
                                sheetData["reason"] = sheetData["reason"] + "邮箱格式错误，"
                            }
                            if (sheetData["_disabled"] === false) {
                                phones.push(sheetData["phone"])
                            }
                            this.excelList.push(sheetData)
                        }
                        // this.$refs.upload.value = '';
                        if (phones.length > 0) {
                            this.http.post('user/isUsers', {phones: phones}).then(data => {
                                this.setUploadUsers(data.data)
                            })
                        } else {
                            this.setUploadUsers([])
                        }


                    } catch (e) {

                        this.$Message.warning('上传文件内容有误，请检查！')

                        return false;
                    }
                };
                fileReader.readAsBinaryString(files[0]);

            },
            isRepeat(phone, users) {
                if (users && users.length > 0) {
                    for (let i = 0; i < users.length; i++) {
                        if (phone === users[i]["phone"]) {
                            users[i]["_disabled"] = true
                            users[i]["_checked"] = false
                            users[i]["reason"] = users[i]["reason"] + "用户已存在"
                            break
                        }
                    }
                }
            },
            setUploadUsers(repeatUser) {
                if (repeatUser && repeatUser.length > 0) {
                    for (let i = 0; i < repeatUser.length; i++) {
                        this.isRepeat(repeatUser[i], this.excelList)
                    }
                }
                this.isShowExcel = true
            },
            getList(currentPage) {
                this.http.post('user/listMange', {
                    currentPage: currentPage,
                    pageSize: this.pageSize,
                    phone: this.userPhone,
                }).then(data => {

                    this.count = data.count;
                    this.totalPages = data.totalPages;
                    this.currentPage = data.currentPage;

                    data = data.data;

                    for (let i = 0; i < data.length; i++) {
                        let temp = []
                        if (data[i].userGroup.length > 0) {
                            for (let j = 0; j < data[i].userGroup.length; j++) {
                                temp.push(data[i].userGroup[j].name)
                            }

                        }

                        data[i].userGroupName = temp.join('<br/>')
                    }

                    this.dataList = data;
                })
            },
            add() {
                this.$router.push('/user/administratorOperate')
            },
            updatePassword(params) {
                this.$router.push({
                    path: '/user/updatePassword',
                    query: {
                        userId: params.row.id,
                        userGroup: "userGroup"
                    }
                })
            },
            auth(params) {
                this.$refs.auth.show(params.row.id);
            },
            manageAuth(params){
                this.$refs.manageAuth.show(params.row.id);
            },
            edit(params) {
                sessionStorage.curCommonAdmin = JSON.stringify(params.row)
                this.$router.push({
                    path: '/user/administratorOperate',
                    query: {
                        opType: 'edit',
                    }
                })
            },
            delete(params) {

                this.$Modal.confirm({
                    title: '您确认删除吗？',
                    content: '',
                    onOk: () => {

                        this.http.post('user/delete', {
                            id: params.row.id
                        }).then(() => {
                            this.$Message.success("删除成功")
                            this.getList()
                        }).catch(error => {
                            this.$Message.error(error)
                        })

                    },
                    onCancel: () => {
                    }
                });


            }
        }
    }
</script>

<style scoped>
    h3 {
        margin: 40px 0 0;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        display: inline-block;
        margin: 0 10px;
    }

    a {
        color: #42b983;
    }
</style>
