<template>


    <div class="login-wrap">
        <transition name="slideT">
            <div class="mainContent" >

                <div class="ms-login" style="overflow: initial">

                    <Tabs style="overflow: initial">
                        <Tab-pane label="用户操作" name="account" icon="android-person">

                            <Form  :label-width="80" ref="loginForm"   class="demo-ruleForm">

                                <Form-item  label="新密码">
                                    <Input  type="password" placeholder="请输入新密码" v-model="password"></Input>
                                </Form-item>


                            </Form>

                        </Tab-pane>
                    </Tabs>

                    <div class="login-btn">
                        <Button type="primary" @click="operate">确定</Button>
                    </div>
                    <div class="signup-btn">
                        <a href="javascript:" @click="back">返回</a>
                    </div>
                    <!--<Spin size="large" fix ></Spin>-->
                </div>
            </div>
        </transition>
    </div>

</template>

<script>
    const md5=require('md5')
    import {Util} from '../../assets/js/Util'
    export default {
        data() {
            return {
                userGroup:this.$route.query.userGroup,
                userId:this.$route.query.userId,
                password:'',
            }
        },
        computed: {
            isLogin() {
                return this.$store.state.isLogin;
            },
        },
        mounted() {

        },
        methods: {
            back(){
                if(this.userGroup){
                    this.$router.push('/user/administratorList')
                }else{
                    this.$router.push('/user/list')
                }

            },
            operate() {
                let url='user/adminSetPassWord';

                if(!this.password&&this.password.length>=6){
                    this.$Message.warning("请输入不小于6位的密码！")
                    return;
                }

                var param={id:this.userId,password:this.password}
                this.http.post(url, param).then((data) => {
                    this.$Message.success("修改成功！")
                    if(this.userGroup){
                        this.$router.push('/user/administratorList')
                    }else{
                        this.$router.push('/user/list')
                    }
                }).catch(err => {
                    this.$Message.error(err)
                })

            },




        }
    }
</script>

<style scoped>
    .login-wrap {
        position: relative;
        width: 100%;
        height: 100vh;
        background-size: 100% 100%;
    }

    .mainContent {
        position: absolute;
        left: 50%;
        margin-left: -190px;
    }

    .ms-title {
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
        font-size: 26px;
        color: rgba(255, 255, 255, 0.8);
        font-weight: 500;
        letter-spacing: 4px;

    }

    .ms-login {
        width: 380px;
        overflow: hidden;
        padding: 40px;
        border-radius: 5px;
        background: #fff;
        box-sizing: border-box;
        position: relative
    }

    .login-btn {
        text-align: center;
    }

    .signup-btn {
        margin-top: 10px;
        text-align: center;
        cursor: pointer;
    }

    .login-btn button {
        width: 100%;
        height: 36px;
    }

    .slideT-enter-active, .slideT-leave-active {
        transition: all .6s ease-out;
    }

    .slideT-enter {
        opacity: 0;
        transform: translateY(-30px);
    }

</style>
