<template>
    <div>
        <Modal
                v-model="isShowBeforeExportModal"
                title="量表授权"
                width="50%"
                :mask-closable="false"
        >
            <CheckboxGroup v-model="measureIds">
                <template v-for="(item,index) in measureList">
                    <Checkbox :label="item.id" style="width:49%;" :checked="item.auth">
                        <span>{{item.name}}</span>
                    </Checkbox>

                </template>

            </CheckboxGroup>
            <div slot="footer">
                <Button type="text" size="large" @click="isShowBeforeExportModal=false">取消</Button>
                <Button type="primary" size="large" @click="auth">授权</Button>
            </div>
        </Modal>

    </div>
</template>

<script>
    import {Util} from '../assets/js/Util'

    export default {
        components: {
        },
        name: '',
        data() {
            return {
                userId:'',
                measureIds: [],
                isShowBeforeExportModal: false,

                measureList: []
            }
        },
        props: {
        },
        computed: {},
        methods: {
            show(userId) {
                this.measureList=[]
                this.measureIds=[]
                this.userId=userId;
                this.isShowBeforeExportModal = true;
                this.getList();
            },
            auth(){
                this.http.post('measure/roleMeasure', {
                    userId: this.userId,
                    measureIds:JSON.stringify(this.measureIds)
                }).then(data => {

                    this.$Message.success('设置成功！')
                    this.isShowBeforeExportModal = false


                }).catch(error => {
                    this.$Message.error(error)
                })
            },
            getList() {
                this.http.post('measure/listAll', {
                    id: sessionStorage.userId
                }).then(data => {
                    let all = data.data;

                    this.measureList = all;

                    this.http.post('measure/getRoleMeasure', {
                        userId: this.userId
                    }).then(data => {

                        data = data.data;

                        // data=[125,90]
                        if (data) {
                            all.forEach((item)=>{
                                if(data.includes(item.id)){
                                    item.auth=true;
                                    this.measureIds.push(item.id)
                                }
                            })
                            this.measureList = all;
                        } else {
                            this.measureList = all;
                        }

                    }).catch(error => {
                        this.$Message.error(error)
                    })


                }).catch(error => {
                    this.$Message.error(error)
                })
            },

        }
    }
</script>


<style scoped>
    .common {
        font-size: 11px;
        line-height: 1.2em;
    }

    .bottom_1em {
        margin-bottom: 1em;
    }

    .top_1em {
        margin-top: 1em;
    }

    .indent {
        text-indent: 2em;
    }

    .paper_name {
        font-size: 13px;
        font-weight: bold;
        text-align: center;
    }

    .paper_desc {
        font-size: 11px;
        margin-bottom: 2em;
        line-height: 1.2em;
    }

    .measure_name {
        font-size: 12px;
        font-weight: bold;
        text-align: center;
        margin-top: 2em;
    }
</style>
