<template>
    <Modal
            v-model="isShow"
            title="计算过程"
            width="60%"
            fullscreen=""
            :mask-closable="false"
    >
        <Row style="">
            <template v-if="data && data.length>0">
                <div  v-for="item in data" style="word-break: break-all;margin-bottom: .8em;">
                    <h3>量表名称：{{item.factorName}}</h3>
                    <div>
                        <p v-for="d in item.reason" >
                            {{d}}
                        </p>
                    </div>
                </div>
            </template>
            <div v-else>
                <p>暂无数据</p>
            </div>

        </Row>
        <div slot="footer">
            <Button type="text" size="large" @click="isShow=false">关闭</Button>
        </div>
    </Modal>
</template>

<script>
    import {Util} from '../assets/js/Util'
    export default {
        components:{
        },
        name: '',
        data() {
            return {
                isShow:false,
                previewData:[]
            }
        },
        props: {
            data:{
                type:Array,
                default:()=>{
                    return []
                }
            },
        },
        computed:{
        },
        methods: {
            show(){
                let tempClickEvent = new Event('click');
                document.dispatchEvent(tempClickEvent);

                this.isShow=true;


            },
        }
    }
</script>


<style scoped>

</style>
