<template>
    <Spin fix v-show="isShow">
        <Icon type="ios-loading" size=18 class="demo-spin-icon-load"></Icon>
        <div>{{text}}</div>
    </Spin>
</template>

<script>
    export default {
        data(){
            return {
                isShow:false,
                text:''
            }
        },
        methods:{
            show(text){
                this.isShow=true;
                this.text=text;
            },
            hide(){
                this.isShow=false;
            }
        }

    }
</script>
