<template>
    <div>
        <Modal
                v-model="isShowBeforeExportModal"
                title="问卷授权"
                width="50%"
                :mask-closable="false"
        >
            <CheckboxGroup v-model="manageIds">
                <template v-for="(item,index) in manageList">
                    <Checkbox :label="item.id" style="width:49%;" :checked="item.auth">
                        <span>{{item.name}}</span>
                    </Checkbox>

                </template>

            </CheckboxGroup>
            <div slot="footer">
                <Button type="text" size="large" @click="isShowBeforeExportModal=false">取消</Button>
                <Button type="primary" size="large" @click="auth">授权</Button>
            </div>
        </Modal>

    </div>
</template>

<script>
    import {Util} from '../assets/js/Util'

    export default {
        components: {
        },
        name: '',
        data() {
            return {
                userId:'',
                manageIds: [],
                isShowBeforeExportModal: false,

                manageList: []
            }
        },
        props: {
        },
        computed: {},
        methods: {
            show(userId) {
                this.manageList=[]
                this.manageIds=[]
                this.userId=userId;
                this.isShowBeforeExportModal = true;
                this.getList();
            },
            auth(){
                this.http.post('manage/roleManage', {
                    userId: this.userId,
                    manageIds:JSON.stringify(this.manageIds)
                }).then(data => {

                    this.$Message.success('设置成功！')
                    this.isShowBeforeExportModal = false


                }).catch(error => {
                    this.$Message.error(error)
                })
            },
            getList() {
                this.http.post('manage/listAll', {
                }).then(data => {
                    let all = data.data;

                    this.manageList = all;

                    this.http.post('manage/getRoleManage', {
                        userId: this.userId
                    }).then(data => {

                        data = data.data;
                        if (data) {
                            all.forEach((item)=>{
                                if(data.includes(item.id)){
                                    item.auth=true;
                                    this.manageIds.push(item.id)
                                }
                            })
                            
                        } 

                    }).catch(error => {
                        this.$Message.error(error)
                    })


                }).catch(error => {
                    this.$Message.error(error)
                })
            },

        }
    }
</script>


<style scoped>
    .common {
        font-size: 11px;
        line-height: 1.2em;
    }

    .bottom_1em {
        margin-bottom: 1em;
    }

    .top_1em {
        margin-top: 1em;
    }

    .indent {
        text-indent: 2em;
    }

    .paper_name {
        font-size: 13px;
        font-weight: bold;
        text-align: center;
    }

    .paper_desc {
        font-size: 11px;
        margin-bottom: 2em;
        line-height: 1.2em;
    }

    .measure_name {
        font-size: 12px;
        font-weight: bold;
        text-align: center;
        margin-top: 2em;
    }
</style>
