<template>
    <div>
        <Modal
                v-model="isShowBeforeExportModal"
                title="设置量表导出顺序"
                width="50%"
                :mask-closable="false"
        >
            <Row v-for="(item,index) in measureList" style="border-bottom: 1px solid gainsboro;margin:7px 0;">
                <Col span="1" offset="1">
                    {{index+1}}
                </Col>
                <Col span="20">
                    {{item.name}}
                </Col>
                <Col span="1">
                    <template v-if="index>0">
                        <Icon type="md-arrow-round-up" size="20" style="cursor: pointer;margin-top: 0px;"
                              @click="up(item,index)"></Icon>
                    </template>
                    <template v-else style="visibility: hidden">
                        <Icon style="visibility: hidden"
                        ></Icon>
                    </template>

                </Col>
                <Col span="1">
                    <template v-if="index!==(measureList.length-1)">

                        <Icon type="md-arrow-round-down" size="20" style="cursor: pointer;margin-top: 0px;"
                              @click="down(item,index)"
                        ></Icon>
                    </template>
                    <template v-else>
                        <Icon style="visibility: hidden"
                        ></Icon>
                    </template>
                </Col>
            </Row>
            <table></table>
            <div slot="footer">
                <Button type="text" size="large" @click="isShowBeforeExportModal=false">取消</Button>
                <Button type="primary" size="large" @click="showRealOutputModal">确定</Button>
            </div>
        </Modal>

        <ManagePreview title="导出" download :paperName="paperName" :measureList="measureList" ref="managePreview"></ManagePreview>
    </div>
</template>

<script>
    import {Util} from '../assets/js/Util'
    import ManagePreview from '../components/ManagePreview'
    import ManageOutput from '../components/ManageOutput'
    export default {
        components:{
            ManageOutput,
            ManagePreview
        },
        name: '',
        data() {
            return {
                isShowBeforeExportModal:false,
                previewData:[],

                measureList:[]
            }
        },
        props: {
            manageId:{
                type:Number,
                default:0
            },
            paperName:{
                type:String,
                default:''
            }
        },
        computed:{
        },
        methods: {
            up(item, index) {
                let top = this.measureList.splice(index - 1, 1)[0]
                this.measureList.splice(index, 0, top)
            },
            down(item, index) {
                let down = this.measureList.splice(index, 1)[0]
                this.measureList.splice(index + 1, 0, down)
            },
            show(){
                let tempClickEvent = new Event('click');
                document.dispatchEvent(tempClickEvent);
                this.$nextTick(()=>{
                    this.output();
                })
            },
            showRealOutputModal() {
                this.isShowBeforeExportModal = false;
                this.$refs.managePreview.show()

            },
            output() {
                this.getQuestionListByPaperId(this.manageId, () => {
                    this.isShowBeforeExportModal = true;
                })


            },
            getQuestionListByPaperId(id, callback) {
                this.http.post('manage/getAllMeasure', {
                    id: id
                }).then(data => {
                    data = data.data;

                    for (let i = 0; i < data.length; i++) {
                        for (let j = 0; j < data[i].list.length; j++) {
                            if (data[i].list[j].answer) {
                                data[i].list[j].answer = JSON.parse(data[i].list[j].answer)
                            }

                            for (let k = 0; k < data[i].list[j].children.length; k++) {
                                data[i].list[j].children[k].answer = JSON.parse(data[i].list[j].children[k].answer)
                            }
                        }
                    }

                    this.measureList = data;

                    callback();

                }).catch(error => {
                    this.$Message.error(error)
                })
            },
        }
    }
</script>


<style scoped>
    .common {
        font-size: 11px;
        line-height: 1.2em;
    }

    .bottom_1em {
        margin-bottom: 1em;
    }

    .top_1em {
        margin-top: 1em;
    }

    .indent {
        text-indent: 2em;
    }

    .paper_name {
        font-size: 13px;
        font-weight: bold;
        text-align: center;
    }

    .paper_desc {
        font-size: 11px;
        margin-bottom: 2em;
        line-height: 1.2em;
    }

    .measure_name {
        font-size: 12px;
        font-weight: bold;
        text-align: center;
        margin-top: 2em;
    }
</style>
