<template>
    <!--导出用的全屏框-->
    <Modal v-model="isShowOutputModal" fullscreen :title="title">

        <div id="managePreviewContainer" style="background: #FFF">
            <Row style="text-align: center">
                <h3>{{paperName}}</h3>
            </Row>

            <template v-for="measure in measureList">
                <Row style="text-align: center">
                    <h4>{{measure.alias}}</h4>
                </Row>
                <Row v-for="(item,index) in measure.list">

                    <Col span="24">

                        <!--问答-->
                        <template v-if="item.type==='0'">
                            <Col span="16" offset="4" style="margin-bottom: 20px;">
                                <div style="margin-bottom: 2px;" @click="editQuestion(item,index)">
                                    {{item.name}}
                                </div>
                                <Input type="textarea" :rows="3" placeholder="请输入您的答案"></Input>
                            </Col>
                        </template>

                        <!--指导语-->
                        <template v-if="item.type==='1'">
                            <Col span="16" offset="4" style="margin-bottom: 20px;">
                                <div style="margin-bottom: 2px;" @click="editQuestion(item,index)">
                                    {{item.name}}
                                </div>
                            </Col>
                        </template>

                        <!--条目-->
                        <template v-if="item.type==='2'">
                            <Col span="16" offset="4" style="margin-bottom: 20px;">
                                <div style="margin-bottom: 2px;" @click="editQuestion(item,index)">
                                    {{(item.questionIndex)+'、'+item.name}}
                                </div>
                                <RadioGroup vertical>
                                    &nbsp;&nbsp;&nbsp;&nbsp;<Radio :label="option.key"
                                                                   v-for="option in item.answer"></Radio>
                                </RadioGroup>
                            </Col>
                        </template>

                        <!--矩阵-->
                        <template v-if="item.type==='3'">
                            <Col span="16" offset="4" style="margin-bottom: 20px;">
                                <div style="margin-bottom: 2px;" @click="editQuestion(item,index)">
                                    {{(item.questionIndex)+'、'+item.name}}
                                </div>
                                <div v-for="(child,childIndex) in item.children"
                                     style="padding-left: 2em;margin-bottom: 1em;">
                                    <p>{{((childIndex+1))+'、'+child.name}}</p>
                                    <RadioGroup vertical>
                                        <Radio :label="option.key" v-for="option in child.answer"></Radio>
                                    </RadioGroup>
                                </div>


                            </Col>
                        </template>
                    </Col>

                </Row>

            </template>


        </div>

        <div slot="footer">
            <Button type="text" size="large" @click="isShowOutputModal=false">取消</Button>
            <Download v-if="download" domId="managePreviewContainer" @down="outputDone" :filename="paperName"></Download>
        </div>
    </Modal>
</template>

<script>
    import Download from '../components/Download'
    export default {
        components:{
            Download
        },
        name: '',
        data() {
            return {
                isShowOutputModal:false,
            }
        },
        props: {
            paperName:{
                type:String,
                default:''
            },
            manageId:{
                type:Number,
                default:0
            },
            title:{
                type:String,
                default:''
            },
            download:{
                type:Boolean,
                default:false
            },
            measureList:{
                type:Array,
                default:function () {
                    return []
                }
            }
        },
        computed:{
        },
        methods: {
            outputDone() {
                this.$Message.success("导出成功！")
                this.isShowOutputModal = false;
            },
            show(){
                let tempClickEvent = new Event('click');
                document.dispatchEvent(tempClickEvent);
                this.isShowOutputModal=true;


            },

        }
    }
</script>

