<template>
    <div style="overflow-x: scroll">
        <div :id="options.domId" style="min-height:200px;">

        </div>
    </div>
</template>

<script>

    const echarts = require('echarts')

    export default {
        name: '',
        data() {
            return {
                defaultOptions: {
                    title: '',
                    type: 'bar'
                }
            }
        },
        props: {
            options: {
                type: Object,
                default: () => {
                    return {}
                }
            }
        },
        mounted() {

            let idDom=document.getElementById(this.options.domId)

            if(this.options.xData && this.options.xData.length>0){
                let len=this.options.xData.length;
                len =Math.ceil(len/10)
                if(len>1){
                    idDom.style.minHeight= String(200*len+'px');
                }

            }

            let myChart = echarts.init(idDom);



            this.options.type = this.options.type || this.defaultOptions.type;

            if (this.options.type === 'bar') {
                myChart.setOption({
                    title: {
                        text: this.options.title || this.defaultOptions.title
                    },
                    tooltip: {},
                    xAxis: {},
                    grid: {
                        left: '15%',
                        // right: '4%',
                        // bottom: '50%'
                    },
                    yAxis: {
                        data: this.options.xData || [],
                        axisLabel: {
                            interval: 0, //设置成 0 强制显示所有标签。
                            // rotate: 40 //刻度标签旋转的角度，在类目轴的类目标签显示不下的时候可以通过旋转防止标签之间重叠。
                        }
                    },
                    series: [{
                        name: this.options.yName || '',
                        type: this.options.type || this.defaultOptions.type,
                        data: this.options.dataArray || []
                    }]
                });
            } else if (this.options.type === 'pie') {

                let dataArray = [];

                for (let i = 0; i < this.options.dataArray.length; i++) {
                    dataArray.push({
                        name: this.options.xData[i],
                        value: this.options.dataArray[i]
                    })
                }

                myChart.setOption({
                    title: {
                        text: this.options.title || this.defaultOptions.title
                    },
                    series: {
                        type: this.options.type,
                        data: dataArray
                    }
                });
            } else if (this.options.type === 'line') {
                myChart.setOption({
                    title: {
                        text: this.options.title || this.defaultOptions.title
                    },
                    tooltip: {},
                    xAxis: {},
                    grid: {
                        left: '15%',
                        // right: '4%',
                        // bottom: '50%'
                    },
                    yAxis: {
                        type: 'category',
                        data: this.options.xData || [],
                        axisLabel: {
                            interval: 0, //设置成 0 强制显示所有标签。
                            // rotate: 40 //刻度标签旋转的角度，在类目轴的类目标签显示不下的时候可以通过旋转防止标签之间重叠。
                        },

                    },
                    series: [{
                        data: this.options.dataArray || [],
                        type: this.options.type,
                    }]
                });
            }

// 绘制图表

        },
        methods: {

            show(callback) {
                this.callback = callback
                this.isShow = true;
            },
            hide() {
                this.isShow = false;
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
