<template>
    <Modal
            v-model="isShowPreviewModal"
            title="查看报告"
            fullscreen
            width="60%"
            :mask-closable="false"
    >
        <Row style="" id="report">
            <Col span="20" offset="2">
                <div class="paper">
                    <div class="paper_name">{{report.manageName}}</div>
                    <div class="paper_desc" v-if="report.manageDesc">{{report.manageDesc}}</div>
                </div>
                <div class="content" style="min-height: 25em;">

                    <template v-for="measure in previewData" v-if="measure.result && measure.result.length>0">

                        <section class="measure">
                            <div class="measure_name">{{measure.name}}</div>
                            <div class="common bottom_1em measure_desc" v-if="measure.description">
                                {{measure.description}}
                            </div>
                        </section>
                        <template v-if="measure.chartType">
                            <Mychart :options="measure.options"></Mychart>
                        </template>

                        <section class="factor">
                            <template v-for="factor in measure.result">
                                <template v-if="factor.multifactors">

                                    <div class="common factor_name">因子：{{factor.name}}</div>

                                    <div class="common bottom_1em factor_explain" v-if="factor.description">
                                        因子解释：{{factor.description||''}}
                                    </div>

                                    <template v-for="d in factor.subfactor">
                                        <div class="common indent factor_name">子因子：{{d.name}}</div>
                                        <div class="common indent factor_explain" v-if="d.description">
                                            子因子解释：{{d.description||''}}
                                        </div>
                                        <div class="common indent bottom_1em factor_score_explain">子因子得分：您的得分是
                                            {{d.score}} 分。
                                        </div>
                                    </template>

                                    <div class="common bottom_1em factor_score_explain">得分解释：{{factor.content}}</div>

                                </template>

                                <template v-else>
                                    <div class="common factor_name">因子：{{factor.name}}</div>
                                    <div class="common factor_explain" v-if="factor.description">
                                        因子解释：{{factor.description||''}}
                                    </div>
                                    <div class="common bottom_1em factor_score_explain">
                                        得分解释：您的得分是 {{factor.benchMarkScore||factor.totalScore}} 分，{{factor.content}}
                                    </div>
                                </template>

                            </template>
                        </section>


                        <div v-if="measure.specialItem && measure.specialItem.length>0" style="font-size: 14px;line-height: 1.6em;">
                            <span style="font-weight: bolder">值得留意的回答：</span>
                            <div v-for="special in measure.specialItem" style="font-weight: bold">
                                {{(special.name) }}
                                <div v-for="spe in special.specificList" style="font-weight: normal;margin-bottom: .2em;">
                                    {{spe.questionIndex +"、"+spe.name}}
                                </div>
                            </div>
                        </div>


                    </template>
                    <!--            因子得分明细-->
                    <div class="content" v-if="report.factorScoreDetail" style="margin-top: 1em;">
                        <div class="measure_name">原始作答</div>
                        <div v-for="item in detailArray" style="margin-bottom: 1em;">
                            <p style="font-size: 14px;font-weight: bold;margin-bottom: .2em;">因子名称：{{item.factor}}</p>

                            <table :cell-bordered="false" :content-bordered="false" style="background-color:#fff;">
                                <thead>
                                <tr >
                                    <th style="font-size: 14px;text-align: left">题目</th>
                                    <th style="font-size: 14px;text-align: center">得分</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="question in item.itemDetail" style="line-height: 1.6em;">
                                    <td style="font-size: 14px;text-align: left;" >{{question.questionIndex +'、' +question.name}}</td>
                                    <td style="font-size: 14px;text-align: center">
                                        {{question.score}}

                                    </td>
                                </tr>
                                </tbody>
                            </table>


                        </div>


                    </div>

                </div>
            </Col>
        </Row>
        <div slot="footer">
            <Download domId="report" @down="outputDone" :filename="report.manageName"></Download>
            <Button type="text" size="large" @click="isShowPreviewModal=false">关闭</Button>

        </div>
    </Modal>
</template>

<script>
    import {Util} from '../assets/js/Util'
    import Mychart from '../components/Mychart'
    import Download from '../components/Download'
    export default {
        components:{
            Mychart,
            Download
        },
        name: '',
        data() {
            return {
                isShowPreviewModal:false,
                previewData:[],
                report:{},
                detailArray:[]
            }
        },
        props: {
            reportId:{
                type:Number,
                default:0
            },
        },
        computed:{
        },
        methods: {
            outputDone() {
                this.$Message.success("导出成功！")
            },
            show(){
                let tempClickEvent = new Event('click');
                document.dispatchEvent(tempClickEvent);
                this.previewData=[]
                this.$nextTick(()=>{
                    this.http.post('report/getResult', {
                        id: this.reportId,
                    }).then((data) => {
                        this.report = data.data
                        debugger
                        if (!this.report.result) {
                            this.$Message.warning('没有反馈报告！')
                        }else{
                            this.report.result = JSON.parse(this.report.result)

                            let data = this.report.result

                            for (let i = 0; i < data.length; i++) {

                                if (data[i].chartType) {
                                    data[i].options = {
                                        xData: [],
                                        dataArray: [],
                                        type: data[i].chartType,
                                        domId: Util.uuid()
                                    }
                                    for (let j = 0; j < data[i].result.length; j++) {
                                        if (!data[i].result[j].multifactors) {
                                            data[i].options.xData.push(data[i].result[j].name)
                                            data[i].options.dataArray.push(data[i].result[j].benchMarkScore||data[i].result[j].totalScore )
                                        }

                                    }
                                }
                            }

                            if(this.report.factorScoreDetail && this.report.factorScoreDetail.length>0){
                                for(let i=0;i<this.report.factorScoreDetail.length;i++){
                                    let m=this.report.factorScoreDetail[i];
                                    if(m.list){
                                        this.detailArray=this.detailArray.concat(m.list)
                                    }
                                }
                            }

                            this.previewData = data;

                            this.isShowPreviewModal = true;
                        }



                    }).catch(error => {
                        this.$Message.error(error)
                    })
                })


            },
        }
    }
</script>


<style scoped>
    .common {
        font-size: 14px;
        line-height: 1.6em;
    }

    .bottom_1em {
        margin-bottom: 1em;
    }

    .top_1em {
        margin-top: 1em;
    }

    .indent {
        text-indent: 2em;
    }

    .paper_name {
        font-size: 16px;
        font-weight: bold;
        text-align: center;
    }

    .paper_desc {
        font-size: 14px;
        margin-bottom: 2em;
        line-height: 1.6em;
    }

    .measure_name {
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        margin-top: 2em;
    }
</style>
