<template>
    <!--        设置计算规则时的添加计算条目弹窗-->
    <Modal
            :value="isShow"
            title="添加计算条目"
            width="800"
            :closable="false"
            :mask-closable="false"
    >

        <Form :label-width="100" style="max-height: 600px;overflow-y: auto">
            <FormItem label="请选择条目">
                <CheckboxGroup v-model="selectedItemQuestionIndexArray">
                    <template v-for="(item,index) in questionListWithFilter"
                              v-if="item.questionIndex">
                        <Checkbox :label="item.questionIndex">
                            <span>{{ item.questionIndex+"  "+item.name}}</span>
                        </Checkbox>
                        <br/>
                    </template>

                </CheckboxGroup>
            </FormItem>

        </Form>

        <div slot="footer">
            <Button type="text" size="large" @click="isShow=false">取消</Button>
            <Button type="primary" size="large" @click="addCalItem">确定</Button>
        </div>
    </Modal>
</template>

<script>
    import {Util} from '../../../assets/js/Util'

    export default {
        name: '',
        data() {
            return {
                isShow: false,
                selectedItemQuestionIndexArray: [],
                questionListWithFilter: [],
                lieObject: {}
            }
        },
        props: {

            questionList: {
                type: Array,
                default: () => {
                    return []
                }
            },
        },
        watch: {
            isShow(newValue) {
                if (newValue) {
                    this.selectedItemQuestionIndexArray = []
                }

            },
        },
        computed: {},
        methods: {
            show() {

                this.questionListWithFilter = []

                this.lieObject = {}

                for (let i = 0; i < this.questionList.length; i++) {

                    if (this.questionList[i].lieDetect) {

                        let key = this.questionList[i].lieDetect

                        if (this.lieObject[key]) {
                            this.lieObject[key].push(Util.clone(this.questionList[i]))

                            let mixObj = Util.clone(this.lieObject[key][1])

                            mixObj.relateObject = Util.clone(this.lieObject[key][0])
                            mixObj.questionIndex = [this.lieObject[key][0].questionIndex, this.lieObject[key][1].questionIndex].join(',')
                            mixObj.name = [this.lieObject[key][0].name, this.lieObject[key][1].name].join(' 。 ')

                            this.lieObject[key].push(Util.clone(mixObj))


                        } else {
                            this.lieObject[key] =[];
                            this.lieObject[key].push(Util.clone(this.questionList[i]))

                        }
                        // continue;
                    }

                    //多媒体不参与因子计算
                    if(this.questionList[i].type==='4' ||this.questionList[i].type==='6'){
                        continue;
                    }

                    this.questionListWithFilter.push(this.questionList[i])
                }
                for (let key in this.lieObject) {
                    // this.questionListWithFilter.push(this.lieObject[key][0])
                    // this.questionListWithFilter.push(this.lieObject[key][1])
                    this.questionListWithFilter.push(this.lieObject[key][2])
                }

                this.isShow = true;
            },
            hide() {
                this.isShow = false;
            },
            isSameLie(lieDetect) {
                let flag = false;
                for (let i = 0; i < this.questionListWithFilter.length; i++) {
                    if (this.questionListWithFilter[i].lieDetect === lieDetect) {
                        flag = true;
                        break;
                    }
                }

                return flag
            },
            getItemByQuestionIndex(questionIndex) {

                return this.questionListWithFilter.find((item) => {
                    return item.questionIndex === questionIndex;
                });
            },
            addCalItem() {

                if (!this.selectedItemQuestionIndexArray || this.selectedItemQuestionIndexArray.length === 0) {
                    this.$Message.warning("请选择条目！")
                    return;
                }

                let items = []

                for (let i = 0; i < this.selectedItemQuestionIndexArray.length; i++) {

                    let item = this.getItemByQuestionIndex(this.selectedItemQuestionIndexArray[i])

                    items.push({
                        "itemId": item.id,                  /**条目id*/
                        "itemName": item.name,              /**条目名称*/
                        "questionIndex": item.questionIndex,
                        "operator": '+',     /**条目与条目的计算符号（+、-）第一个一般为空*/
                        "calculation": {
                            "operator": '+',                 /**因子计算时候可能条目会*2之类（+、-、*、/）*/
                            "value": 0                      /**因子计算时候可能条目计算值*/
                        },
                        "relation": []
                    })

                    if (item.relateObject) {
                        items[items.length - 1].relation.push({
                            "itemId": item.relateObject.id,     /**关联条目id*/
                            "itemName": item.relateObject.name, /**关联条目名称*/
                            "type": 5                           /**关联关系测谎，目前只有这一种*/
                        })
                    }
                }

                this.$emit('addCalItem', items)

            },

        }
    }
</script>

