<template>
    <div>
        <!--量表评价规则-->
        <Modal
                v-model="isShow"
                title="设置计算规则"
                width="1000"
                :mask-closable="false"
        >

            <Form :label-width="120">
                <Form :label-width="100">

                    <FormItem label="因子名称">
                        <Input v-model="judgeRuleForm.name" placeholder="请输入因子名称" style="width:90%;"></Input>
                    </FormItem>

                    <FormItem label="因子解释">
                        <Input type="textarea" :rows="4" v-model="judgeRuleForm.description" placeholder="请输入因子解释" style="width:90%;"></Input>
                    </FormItem>


                    <FormItem label="参与计算条目">
                        <Button type="primary" size="small" @click="showAddCalItemModal">添加条目</Button>

                        <template v-for="(item,index) in judgeRuleForm.items">

                                <span v-if="index!==0" style="margin-left: 3px;">
                                    <Select v-model="item.operator" style="width:45px;">
                                        <Option value="+" key="+"> +</Option>
                                        <Option value="-" key="-"> -</Option>
                                        <Option value="*" key="*"> *</Option>
                                        <Option value="/" key="/"> /</Option>
                                    </Select>
                                </span>

                            <Poptip trigger="hover" title="操作" content="content" style="display: inline-block">

                                <div style="display: inline-block;border:1px solid #e8eaec;padding: 5px;border-radius: 3px;">
                                    <Input style="width:35px;" readonly :value="item.questionIndex"/>

                                    <Select v-model="item.calculation.operator" style="width:45px">
                                        <Option value="+" key="+"> +</Option>
                                        <Option value="-" key="-"> -</Option>
                                        <Option value="*" key="*"> *</Option>
                                        <Option value="/" key="/"> /</Option>
                                    </Select>

                                    <Input v-model="item.calculation.value" placeholder="" style="width:35px;"></Input>
                                </div>

                                <div class="api" slot="content">
                                    <Button type="error" @click="removeCalItem(index)">移除</Button>
                                    <Checkbox v-model="item.calculation.absolutely" true-value="1" false-value="0">绝对值</Checkbox>
                                </div>

                            </Poptip>

                        </template>

                    </FormItem>
                    <FormItem label="基准值调整">
                        <Checkbox v-model="isAdjustBenchmarkValue"></Checkbox>
                        <br/>


                        <template v-if="isAdjustBenchmarkValue">
                            <Button type="primary" size="small" @click="addBenchmarkValue">新增基准值</Button>
                            <Row style="margin-bottom: 5px;" v-for="(item,index) in judgeRuleForm.benchmarkValue">

                                <span style="font-weight: bold">基准值{{index+1}}：</span>
                                当 <Input type="number" :maxlength="5" v-model="item.operation[0].value"
                                         style="width:50px;"></Input>
                                <Select v-model="item.operation[0].operator" style="width:70px;">
                                    <Option value="<" key="<"> <</Option>
                                    <Option value="<=" key="<="> <=</Option>
                                    <Option value="==" key="=="> =</Option>
                                </Select>
                                因子原始分数
                                <Select v-model="item.operation[1].operator" style="width:70px">
                                    <Option value="<" key="<"> <</Option>
                                    <Option value="<=" key="<="> <=</Option>
                                    <Option value="==" key="=="> =</Option>
                                </Select>
                                <Input type="number" :maxlength="5" v-model="item.operation[1].value"
                                       style="width:50px;"></Input>，
                                调整后因子分数为
                                <Input v-model="item.result" placeholder="请输入因子分数"
                                       style="width:150px;"/>


                                <Icon type="ios-remove-circle" size="25" style="cursor: pointer;margin-top: 4px;"
                                      @click="removeBenchmarkValue(index)"></Icon>
                            </Row>
                        </template>
                    </FormItem>


                    <FormItem label="规则">
                        <Button type="primary" size="small" @click="addCalItemRule" style="margin-right: 1em;">新增反馈
                        </Button>
                        <Checkbox v-model="feedbackType" :true-value="'1'" :false-value="'0'">
                            特殊反馈（根据单个或多个条目的内容提供反馈）
                        </Checkbox>
                        <template>
                            <Row style="margin-top: 10px;font-size: 1em;font-weight: bold;">
                                请设置因子分数的区间和反馈内容
                            </Row>
                            <Row style="margin-bottom: 5px;" v-for="(rule,index) in judgeRuleForm.rules">

                                <template v-if="rule.special">


                                    <span style="font-weight: bold">区间{{index+1}}：</span>

                                    <div style="border:1px solid #e8eaec;padding: 5px;border-radius: 3px;margin-left: 4em;">
                                        <Button type="primary" size="small" @click="addSpecialRule(index)"
                                                style="margin-bottom: 1em;">添加反馈条目
                                        </Button>
                                        <br/>
                                        <template v-for="(operator,operatorIndex) in rule.operators">

                                            <Input type="number" :maxlength="5" v-model="operator.calculation[0].value"
                                                   style="width:50px;"></Input>

                                            <Select v-model="operator.calculation[0].operator" style="width:70px;">
                                                <Option value=">" key=">"> <</Option>
                                                <Option value=">=" key=">="> <=</Option>
                                                <Option value="==" key="=="> =</Option>
                                            </Select>

                                            <Select v-model="operator.itemId" style="width:70px;">
                                                <Option style="max-width: 500px;" :value="q.id" :key="q.id"
                                                        v-for="q in questionListWithFilter" v-if="q.questionIndex">
                                                    {{q.questionIndex+" "+q.name}}
                                                </Option>
                                            </Select>

                                            <Select v-model="operator.calculation[1].operator" style="width:70px;">
                                                <Option value="<" key="<"> <</Option>
                                                <Option value="<=" key="<="> <=</Option>
                                                <Option value="==" key="=="> =</Option>
                                            </Select>
                                            <Input type="number" :maxlength="5" v-model="operator.calculation[1].value"
                                                   style="width:50px;"></Input>

                                            <Select v-model="operator.relation" style="width:70px;">
                                                <Option value="&&" key="&&"> 并</Option>
                                                <Option value="||" key="||"> 或</Option>
                                            </Select>

                                            <Icon type="ios-remove-circle" size="25"
                                                  style="cursor: pointer;margin-top: 4px;"
                                                  @click="removeSpecialRule(index,operatorIndex)"></Icon>
                                            <br/>

                                        </template>

                                        <div style="margin-top: 1em;">
                                            反馈内容为
                                            <Input v-model="rule.judge" type="textarea" :rows="3" placeholder="请输入反馈内容"
                                                   style="width:20em;"/>
                                            <Button type="primary" size="small" @click="showSuperLink(rule)" >添加超链
                                            </Button>


                                            <Icon type="ios-remove-circle" size="25"
                                                  style="cursor: pointer;margin-top: 4px;"
                                                  @click="removeCalRule(index)"></Icon>
                                        </div>

                                    </div>


                                </template>
                                <template v-else>
                                    <span style="font-weight: bold">区间{{index+1}}：</span>
                                    当 <Input type="number" :maxlength="5" v-model="rule.minValue"
                                             style="width:50px;"></Input>
                                    <Select v-model="rule.minOperator" style="width:70px;">
                                        <Option value="<" key="<"> <</Option>
                                        <Option value="<=" key="<="> <=</Option>
                                        <Option value="==" key="=="> =</Option>
                                    </Select>
                                    因子分数
                                    <Select v-model="rule.maxOperator" style="width:70px">
                                        <Option value="<" key="<"> <</Option>
                                        <Option value="<=" key="<="> <=</Option>
                                        <Option value="==" key="=="> =</Option>
                                    </Select>
                                    <Input type="number" :maxlength="5" v-model="rule.maxValue"
                                           style="width:50px;"></Input>，
                                    反馈内容为
                                    <Input v-model="rule.judge" type="textarea" :rows="3" placeholder="请输入反馈内容"
                                           style="width:20em;"/>

                                    <Button type="primary" size="small" @click="showSuperLink(rule)" >添加超链
                                    </Button>


                                    <Icon type="ios-remove-circle" size="25" style="cursor: pointer;margin-top: 4px;"
                                          @click="removeCalRule(index)"></Icon>
                                </template>


                            </Row>
                        </template>
                    </FormItem>
                </Form>


            </Form>

            <div slot="footer">
                <Button type="text" size="large" @click="isShow=false">取消</Button>
                <Button type="primary" size="large" @click="saveCalRule">确定</Button>
            </div>
        </Modal>

        <!--添加计算条目窗口-->
        <AddCalItemModal ref="addCalItemModal" :questionList="questionList" @addCalItem="addCalItem"></AddCalItemModal>

        <!--        设置原始分数-->
        <SetOriginalScoreModal ref="setOriginalScoreModal"></SetOriginalScoreModal>

<!--        超链接-->
        <SuperLink ref="superLink"></SuperLink>

    </div>

</template>

<script>
    import {Util} from '../../../assets/js/Util'
    import AddCalItemModal from '../components/AddCalItemModal'
    import SetOriginalScoreModal from '../components/SetOriginalScoreModal'
    import SuperLink from '../components/SuperLink'

    export default {
        name: '',
        components: {
            AddCalItemModal,
            SetOriginalScoreModal,
            SuperLink
        },
        data() {
            return {
                feedbackType: '0',//1是特殊，按照条目
                isShow: false,
                judgeRuleForm: {},
                isAdjustBenchmarkValue: false,
                questionListWithFilter: [],
                lieObject: {},
            }
        },
        computed: {},
        props: {

            measureId: {
                type: Number,
                default: null
            },
            questionList: {
                type: Array,
                default: () => {
                    return []
                }
            },
        },
        watch: {
            isShow(newValue) {

            },
        },
        computed: {},
        mounted() {
            setTimeout(() => {
                this.getQuestionListWithFilter()
            }, 2000)
        },
        methods: {
            showSuperLink(rule){

                this.$refs.superLink.show(rule,'judge')
            },
            addSpecialRule(index) {
                this.judgeRuleForm.rules[index].operators.push({
                    "itemId": '',
                    "calculation": [{
                        "operator": ">",
                        "value": 0
                    }, {
                        "operator": "<",
                        "value": 1
                    }],
                    relation: "&&"
                })
            },
            removeSpecialRule(index, operatorIndex) {
                this.judgeRuleForm.rules[index].operators.splice(operatorIndex, 1)
            },
            getQuestionListWithFilter() {
                this.questionListWithFilter = []

                this.lieObject = {}
                for (let i = 0; i < this.questionList.length; i++) {

                    if (this.questionList[i].lieDetect) {

                        let key = this.questionList[i].lieDetect

                        if (this.lieObject[key]) {

                            this.lieObject[Util.uuid()] = Util.clone(this.questionList[i])

                            let mixKey = Util.uuid();

                            this.lieObject[mixKey] = Util.clone(this.questionList[i])

                            this.lieObject[mixKey].relateObject = Util.clone(this.lieObject[key])
                            this.lieObject[mixKey].questionIndex = [this.lieObject[key].questionIndex, this.questionList[i].questionIndex].join(',')
                            this.lieObject[mixKey].name = [this.lieObject[key].name, this.questionList[i].name].join(' 。 ')

                        } else {
                            this.lieObject[key] = Util.clone(this.questionList[i])

                        }
                        continue;
                    }

                    //多媒体不参与因子计算
                    if (this.questionList[i].type === '4') {
                        continue;
                    }

                    this.questionListWithFilter.push(this.questionList[i])
                }
                for (let key in this.lieObject) {
                    this.questionListWithFilter.push(this.lieObject[key])
                }
            },
            removeCalRule(index) {
                this.judgeRuleForm.rules.splice(index, 1)
            },
            removeBenchmarkValue(index){
                this.judgeRuleForm.benchmarkValue.splice(index, 1)
            },
            addCalItemRule() {

                if (this.feedbackType === '1') {
                    this.judgeRuleForm.rules.push({
                        special: '1',
                        operators: [
                            {
                                "itemId": '',
                                "calculation": [{
                                    "operator": ">",
                                    "value": 0
                                }, {
                                    "operator": "<",
                                    "value": 1
                                }],
                                relation: "&&"
                            }]
                    })
                } else {
                    this.judgeRuleForm.rules.push({
                        minOperator: '',
                        minValue: 0,
                        maxOperator: '',
                        maxValue: 0,
                        judge: ''
                    })

                }


            },
            addBenchmarkValue() {
                this.judgeRuleForm.benchmarkValue.push({
                    "operation": [{
                        "operator": "<",
                        "value": 0
                    }, {
                        "operator": "<",
                        "value": 1
                    }],
                    "result": 0
                })
            },
            showAddCalItemModal() {

                this.$refs.addCalItemModal.show();
            },
            removeCalItem(index) {
                this.judgeRuleForm.items.splice(index, 1)
            },
            resetJudgeRuleForm() {
                this.judgeRuleForm = {
                    questions: [],
                    rules: [{
                        minOperator: '',
                        minValue: 0,
                        maxOperator: '',
                        maxValue: 0,
                        judge: ''
                    }],
                    name: '',
                    description: '',
                    items: [],
                    benchmarkValue: []
                }
            },
            show(type) {

                if (type === 'add') {
                    this.resetJudgeRuleForm()

                    this.isAdjustBenchmarkValue = false

                } else {
                    let params = type;

                    let factor = params.row;

                    this.judgeRuleForm = {
                        id: factor.id,
                        name: factor.name,
                        description: factor.description,
                        items: factor.ruleCondition.items,
                        rules: factor.ruleCondition.rules,
                        benchmarkValue: factor.ruleCondition.benchmarkValue ? factor.ruleCondition.benchmarkValue : []
                    }

                    this.isAdjustBenchmarkValue = factor.ruleCondition.benchmarkValue && factor.ruleCondition.benchmarkValue.length > 0;
                }

                this.isShow = true;
            },
            hide() {
                this.isShow = false;
            },

            /**
             * 添加计算条目
             * */
            addCalItem(selectedCalItemArray) {

                if (!this.judgeRuleForm.items) {
                    this.judgeRuleForm.items = [];
                }

                this.judgeRuleForm.items.push.apply(this.judgeRuleForm.items, selectedCalItemArray)

                this.$refs.addCalItemModal.hide();

            },

            setCalItemOriginalScore(item) {


                this.$refs.setOriginalScoreModal.show(item);
            },

            saveCalRule() {
                if (!this.judgeRuleForm.name) {
                    this.$Message.warning("请输入因子名称！")
                    return;
                }

                if (this.judgeRuleForm.items.length === 0) {
                    this.$Message.warning("请至少添加一条条目！")
                    return;
                }
                for (let i = 0; i < this.judgeRuleForm.items.length; i++) {
                    if (!this.judgeRuleForm.items[i].calculation.value && this.judgeRuleForm.items[i].calculation.value !== 0) {
                        this.$Message.warning("参与计算条目填写不完整，请检查！！");
                        return
                    }

                }

                if (this.isAdjustBenchmarkValue) {
                    if (this.judgeRuleForm.benchmarkValue.length === 0) {
                        this.$Message.warning("请至少添加一条基准值！")
                        return;
                    }

                    for (let i = 0; i < this.judgeRuleForm.benchmarkValue.length; i++) {
                        if (!this.judgeRuleForm.benchmarkValue[i].operation[0].operator || !this.judgeRuleForm.benchmarkValue[i].operation[1].operator) {
                            this.$Message.warning("基准值填写不完整，请检查！！");
                            return
                        }

                        if ((!this.judgeRuleForm.benchmarkValue[i].operation[0].value && this.judgeRuleForm.benchmarkValue[i].operation[0].value !== 0)
                            || (!this.judgeRuleForm.benchmarkValue[i].operation[1].value && this.judgeRuleForm.benchmarkValue[i].operation[1].value !== 0)) {
                            this.$Message.warning("基准值填写不完整，请检查！！");
                            return
                        }

                        if (!this.judgeRuleForm.benchmarkValue[i].result && this.judgeRuleForm.benchmarkValue[i].result !== 0) {
                            this.$Message.warning("基准值填写不完整，请检查！！");
                            return
                        }

                        if (!Util.isValidNum(this.judgeRuleForm.benchmarkValue[i].result)
                            || !Util.isValidNum(this.judgeRuleForm.benchmarkValue[i].operation[0].value)
                            || !Util.isValidNum(this.judgeRuleForm.benchmarkValue[i].operation[1].value)) {
                            this.$Message.warning("请填写正确的数值，请检查！！");
                            return
                        }

                    }


                }

                if (this.judgeRuleForm.rules.length === 0) {
                    this.$Message.warning("请至少添加一条规则！")
                    return;
                }

                for (let i = 0; i < this.judgeRuleForm.rules.length; i++) {

                    let rule = this.judgeRuleForm.rules[i]

                    if (rule.special === '1') {
                        let operators = rule.operators;
                        if (operators.length === 0) {
                            this.$Message.warning("最少需要添加一条反馈条目，请检查！！");
                            return
                        }
                        for (let j = 0; j < operators.length; j++) {
                            let operator = operators[j]

                            if (!operator.calculation[0].value && operator.calculation[0].value !== 0) {
                                this.$Message.warning("最小值填写不完整，请检查！！");
                                return
                            }
                            if (!operator.calculation[0].operator && operator.calculation[0].operator !== 0) {
                                this.$Message.warning("最小值操作符填写不完整，请检查！！");
                                return
                            }

                            if (!operator.itemId) {
                                this.$Message.warning("请选择因子！！");
                                return
                            }

                            if (!operator.calculation[1].value && operator.calculation[1].value !== 0) {
                                this.$Message.warning("最大值填写不完整，请检查！！");
                                return
                            }
                            if (!operator.calculation[1].operator && operator.calculation[1].operator !== 0) {
                                this.$Message.warning("最大值操作符填写不完整，请检查！！");
                                return
                            }
                            if (!rule.judge) {
                                this.$Message.warning("有反馈内容未填写，请检查！！");
                                return
                            }


                        }
                    } else {
                        if (!this.judgeRuleForm.rules[i].minOperator) {
                            // this.$Message.warning("最小值操作符未填写，请检查！！");
                            this.$Message.warning("因子分数区间有信息填写不完整，请检查！！");
                            return
                        }


                        if (!this.judgeRuleForm.rules[i].minValue && this.judgeRuleForm.rules[i].minValue !== 0) {
                            // this.$Message.warning("最小值分数未填写，请检查！！");
                            this.$Message.warning("因子分数区间有信息填写不完整，请检查！！");
                            return
                        }

                        if (!Util.isValidNum(this.judgeRuleForm.rules[i].minValue) || String(this.judgeRuleForm.rules[i].minValue).length > 5) {
                            // this.$Message.warning("最小值长度过长或格式不对，请检查！！");
                            this.$Message.warning("因子分数区间有信息填写格式不正确，请检查！！");
                            return
                        }


                        if (!this.judgeRuleForm.rules[i].maxOperator) {
                            // this.$Message.warning("最大值操作符未填写，请检查！！");
                            this.$Message.warning("因子分数区间有信息填写不完整，请检查！！");
                            return
                        }


                        if (!this.judgeRuleForm.rules[i].maxValue && this.judgeRuleForm.rules[i].maxValue !== 0) {
                            // this.$Message.warning("最大值分数未填写，请检查！！");
                            this.$Message.warning("因子分数区间有信息填写不完整，请检查！！");
                            return
                        }

                        if (!Util.isValidNum(this.judgeRuleForm.rules[i].maxValue) || String(this.judgeRuleForm.rules[i].maxValue).length > 5) {
                            this.$Message.warning("因子分数区间有信息填写格式不正确，请检查！！");
                            // this.$Message.warning("最大值长度过长或格式不对，请检查！！");
                            return
                        }

                        if (!this.judgeRuleForm.rules[i].judge) {
                            this.$Message.warning("有反馈内容未填写，请检查！！");
                            return
                        }
                    }


                }


                let url = 'measure/addFactor'
                if (this.judgeRuleForm.id) {
                    url = 'measure/updateFactor'
                }

                this.http.post(url, {
                    id: this.judgeRuleForm.id,
                    measureId: this.measureId,
                    name: this.judgeRuleForm.name,
                    description: this.judgeRuleForm.description,
                    ruleCondition: JSON.stringify(this.judgeRuleForm)

                }).then(data => {
                    this.hide()
                    this.$Message.success("操作成功！")

                    this.$emit('save')

                }).catch(err => {
                    this.$Message.error(err)
                })


            },

        }
    }
</script>

