<template>
    <div>
        <!--量表评价规则容器-->
        <Modal
                v-model="isShow"
                title="设置计算规则"
                width="800"
                :mask-closable="false"
        >
            <Row style="padding:5px;">
                <Col span="13" offset="11">
                    <Button type="success" size="small" @click="showFactorModal('add')">新增因子</Button>
                    <Button type="primary" size="small" @click="showParentFactorModal('add')">新增因子间计算因子</Button>
                    <Button type="success" size="small" @click="showFactorAdjustModal('add')">新增掩饰因子</Button>
                    <Button type="primary" size="small" @click="showNewParentFactorModal('add')">新增因子关系显示</Button>
                </Col>
            </Row>
            <Table stripe :columns="ruleColumns" :data="ruleDataList"></Table>
            <br/>
            <Table stripe :columns="ruleColumnsOfParent" :data="ruleDataListOfParent"></Table>
            <br/>
            <Table stripe :columns="ruleColumnsOfNewParent" :data="ruleDataListOfNewParent"></Table>
            <br/>
            <Table stripe :columns="factorAdjustColumns" :data="factorAdjustDataList"></Table>

            <div slot="footer">
                <Button type="primary" size="large" @click="isShow=false">关闭</Button>
            </div>
        </Modal>

        <!--子因子-->
        <FactorModal ref="factorModal" :measureId="Number(measureId)" :questionList="questionList"  @save="showFactorContainerModal" />

        <!--        因子间计算因子-->
        <ParentFactorModal ref="parentFactorModal" :measureId="Number(measureId)" :ruleDataList="ruleDataList" @save="showFactorContainerModal"/>

        <!--        新的因子关系显示-->
        <NewParentFactorModal ref="newParentFactorModal" :measureObj="measureObj" :measureId="Number(measureId)" :ruleDataList="ruleDataList" @save="showFactorContainerModal"/>

        <!--掩饰因子窗口-->
        <FactorAdjustModal ref="factorAdjustModal" :measureId="Number(measureId)" :ruleDataList="ruleDataList" @save="showFactorContainerModal" />

    </div>

</template>

<script>
    import {Util} from '../../../assets/js/Util'
    import ParentFactorModal from '../components/ParentFactorModal'
    import NewParentFactorModal from '../components/NewParentFactorModal'
    import FactorModal from '../components/FactorModal'
    import FactorAdjustModal from '../components/FactorAdjustModal'

    export default {
        name: '',
        components: {
            ParentFactorModal,
            FactorModal,
            FactorAdjustModal,
            NewParentFactorModal
        },
        data() {
            return {
                isShow: false,
                ruleColumns: [
                    {
                        type: 'index',
                        width: 60,
                        align: 'center',
                    },
                    {
                        title: '因子名称',
                        key: 'name'
                    },
                    {
                        title: '操作',
                        key: 'action',
                        width: 160,
                        render: (h, params) => {
                            return h('div', [
                                h('Button', {
                                    props: {
                                        type: 'primary',
                                        size: 'small'
                                    },
                                    style: {
                                        marginRight: '5px'
                                    },
                                    on: {
                                        click: () => {
                                            this.showFactorModal(params)
                                        }
                                    }
                                }, '修改'),
                                h('Button', {
                                    props: {
                                        type: 'error',
                                        size: 'small'
                                    },
                                    style: {
                                        marginRight: '5px'
                                    },
                                    on: {
                                        click: () => {
                                            this.deleteJudgeRule(params)
                                        }
                                    }
                                }, '删除')
                            ])
                        }
                    }

                ],
                ruleColumnsOfParent: [
                    {
                        type: 'index',
                        width: 60,
                        align: 'center',
                    },
                    {
                        title: '因子间计算因子名称',
                        key: 'name'
                    },
                    {
                        title: '操作',
                        key: 'action',
                        width: 160,
                        render: (h, params) => {
                            return h('div', [
                                h('Button', {
                                    props: {
                                        type: 'primary',
                                        size: 'small'
                                    },
                                    style: {
                                        marginRight: '5px'
                                    },
                                    on: {
                                        click: () => {
                                            this.showParentFactorModal(params)
                                        }
                                    }
                                }, '修改'),
                                h('Button', {
                                    props: {
                                        type: 'error',
                                        size: 'small'
                                    },
                                    style: {
                                        marginRight: '5px'
                                    },
                                    on: {
                                        click: () => {
                                            this.deleteJudgeRuleOfParent(params)
                                        }
                                    }
                                }, '删除')
                            ])
                        }
                    }

                ],
                ruleColumnsOfNewParent: [
                    {
                        type: 'index',
                        width: 60,
                        align: 'center',
                    },
                    {
                        title: '因子关系显示名称',
                        key: 'name'
                    },
                    {
                        title: '操作',
                        key: 'action',
                        width: 160,
                        render: (h, params) => {
                            return h('div', [
                                h('Button', {
                                    props: {
                                        type: 'primary',
                                        size: 'small'
                                    },
                                    style: {
                                        marginRight: '5px'
                                    },
                                    on: {
                                        click: () => {
                                            this.showNewParentFactorModal(params)
                                        }
                                    }
                                }, '修改'),
                                h('Button', {
                                    props: {
                                        type: 'error',
                                        size: 'small'
                                    },
                                    style: {
                                        marginRight: '5px'
                                    },
                                    on: {
                                        click: () => {
                                            this.deleteNewParentFactor(params)
                                        }
                                    }
                                }, '删除')
                            ])
                        }
                    }

                ],
                factorAdjustColumns: [
                    {
                        type: 'index',
                        width: 60,
                        align: 'center',
                    },
                    {
                        title: '掩饰因子名称',
                        key: 'name'
                    },
                    {
                        title: '操作',
                        key: 'action',
                        width: 160,
                        render: (h, params) => {
                            return h('div', [
                                h('Button', {
                                    props: {
                                        type: 'primary',
                                        size: 'small'
                                    },
                                    style: {
                                        marginRight: '5px'
                                    },
                                    on: {
                                        click: () => {
                                            this.showFactorAdjustModal(params)
                                        }
                                    }
                                }, '修改'),
                                h('Button', {
                                    props: {
                                        type: 'error',
                                        size: 'small'
                                    },
                                    style: {
                                        marginRight: '5px'
                                    },
                                    on: {
                                        click: () => {
                                            this.deleteFactorAdjust(params)
                                        }
                                    }
                                }, '删除')
                            ])
                        }
                    }

                ],
            }
        },
        computed: {},
        props: {

            measureId: {
                type: Number,
                default: null
            },
            questionList: {
                type: Array,
                default: () => {
                    return []
                }
            },
            ruleDataList: {
                type: Array,
                default: () => {
                    return []
                }
            },
            ruleDataListOfParent: {
                type: Array,
                default: () => {
                    return []
                }
            },
            ruleDataListOfNewParent: {
                type: Array,
                default: () => {
                    return []
                }
            },
            factorAdjustDataList: {
                type: Array,
                default: () => {
                    return []
                }
            },
            allFactorList: {
                type: Array,
                default: () => {
                    return []
                }
            },
            measureObj: {
                type: Object,
                default: () => {
                    return {}
                }
            },

        },
        watch: {
            isShow(newValue) {

            },
        },
        computed: {},
        mounted(){
        },
        methods: {

            show() {

                this.isShow = true;
            },
            hide() {
                this.isShow = false;
            },
            showFactorModal(type) {

                this.$refs.factorModal.show(type);
            },

            showFactorAdjustModal(type) {

                this.$refs.factorAdjustModal.show(type);
            },
            /**
             * 必须有子因子才能添加因子间计算因子
             * */
            showParentFactorModal(type) {
                if (!this.ruleDataList || this.ruleDataList.length === 0) {
                    this.$Message.warning("请先添加子因子！");
                    return;
                }


                if (type === 'add') {
                    this.$refs.parentFactorModal.show()



                } else {
                    let params = type;

                    this.$refs.parentFactorModal.show({
                        id: params.row.id,
                        name: params.row.name,
                        description: params.row.description,
                        rule: params.row.ruleCondition.rule
                    })


                }



            },
            /**
             * 必须有子因子才能添加因子间计算因子
             * */
            showNewParentFactorModal(type) {
                if (!this.ruleDataList || this.ruleDataList.length === 0) {
                    this.$Message.warning("请先添加子因子！");
                    return;
                }


                if (type === 'add') {
                    this.$refs.newParentFactorModal.show()



                } else {
                    let params = type;

                    this.$refs.newParentFactorModal.show(params.index)


                }



            },

            deleteJudgeRule(params) {
                this.$Modal.confirm({
                    title: '您确认删除吗？',
                    content: '',
                    onOk: () => {

                        this.http.post('measure/deleteFactor', {
                            id: params.row.id
                        }).then(() => {
                            this.$Message.success("删除成功")
                            this.showFactorContainerModal()
                        }).catch(error => {
                            this.$Message.error(error)
                        })

                    },
                    onCancel: () => {
                    }
                });
            },
            deleteJudgeRuleOfParent(params) {
                this.$Modal.confirm({
                    title: '您确认删除吗？',
                    content: '',
                    onOk: () => {

                        this.http.post('measure/deleteFactorAndFactor', {
                            id: params.row.id,
                            measureId:this.measureId
                        }).then(() => {
                            this.$Message.success("删除成功")
                            this.showFactorContainerModal()
                        }).catch(error => {
                            this.$Message.error(error)
                        })

                    },
                    onCancel: () => {
                    }
                });
            },
            deleteNewParentFactor(params) {
                this.$Modal.confirm({
                    title: '您确认删除吗？',
                    content: '',
                    onOk: () => {

                        if(this.measureObj.factor_relation){
                            if(typeof this.measureObj.factor_relation==='string'){
                                this.measureObj.factor_relation=JSON.parse(this.measureObj.factor_relation)
                            }
                        }else{
                            this.measureObj.factor_relation=[]
                        }

                        this.measureObj.factor_relation.splice(params.index,1)

                        let url = 'measure/update'

                        this.http.post(url, {
                            id: this.measureId,
                            factor_relation: JSON.stringify(this.measureObj.factor_relation),

                        }).then(() => {
                            this.$Message.success("删除成功")
                            this.showFactorContainerModal()

                        }).catch(err => {
                            this.$Message.error(err)
                        })



                    },
                    onCancel: () => {
                    }
                });
            },

            deleteFactorAdjust(params) {
                this.$Modal.confirm({
                    title: '您确认删除吗？',
                    content: '',
                    onOk: () => {

                        this.http.post('measure/deleteFactorAndFactor', {
                            id: params.row.id,
                            measureId:this.measureId
                        }).then(() => {
                            this.$Message.success("删除成功")
                            this.showFactorContainerModal()
                        }).catch(error => {
                            this.$Message.error(error)
                        })

                    },
                    onCancel: () => {
                    }
                });
            },
            showFactorContainerModal(){
                this.$emit('showFactorContainerModal')
            },


        }
    }
</script>

