<template>
    <div>
        <Modal
                v-model="isShow"
                title="掩饰因子"
                width="880"
                :mask-closable="false"
        >

            <Form :label-width="120">
                <Form :label-width="100">

                    <FormItem label="掩饰因子名称">
                        <Input v-model="factorAdjustForm.name" placeholder="请输入掩饰因子名称" style="width:40%;"></Input>
                    </FormItem>

                    <FormItem label="">
                        <Button type="primary" size="small" @click="addFactorItem">新增掩饰因子</Button>
                        <template>
                            <Row style="margin-bottom: 5px;"  type="flex" justify="center" align="middle"  v-for="(item,index) in factorAdjustForm.ruleCondition.factors">

                                <Col span="22">

                                    <div style="border:1px solid #dcdee2;padding:5px;margin:10px;">
                                        <span style="font-weight: bold">掩饰因子{{index+1}}：</span>
                                        <Row type="flex" justify="center" align="middle" style="margin-bottom: 10px;">
                                            <Col span="6">
                                                <Input type="number" :maxlength="5" v-model="item.operation[0].value"
                                                       style="width:50px;"></Input>

                                                <Select v-model="item.operation[0].operator" style="width:70px;">
                                                    <Option value="<" key="<"> <</Option>
                                                    <Option value="<=" key="<="> <=</Option>
                                                    <Option value="==" key="=="> =</Option>
                                                </Select>
                                            </Col>
                                            <Col span="12">

                                                <div >
                                                    <template  v-for="(factorOperationItem,factorOperationItem_index) in item.factorOperation">

                                                            <Select v-model="factorOperationItem.factorId" style="width:150px">
                                                                <Option :value="factor.id" :key="factor.id" v-for="factor in factorList"> {{factor.name}}</Option>
                                                            </Select>
                                                            <Select v-model="factorOperationItem.operator" style="width:70px;">
                                                                <Option value="+" key="+"> +</Option>
                                                                <Option value="-" key="-"> -</Option>
                                                            </Select>

                                                            <Icon v-if="factorOperationItem_index>0" type="ios-remove-circle" size="25" style="cursor: pointer;margin-top: 4px;"
                                                                  @click="removeFactorOperationItem(item.factorOperation,factorOperationItem_index)"></Icon>
                                                            <Icon v-if="factorOperationItem_index===(item.factorOperation.length-1)" type="ios-add-circle" size="25" style="cursor: pointer;margin-top: 4px;"
                                                                  @click="addFactorOperationItem(item.factorOperation)"></Icon>
                                                    </template>
                                                </div>

                                            </Col>
                                            <Col span="6">
                                                <Select v-model="item.operation[1].operator" style="width:70px">
                                                    <Option value="<" key="<"> <</Option>
                                                    <Option value="<=" key="<="> <=</Option>
                                                    <Option value="==" key="=="> =</Option>
                                                </Select>

                                                <Input type="number" :maxlength="5" v-model="item.operation[1].value" style="width:50px;"></Input>

                                            </Col>
                                        </Row>

                                        计算规则
                                        <Select v-model="item.operator" style="width:70px">
                                            <Option value="&&" key="&&"> 并</Option>
                                            <Option value="||" key="||"> 或</Option>
                                        </Select>

                                    </div>

                                </Col>

                                <Col span="1">
                                    <Icon type="ios-remove-circle" size="25" style="cursor: pointer;margin-top: 4px;"
                                          @click="removeFactorItem(index)"></Icon>

                                </Col>

                            </Row>
                        </template>
                    </FormItem>

                    <FormItem label="">
                        <Button type="primary" size="small" @click="addAdjustFactorItem">新增被掩饰因子</Button>
                        <template>
                            <Row style="margin-bottom: 5px;" v-for="(item,index) in factorAdjustForm.ruleCondition.adjustFactors">

                                <Col span="18">

                                    <span style="font-weight: bold">&nbsp;&nbsp;&nbsp;&nbsp;被掩饰因子{{index+1}}：</span>
                                    <Select v-model="item.factorId" style="width:150px">
                                        <Option :value="factor.id" :key="factor.id" v-for="factor in factorList"> {{factor.name}}</Option>
                                    </Select>


                                    <div style="display: inline-block;border:1px solid #dcdee2;padding:2px;margin-right: 5px;">
                                        <Select v-model="item.operation[0].operator" style="width:70px;">
                                            <Option value="+" key="+"> +</Option>
                                            <Option value="-" key="-"> -</Option>
                                            <Option value="*" key="*"> *</Option>
                                            <Option value="/" key="/"> /</Option>
                                        </Select>
                                        <Input type="number" :maxlength="5" v-model="item.operation[0].value" style="width:50px;"></Input>
                                    </div>


                                    <div style="display: inline-block;border:1px solid #dcdee2;padding:2px;margin-right: 5px;">
                                        <Select v-model="item.operation[1].operator" style="width:70px;">
                                            <Option value="+" key="+"> +</Option>
                                            <Option value="-" key="-"> -</Option>
                                            <Option value="*" key="*"> *</Option>
                                            <Option value="/" key="/"> /</Option>
                                        </Select>
                                        <Input type="number" :maxlength="5" v-model="item.operation[1].value" style="width:50px;"></Input>
                                    </div>

                                </Col>

                                <Col span="1">
                                    <Icon type="ios-remove-circle" size="25" style="cursor: pointer;margin-top: 4px;"
                                          @click="removeAdjustFactorItem(index)"></Icon>

                                </Col>
                            </Row>
                        </template>
                    </FormItem>

                </Form>


            </Form>

            <div slot="footer">
                <Button type="text" size="large" @click="isShow=false">取消</Button>
                <Button type="primary" size="large" @click="save">确定</Button>
            </div>
        </Modal>


        <!--        设置原始分数-->
        <SetOriginalScoreModal ref="setOriginalScoreModal"></SetOriginalScoreModal>
    </div>

</template>

<script>
    import {Util} from '../../../assets/js/Util'
    import AddCalItemModal from '../components/AddCalItemModal'
    import SetOriginalScoreModal from '../components/SetOriginalScoreModal'

    export default {
        name: '',
        components: {
            AddCalItemModal,
            SetOriginalScoreModal
        },
        data() {
            return {
                isShow: false,
                factorAdjustForm:{
                    ruleCondition:{
                        factors:[],
                        adjustFactors:[],
                    }
                },
                factorList:[],
            }
        },
        computed:{

        },
        props: {

            ruleDataList: {
                type: Array,
                default: () => {
                    return []
                }
            },

            measureId: {
                type: Number,
                default: null
            },
        },
        watch: {
            isShow(newValue) {

            },
        },
        computed: {},
        mounted(){
        },
        methods: {
            removeFactorOperationItem(factorOperation,factorOperationItem_index){
                factorOperation.splice(factorOperationItem_index,1)
            },
            addFactorOperationItem(factorOperation){
                factorOperation.push({
                    "operator": "+",
                    "factorId": ''
                })
            },
            removeFactorItem(index) {
                this.factorAdjustForm.ruleCondition.factors.splice(index, 1)
            },
            removeAdjustFactorItem(index) {
                this.factorAdjustForm.ruleCondition.adjustFactors.splice(index, 1)
            },
            addFactorItem() {
                this.factorAdjustForm.ruleCondition.factors.push({
                    factorId:'',
                    operation:[{
                        operator:'<',
                        value:0
                    },{
                        operator:'<',
                        value:1
                    }],
                    factorOperation:[
                        {
                            "operator": "+",
                            "factorId": ''
                        }
                    ]

                })
            },

            addAdjustFactorItem() {
                this.factorAdjustForm.ruleCondition.adjustFactors.push({
                    factorId:'',
                    operation:[{
                        operator:'+',
                        value:0
                    },{
                        operator:'+',
                        value:0
                    }]
                })
            },

            resetJudgeRuleForm() {
                this.factorAdjustForm = {
                    name:'',
                    ruleCondition:{
                        factors:[],
                        adjustFactors:[],
                    }
                }


            },
            show(type) {

                this.factorList=this.ruleDataList

                if (type === 'add') {
                    this.resetJudgeRuleForm()


                } else {
                    let params = type;

                    let item = params.row;

                    for(let i=0;i<item.ruleCondition.factors.length;i++){
                        if(!item.ruleCondition.factors[i].factorOperation){
                            item.ruleCondition.factors[i].factorOperation=[{
                                factorId:'',
                                operation:[{
                                    operator:'<',
                                    value:0
                                },{
                                    operator:'<',
                                    value:1
                                }],
                                factorOperation:[
                                    {
                                        "operator": "+",
                                        "factorId": ''
                                    }
                                ]

                            }]
                        }
                    }

                    this.factorAdjustForm = {
                        id: item.id,
                        name: item.name,
                        ruleCondition: item.ruleCondition
                    }

                }

                this.isShow = true;
            },
            hide() {
                this.isShow = false;
            },

            /**
             * 添加计算条目
             * */
            addCalItem(selectedCalItemArray) {

                if (!this.judgeRuleForm.items) {
                    this.judgeRuleForm.items = [];
                }

                this.judgeRuleForm.items.push.apply(this.judgeRuleForm.items, selectedCalItemArray)

                this.$refs.addCalItemModal.hide();

            },


            save() {
                if (!this.factorAdjustForm.name) {
                    this.$Message.warning("请输入掩饰因子名称！")
                    return;
                }

                if (this.factorAdjustForm.ruleCondition.factors.length === 0) {
                    this.$Message.warning("请至少添加一条掩饰因子！")
                    return;
                }

                for (let i = 0; i < this.factorAdjustForm.ruleCondition.factors.length; i++) {
                    if ((!this.factorAdjustForm.ruleCondition.factors[i].operation[0].value && this.factorAdjustForm.ruleCondition.factors[i].operation[0].value!==0)
                        ||(!this.factorAdjustForm.ruleCondition.factors[i].operation[1].value && this.factorAdjustForm.ruleCondition.factors[i].operation[1].value!==0)) {
                        this.$Message.warning("掩饰因子填写不完整，请检查！！");
                        return
                    }

                    if (!Util.isValidNum(this.factorAdjustForm.ruleCondition.factors[i].operation[0].value) || (!Util.isValidNum(this.factorAdjustForm.ruleCondition.factors[i].operation[1].value))) {
                        this.$Message.warning("掩饰因子数值填写不正确，请检查！！");
                        return
                    }

                    for(let j=0;j<this.factorAdjustForm.ruleCondition.factors[i].factorOperation.length;j++){
                        let item=this.factorAdjustForm.ruleCondition.factors[i].factorOperation[j]
                        if(!item.factorId){
                            this.$Message.warning("掩饰因子有未选择项，请检查！！");
                            return;
                        }
                    }

                    if (!this.factorAdjustForm.ruleCondition.factors[i].operator) {
                        this.$Message.warning("请选择计算规则！！");
                        return
                    }

                }


                if (this.factorAdjustForm.ruleCondition.adjustFactors.length === 0) {
                    this.$Message.warning("请至少添加一条被掩饰因子！")
                    return;
                }


                for (let i = 0; i < this.factorAdjustForm.ruleCondition.adjustFactors.length; i++) {

                    if (!this.factorAdjustForm.ruleCondition.adjustFactors[i].factorId) {
                        this.$Message.warning("请选择被掩饰因子！！");
                        return
                    }

                    for(let j=0;j<this.factorAdjustForm.ruleCondition.adjustFactors[i].operation.length;j++){
                        if (!this.factorAdjustForm.ruleCondition.adjustFactors[i].operation[j].value && this.factorAdjustForm.ruleCondition.adjustFactors[i].operation[j].value!==0) {
                            this.$Message.warning("被掩饰因子填写不完整，请检查！！");
                            return
                        }

                        if (!Util.isValidNum(this.factorAdjustForm.ruleCondition.adjustFactors[i].operation[j].value)) {
                            this.$Message.warning("被掩饰因子数值填写不正确，请检查！！");
                            return
                        }
                    }

                }

                let url = 'measure/addFactorAndFactor'
                if (this.factorAdjustForm.id) {
                    url = 'measure/updateFactorAndFactor'
                }


                this.http.post(url, {
                    measureId:Number(this.measureId),
                    id: this.factorAdjustForm.id,
                    isFactor:1,
                    name: this.factorAdjustForm.name,
                    ruleCondition: JSON.stringify(this.factorAdjustForm.ruleCondition)

                }).then(data => {
                    this.hide()
                    this.$Message.success("操作成功！")

                    this.$emit('save')

                }).catch(err => {
                    this.$Message.error(err)
                })


            },

        }
    }
</script>

