<template>
    <div>
        <Modal
                v-model="isShow"
                title="设置特定答案"
                width="400"
                :mask-closable="false"
        >

            <Form :label-width="120">
                <Form :label-width="100">

                    <FormItem label="特定答案">
                        <Input v-model="item.givenAnswer" placeholder="请输入特定答案值" ></Input>
                    </FormItem>

                </Form>


            </Form>

            <div slot="footer">
                <Button type="text" size="large" @click="isShow=false">取消</Button>
                <Button type="primary" size="large" @click="save">确定</Button>
            </div>
        </Modal>

    </div>

</template>

<script>
    import {Util} from '../../../assets/js/Util'

    export default {
        name: '',
        components: {
        },
        data() {
            return {
                isShow: false,
                item:{}
            }
        },
        computed:{

        },
        props: {

            ruleDataList: {
                type: Array,
                default: () => {
                    return []
                }
            },
            measureId: {
                type: Number,
                default: -1
            },
        },
        watch: {
            isShow(newValue) {

            },
        },
        computed: {},
        methods: {

            show(item) {

                this.item=item;

                this.isShow = true;
            },
            hide() {
                this.isShow = false;
            },



            save() {
                if (!this.item.givenAnswer) {
                    this.$Message.warning("请输入特定答案值！")
                    return;
                }

                if (!Util.isValidNum(this.item.givenAnswer)) {
                    this.$Message.warning("请输入合法数字！")
                    return;
                }



                let url = 'question/update'

                this.http.post(url, {
                    id: this.item.id,
                    givenAnswer:this.item.givenAnswer,
                    measureId:this.measureId
                }).then(data => {
                    this.hide()
                    this.$Message.success("操作成功！")

                    this.$emit('save')

                }).catch(err => {
                    this.$Message.error(err)
                })


            },

        }
    }
</script>

