<template>

    <Row style="padding:5px;height:50px;text-align: right">
        <Col span="24" offset="0">
            <Button  v-show="!isQuery" type="primary" @click="showQuestionDetailModal('1')">指导语</Button>
            <Button  v-show="!isQuery" type="success" @click="showQuestionDetailModal('0')">问答</Button>

            <Button  v-show="!isQuery" type="warning" @click="showQuestionDetailModal('2')">选择题</Button>
            <Button  v-show="!isQuery" type="primary" @click="showQuestionDetailModal('6')">多选题</Button>
            <Button  v-show="!isQuery" type="info"    @click="showQuestionDetailModal('3')">矩阵</Button>
            <Button  v-show="!isQuery" type="primary" @click="showQuestionDetailModal('4')">多媒体矩阵</Button>
            <Button  v-show="!isQuery" type="warning" @click="showQuestionDetailModal('5')">测谎选择题</Button>
            <Button  v-show="!isQuery" type="primary" @click="go2GivenAnswerList">设置特定值列表</Button>
            <Button  v-show="!isQuery" type="success" @click="commit" style="margin-left: 3em;" v-if="status!=='1'">提交
            </Button>
            <Button type="success" style="margin-left: 3em;" v-else>已完成</Button>
            <Button v-show="!isQuery" type="error" @click="showFactorContainerModal" style="margin-left: 3em;">设置计算规则</Button>
        </Col>
    </Row>

</template>

<script>
    import {Util} from '../../../assets/js/Util'

    export default {
        name: '',
        data() {
            return {
            }
        },
        props: {

            status: {
                type: String,
                default: ''
            },
            measureId: {
                type: Number,
                default: null
            },
            isQuery: {
                type: Boolean,
                default: false
            },
        },
        watch: {
        },
        computed: {},
        methods: {

            showQuestionDetailModal(type) {

                this.$emit('showQuestionDetailModal', type)

            },
            showFactorContainerModal() {

                this.$emit('showFactorContainerModal')

            },
            go2GivenAnswerList(){
                this.$emit('go2GivenAnswerList')
            },
            //提交后量表状态设置为完成，只有完成了才能设置计算规则
            commit(){
                this.$Modal.confirm({
                    title: '提交后内容将无法修改，您确定提交吗？',
                    content: '',
                    onOk: () => {
                        this.http.post('measure/update', {
                            id: this.measureId,
                            status: '1'
                        }).then(data => {
                            this.$Message.success("提交成功！")

                            this.$emit('commit')
                        })
                    },
                    onCancel: () => {
                    }
                });

            }

        }
    }
</script>

