<template>
    <div>
        <Modal
                v-model="isShow"
                title="设置因子关系显示"
                width="600"
                :mask-closable="false"
        >


            <Form :label-width="100">

                <FormItem label="父因子">
                    <Select v-model="formItem.fathor.factorId" style="width:350px;">

                        <Option :value="item.id" v-for="item in ruleDataList"> {{item.name}}</Option>
                    </Select>
                </FormItem>
                <FormItem label="子因子">
                    <CheckboxGroup v-model="formItem.childFactorIdArray">
                        <template v-for="(item,index) in ruleDataList">
                            <Checkbox :label="item.id">
                                <span>{{ item.name}}</span>
                            </Checkbox>
                            <br/>
                        </template>

                    </CheckboxGroup>
                </FormItem>

                <FormItem>
                    父因子位置<Select v-model="formItem.rule.calculation.operator" style="width:70px;">
                                <Option value="<" key="<"> <</Option>
                                <Option value="<=" key="<="> <=</Option>
                                <Option value="==" key="=="> =</Option>
                                <Option value=">" key=">"> ></Option>
                                <Option value=">=" key=">="> >=</Option>
                            </Select>
                    <Input type="number" :maxlength="5" v-model="formItem.rule.calculation.value"
                           style="width:50px;"></Input>
                    <Checkbox v-model="formItem.rule.isShow" :true-value="1" :false-value="0">
                        显示子因子
                    </Checkbox>
                </FormItem>


            </Form>


            <div slot="footer">
                <Button type="text" size="large" @click="isShow=false">取消</Button>
                <Button type="primary" size="large" @click="save">确定</Button>
            </div>
        </Modal>

    </div>

</template>

<script>
    import {Util} from '../../../assets/js/Util'
    import AddCalItemModal from '../components/AddCalItemModal'
    import SetOriginalScoreModal from '../components/SetOriginalScoreModal'

    export default {
        name: '',
        components: {},
        data() {
            return {
                editIndex:-1,
                mapObj:{},
                isShow: false,
                formItem: {
                    childFactorIdArray:[],
                    fathor:{
                        factorId:'',
                        factorName:'',
                        isFactor:'',
                    },
                    children:[{
                        factorId:'',
                        factorName:'',
                        isFactor:'',
                    }],
                    rule:{
                        calculation:{
                            "operator": ">",
                            "value": 2
                        },
                        isShow:0
                    }

                }
            }
        },
        computed: {},
        props: {

            measureId: {
                type: Number,
                default: null
            },
            ruleDataList: {
                type: Array,
                default: () => {
                    return []
                }
            },
            measureObj: {
                type: Object,
                default: () => {
                    return {}
                }
            },
        },
        watch: {
            isShow(newValue) {

            },
        },
        computed: {},
        mounted() {

        },
        methods: {
            array2Object(array,key){
                let obj={}

                array.forEach(item=>{
                    obj[item[key]]=item;
                })

                return obj;
            },
            getSubFactorNameById(id) {

                for (let i = 0; i < this.ruleDataList.length; i++) {
                    if (this.ruleDataList[i].id === id) {
                        return this.ruleDataList[i].name;
                    }
                }
            },
            reset() {
                this.editIndex=-1;
                this.formItem={
                    childFactorIdArray:[],
                    fathor:{
                        factorId:'',
                        factorName:'',
                        isFactor:'',
                    },
                    children:[{
                        factorId:'',
                        factorName:'',
                        isFactor:'',
                    }],
                    rule:{
                        calculation:{
                            "operator": ">",
                            "value": 2
                        },
                        isShow:0
                    }
                }
            },
            show(index) {


                this.reset();

                if(this.measureObj.factor_relation){
                    if(typeof this.measureObj.factor_relation==='string'){
                        this.measureObj.factor_relation=JSON.parse(this.measureObj.factor_relation)
                    }
                }else{
                    this.measureObj.factor_relation=[]
                }

                if (index || index===0) {
                    this.editIndex=index;
                    this.formItem = this.measureObj.factor_relation[index];
                }

                this.isShow = true;

            },
            hide() {
                this.isShow = false;
            },


            save() {

                this.mapObj=this.array2Object(this.ruleDataList,'id')

                if (!this.formItem.fathor.factorId) {
                    this.$Message.warning("请选择父因子！")
                    return;
                }

                this.formItem.fathor.factorName=this.mapObj[this.formItem.fathor.factorId].name
                this.formItem.fathor.isFactor=this.mapObj[this.formItem.fathor.factorId].isFactor


                if(this.formItem.childFactorIdArray && this.formItem.childFactorIdArray.length>0){
                    this.formItem.children=[]
                    for(let i=0;i<this.formItem.childFactorIdArray.length;i++){
                        let obj={
                            factorId:this.mapObj[this.formItem.childFactorIdArray[i]].id,
                            factorName:this.mapObj[this.formItem.childFactorIdArray[i]].name,
                            isFactor:this.mapObj[this.formItem.childFactorIdArray[i]].isFactor

                        }
                        this.formItem.children.push(obj)
                    }
                }

                if(this.measureObj.factor_relation && typeof this.measureObj.factor_relation==='string'){
                    this.measureObj.factor_relation=JSON.parse(this.measureObj.factor_relation)
                }
                if(this.editIndex>-1){
                    this.measureObj.factor_relation.splice(this.editIndex,1,this.formItem)
                }else{
                    this.measureObj.factor_relation.push(this.formItem)
                }

                let url = 'measure/update'

                this.http.post(url, {
                    id: this.measureId,
                    factor_relation: JSON.stringify(this.measureObj.factor_relation),

                }).then(() => {
                    this.hide()
                    this.$Message.success("操作成功！")

                    this.$emit('save')

                }).catch(err => {
                    this.$Message.error(err)
                })

            },


        }
    }
</script>

