<template>
    <div>
        <Modal
                v-model="isShow"
                title="设置计算规则"
                width="1350"
                :mask-closable="false"
        >

            <Form :label-width="120">
                <Form :label-width="100">

                    <FormItem label="因子名称">
                        <Input v-model="judgeRuleFormOfParent.name" placeholder="请输入因子名称" ></Input>
                    </FormItem>

                    <FormItem label="因子解释">
                        <Input type="textarea" :rows="4" v-model="judgeRuleFormOfParent.description" placeholder="请输入因子解释" ></Input>
                    </FormItem>


                    <FormItem label="规则">
                        <Button type="primary" size="small" @click="addCalItemRuleOfParent">新增反馈</Button>
                        <template>
                            <Row style="margin-top: 10px;font-size: 1em;font-weight: bold;">
                                请设置因子分数的区间和反馈内容
                            </Row>
                            <Row style="margin-bottom: 15px;border:1px solid #dcdee2;padding:5px;" type="flex" justify="center" align="middle" v-for="(ruleObj,index) in judgeRuleFormOfParent.rule">

                                <Col span="2">
                                    <span style="font-weight: bold">区间{{index+1}}：</span>当


                                </Col>

                                <Col span="12">

                                    <div v-for="(ruleItem,ruleItemIndex) in ruleObj.rules">
                                        <Input type="number" :maxlength="5" v-model="ruleItem.operation[0].value"
                                               style="width:50px;"></Input>
                                        <Select v-model="ruleItem.operation[0].operator" style="width:50px;">
                                            <Option value=">"> <</Option>
                                            <Option value=">="> <=</Option>
                                            <Option value="=="> =</Option>
                                        </Select>
                                        <Select v-model="ruleItem.id" style="width:200px;">

                                            <Option :value="item.id" v-for="item in ruleDataList"> {{item.name}}</Option>
                                        </Select>

                                        <Select v-model="ruleItem.operation[1].operator" style="width:50px">
                                            <Option value="<" key="<"> <</Option>
                                            <Option value="<=" key="<="> <=</Option>
                                            <Option value="==" key="=="> =</Option>
                                        </Select>
                                        <Input type="number" :maxlength="5" v-model="ruleItem.operation[1].value"
                                               style="width:50px;"></Input>


                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                        <Select v-model="ruleItem.operator" style="width:80px;border:none">
                                            <Option value="&&"> 并</Option>
                                            <Option value="||"> 或</Option>
                                        </Select>

                                        <Icon v-if="ruleItemIndex>0" type="ios-remove-circle" size="25" style="cursor: pointer;margin-top: 4px;"
                                              @click="removeFactorItem(ruleObj.rules,ruleItemIndex)"></Icon>

                                        <Icon v-if="ruleItemIndex===(ruleObj.rules.length-1)" type="ios-add-circle" size="25" style="cursor: pointer;margin-top: 4px;"
                                              @click="addFactorItem(ruleObj.rules)"></Icon>


                                    </div>


                                </Col>

                                <Col span="8">
                                    反馈内容为
                                    <Input v-model="ruleObj.feedback" type="textarea" :rows="3" placeholder="请输入反馈内容"
                                           style="width:20em;"/>
                                    <Button type="primary" size="small" @click="showSuperLink(ruleObj)" >添加超链
                                    </Button>



                                </Col>

                                <Col span="2">
                                    <Icon type="ios-remove-circle" size="25" style="cursor: pointer;margin-top: 4px;"
                                          @click="removeCalRuleOfParent(index)"></Icon>
                                </Col>



                            </Row>
                        </template>
                    </FormItem>
                </Form>


            </Form>

            <div slot="footer">
                <Button type="text" size="large" @click="isShow=false">取消</Button>
                <Button type="primary" size="large" @click="saveCalRuleOfParent">确定</Button>
            </div>
        </Modal>


        <!--        超链接-->
        <SuperLink ref="superLink"></SuperLink>



    </div>

</template>

<script>
    import SuperLink from '../components/SuperLink'

    export default {
        name: '',
        components: {
            SuperLink
        },
        data() {
            return {
                isShowSuperLinkModal:false,
                superLink:{

                },
                tempRule:{},
                isShow: false,
                judgeRuleFormOfParent:{}
            }
        },
        computed: {},
        props: {

            measureId: {
                type: Number,
                default: null
            },
            ruleDataList: {
                type: Array,
                default: () => {
                    return []
                }
            }
        },
        watch: {
            isShow(newValue) {

            },
        },
        computed: {},
        mounted(){
        },
        methods: {
            showSuperLink(rule){

                this.$refs.superLink.show(rule,'feedback')
            },
            removeFactorItem(rules,ruleItemIndex){
                rules.splice(ruleItemIndex,1)
            },
            addFactorItem(rules){
                rules.push({
                    name: "",
                    operator: '&&',
                    operation: [{
                        operator: ">",
                        value: 0
                    }, {
                        operator: "<",
                        value: 1
                    }]
                })
            },
            getSubFactorNameById(id) {

                for (let i = 0; i < this.ruleDataList.length; i++) {
                    if (this.ruleDataList[i].id === id) {
                        return this.ruleDataList[i].name;
                    }
                }
            },
            reset(){
                this.judgeRuleFormOfParent = {
                    name: "",
                    description: "",
                    rule: [{
                        rules: [{
                            name: "",
                            operator: '&&',
                            operation: [{
                                operator: ">",
                                value: 0
                            }, {
                                operator: "<",
                                value: 1
                            }]
                        }],
                        feedback: ""
                    }]
                }
            },
            show(data) {

                if(data){
                    this.judgeRuleFormOfParent=data;
                }else{
                    this.reset()
                }

                this.isShow=true;

            },
            hide() {
                this.isShow = false;
            },



            saveCalRuleOfParent() {
                if (!this.judgeRuleFormOfParent.name) {
                    this.$Message.warning("请输入因子名称！")
                    return;
                }

                if (this.judgeRuleFormOfParent.rule.length === 0) {
                    this.$Message.warning("请至少添加一条规则！")
                    return;
                }

                for (let i = 0; i < this.judgeRuleFormOfParent.rule.length; i++) {

                    let ruleObj = this.judgeRuleFormOfParent.rule[i]

                    let rules = ruleObj.rules;
                    let feedback = ruleObj.feedback;

                    for (let j = 0; j < rules.length; j++) {

                        let rule = rules[j];
                        if (!rule.id) {
                            this.$Message.warning("请选择计算因子！！");
                            return
                        }

                        rule.name = this.getSubFactorNameById(rule.id)

                        for (let m = 0; m < rule.operation.length; m++) {
                            let operationObj = rule.operation[m]
                            if (!operationObj.operator) {
                                this.$Message.warning("请选择操作符！！");
                                return
                            }
                            if (!operationObj.value && operationObj.value !== 0) {
                                this.$Message.warning("请输入分数值！！");
                                return
                            }

                        }
                    }

                    if (!feedback) {
                        this.$Message.warning("请输入反馈报告！！");
                        return
                    }


                }


                let url = 'measure/addFactorAndFactor'
                if (this.judgeRuleFormOfParent.id) {
                    url = 'measure/updateFactorAndFactor'
                }

                this.http.post(url, {
                    id: this.judgeRuleFormOfParent.id,
                    measureId: this.measureId,
                    name: this.judgeRuleFormOfParent.name,
                    description: this.judgeRuleFormOfParent.description,
                    ruleCondition: JSON.stringify(this.judgeRuleFormOfParent)

                }).then(() => {
                    this.hide()
                    this.$Message.success("操作成功！")

                    this.$emit('save')

                }).catch(err => {
                    this.$Message.error(err)
                })

            },
            addCalItemRuleOfParent() {
                this.judgeRuleFormOfParent.rule.push({
                    rules: [{
                        name: "",
                        operator: '&&',
                        operation: [{
                            operator: ">",
                            value: 0
                        }, {
                            operator: "<",
                            value: 1
                        }]
                    }],
                    feedback: ""
                })
            },

            removeCalRuleOfParent(index) {
                this.judgeRuleFormOfParent.rule.splice(index, 1)
            },

        }
    }
</script>

