<template>
    <!--问答、条目、矩阵-->
    <Modal
            v-model="isShow"
            :title="itemModalType==='1'?'指导语':itemModalType==='0'?'问答':itemModalType==='2'?'选择题':itemModalType==='3'?'矩阵':itemModalType==='4'?'多媒体矩阵':itemModalType==='6'?'多选题':'测谎选择题'"
            width="800"
            :mask-closable="false"
    >

        <Row style="margin-bottom: 1em;" v-if="!isEdit">
            <Col span="2" offset="2">
                <p style="line-height: 2.5em;" title="在所选题目后边添加">添加位置：</p>
            </Col>
            <Col span="20">
                <Select v-model="position" >
                    <Option v-for="(item,index) in questionList" :value="index" :key="index" style="width: 40em;overflow: visible">
                        {{(index+1)+'、'+item.name}}
                    </Option>
                </Select>
            </Col>

        </Row>
        <Form :label-width="120" v-if="itemModalType==='0'">

            <FormItem label="请输入问答标题">
                <Input type="textarea" :rows="5" :maxlength="200" v-model="tiaomu.name"
                       placeholder="请输入问答标题"></Input>
            </FormItem>
        </Form>

        <Form :label-width="120" v-if="itemModalType==='1'">

            <FormItem label="请输入指导语">
                <Input style="outline: none" type="textarea" :rows="5" v-model="tiaomu.name"
                       placeholder="请输入指导语"></Input>
            </FormItem>
        </Form>

        <Form :label-width="120" v-if="itemModalType==='2'">

            <div style="margin: 5px;text-align: right" v-if="!isEdit">
                <!--                    <Button type="success" size="small" @click="addSelectQuestion">新增题目</Button>-->
            </div>


            <Row style="margin-top: 10px;font-size: 1em;font-weight: bold;">
                <Col span="20">
                    选择题标题<span v-if="!isEdit">（回车键换下一题，可批量增加选项相同的题目）</span>
                </Col>
            </Row>
            <Row style="margin-bottom: 5px;">
                <Col span="24">
                    <Input type="textarea" :rows="5" :maxlength="2000" v-model="tiaomu.name"
                           placeholder="请输入选择题标题"></Input>
                </Col>
            </Row>


            <div style="margin: 5px;text-align: right">
                <Button type="success" size="small" @click="addOption">新增选项</Button>
            </div>

            <Row style="margin-top: 10px;font-size: 1em;font-weight: bold;">
                <Col span="16">
                    选项文字
                </Col>
                <Col span="3" offset="1">
                    分数
                </Col>
                <Col span="3" offset="1">
                    移除
                </Col>
            </Row>
            <Row v-for="(option,index) in tiaomu.answer" style="margin-bottom: 5px;">
                <Col span="16">
                    <Input :maxlength="200" v-model="option.key" placeholder="请输入选项文字"></Input>
                </Col>
                <Col span="3" offset="1">
                    <Select v-model="option.value">
                        <Option v-for="order in questionScoreArray" :value="order" :key="order">{{ order }}</Option>
                    </Select>
                </Col>
                <Col span="3" offset="1">
                    <Icon type="ios-remove-circle" size="25" style="cursor: pointer;margin-top: 4px;"
                          @click="removeOption(index)"></Icon>
                </Col>
            </Row>
        </Form>


        <Form :label-width="120" v-if="itemModalType==='6'">


            <Row style="margin-top: 10px;font-size: 1em;font-weight: bold;">
                <Col span="20">
                    多选题标题<span v-if="!isEdit">（回车键换下一题，可批量增加选项相同的题目）</span>
                </Col>
            </Row>
            <Row style="margin-bottom: 5px;">
                <Col span="24">
                    <Input type="textarea" :rows="5" :maxlength="2000" v-model="tiaomu.name"
                           placeholder="请输入多选题标题"></Input>
                </Col>
            </Row>


            <div style="margin: 5px;text-align: right">
                <Button type="success" size="small" @click="addOption">新增选项</Button>
            </div>

            <Row style="margin-top: 10px;font-size: 1em;font-weight: bold;">
                <Col span="16">
                    选项文字
                </Col>
                <Col span="3" offset="1">
                    分数
                </Col>
                <Col span="3" offset="1">
                    移除
                </Col>
            </Row>
            <Row v-for="(option,index) in tiaomu.answer" style="margin-bottom: 5px;">
                <Col span="16">
                    <Input :maxlength="200" v-model="option.key" placeholder="请输入选项文字"></Input>
                </Col>
                <Col span="3" offset="1">
                    <Select v-model="option.value">
                        <Option v-for="order in questionScoreMultiArray" :value="order" :key="order">{{ order }}</Option>
                    </Select>
                </Col>
                <Col span="3" offset="1">
                    <Icon type="ios-remove-circle" size="25" style="cursor: pointer;margin-top: 4px;"
                          @click="removeOption(index)"></Icon>
                </Col>
            </Row>
        </Form>

        <Form :label-width="120" v-if="itemModalType==='3'">

            <FormItem label="请输入矩阵标题" style="font-size: 1em;font-weight: bold">
                <Input type="textarea" :rows="2" :maxlength="200" v-model="tiaomu.name"
                       placeholder="请输入矩阵标题"></Input>
            </FormItem>
            <div style="margin: 5px;text-align: right">
                <Button type="success" size="small" @click="addChildItem">新增子条目</Button>
            </div>

            <Row style="margin-top: 10px;font-size: 1em;font-weight: bold;">
                <Col span="18">
                    子条目标题
                </Col>
                <Col span="2" offset="1">
                    反向
                </Col>
                <Col span="3">
                    移除
                </Col>
            </Row>

            <Row v-for="(option,index) in tiaomu.children" style="margin-bottom: 5px;">
                <Col span="18">
                    <Input :maxlength="200" v-model="option.name" placeholder="请输入子条目标题"></Input>
                </Col>
                <Col span="2" offset="1">
                    <Checkbox v-model="option.isReverse" :true-value="trueValue" :false-value="falseValue"
                              style="margin-top: 7px;"></Checkbox>
                </Col>
                <Col span="3">
                    <Icon type="ios-remove-circle" size="25" style="cursor: pointer;margin-top: 4px;"
                          @click="removeChildItem(index)"></Icon>
                </Col>
            </Row>


            <div style="margin: 5px;text-align: right">
                <Button type="success" size="small" @click="addOption">新增选项</Button>
            </div>

            <Row style="margin-top: 10px;font-size: 1em;font-weight: bold;">
                <Col span="18">
                    选项文字
                </Col>
                <Col span="2" offset="1">
                    分数
                </Col>
                <Col span="3">
                    移除
                </Col>
            </Row>
            <Row v-for="(option,index) in tiaomu.answer" style="margin-bottom: 5px;">
                <Col span="18">
                    <Input :maxlength="200" v-model="option.key" placeholder="请输入选项文字"></Input>
                </Col>
                <Col span="2" offset="1">
                    <Select v-model="option.value">
                        <Option v-for="order in questionScoreArray" :value="order" :key="order">{{ order }}</Option>
                    </Select>
                </Col>
                <Col span="3">
                    <Icon type="ios-remove-circle" size="25" style="cursor: pointer;margin-top: 4px;"
                          @click="removeOption(index)"></Icon>
                </Col>
            </Row>


            <Checkbox style="margin-top: 1em;font-weight: bold" v-model="tiaomu.ruleSwitch">因子计算规则</Checkbox>
            <template>

                <Row v-show="tiaomu.ruleSwitch">

                    分数值
                    <Select v-model="tiaomu.rule.questionType" style="width:4em;">
                        <Option value=">" key=">"> ></Option>
                        <Option value=">=" key=">="> >=</Option>
                        <Option value="<" key="<"> <</Option>
                        <Option value="<=" key="<="> <=</Option>
                        <Option value="==" key="=="> =</Option>
                    </Select>

                    <Select v-model="tiaomu.rule.ruleValue" style="width:4em;">
                        <Option v-for="n in 10" :value="n" :key="n"> {{n}}</Option>
                    </Select>

                    的条目的数量至少
                    <Select v-model="tiaomu.rule.questionNum" style="width:4em;">
                        <Option v-for="(order,i) in tiaomu.children" :value="(i+1)" :key="i+1">{{ i+1 }}</Option>
                    </Select>

                    个时，矩阵的分值记为
                    <Input :maxlength="3" v-model="tiaomu.rule.realValue" style="width:3em;"></Input>

                    ，否则记为
                    <Input :maxlength="3" v-model="tiaomu.rule.falseValue" style="width:3em;"></Input>

                </Row>

            </template>
        </Form>

        <!--            多媒体矩阵-->
        <Form :label-width="140" v-if="itemModalType==='4'">

            <FormItem label="请输入多媒体矩阵标题" style="font-size: 1em;font-weight: bold">
                <Input type="textarea" :rows="2" :maxlength="200" v-model="radioObject.name"
                       placeholder="请输入多媒体矩阵标题"></Input>
            </FormItem>

            <Row style="margin-top: 10px;font-size: 1em;font-weight: bold;">
                <Col span="20">
                    多媒体类型
                </Col>
            </Row>
            <RadioGroup v-model="mediaType">
                <Radio label="music">音频</Radio>
                <Radio label="picture">图片</Radio>
            </RadioGroup>
            <Row>
                <Upload
                        :before-upload="handleUpload"
                        action="//jsonplaceholder.typicode.com/posts/">
                    <Button icon="ios-cloud-upload-outline">请选择要上传的文件</Button>
                </Upload>
                <div v-if="file !== null">已上传文件: {{ file.name }}</div>
            </Row>

            <div style="margin: 5px;text-align: right">
                <Button type="success" size="small" @click="addRadioChildItem">新增子条目</Button>
            </div>

            <Row style="margin-top: 10px;font-size: 1em;font-weight: bold;">
                <Col span="18">
                    子条目标题
                </Col>
                <Col span="3" offset="3">
                    移除
                </Col>
            </Row>
            <div v-for="(radioChildren,index) in radioObject.children">
                <Row style="margin-bottom: 5px;">
                    <Col span="2" style='line-height:32px;text-align: right;'>
                        标题{{index+1}}:
                    </Col>
                    <Col span="16">
                        <Input :maxlength="200" v-model="radioChildren.name" placeholder="请输入子条目标题"></Input>
                    </Col>
                    <Col span="3" offset="3">
                        <Icon type="ios-remove-circle" size="25" style="cursor: pointer;margin-top: 4px;"
                              @click="removeRadioChilItem(index)"></Icon>
                    </Col>
                </Row>
                <div style="margin-left: 100px;padding:0px 5px;text-align: right;width:50%;border:1px solid #dcdee2">

                    <Row style="margin-top: 10px;font-size: 1em;font-weight: bold;">
                        <Col span="10">
                            选项文字
                        </Col>
                        <Col span="3" offset="1">
                            分数
                        </Col>
                        <Col span="2">
                            移除
                        </Col>
                        <Col span="2">
                            新增
                        </Col>
                    </Row>
                    <Row v-for="(radioAnswer,indexAnswer) in radioChildren.answer" style="margin-bottom: 5px;">
                        <Col span="10">
                            <Input :maxlength="200" v-model="radioAnswer.key" placeholder="请输入选项文字"></Input>
                        </Col>
                        <Col span="3" offset="1">
                            <Select v-model="radioAnswer.value">
                                <Option v-for="order in questionScoreArray" :value="order" :key="order">{{ order
                                    }}
                                </Option>
                            </Select>
                        </Col>
                        <Col span="2">
                            <Icon type="ios-remove-circle" size="25" style="cursor: pointer;margin-top: 4px;"
                                  @click="removeRadioOption(index,indexAnswer)"></Icon>
                        </Col>
                        <Col span="2">
                            <Icon type="ios-add-circle" size="25" style="cursor: pointer;margin-top: 4px;"
                                  @click="addRadioAnwer(index,indexAnswer)"></Icon>
                        </Col>
                    </Row>
                </div>
                <br/>


            </div>


        </Form>


        <!--            测谎选择题-->
        <Form :label-width="120" v-if="itemModalType==='5'">

            <div style="margin: 5px;text-align: right" v-if="!isEdit">
            </div>


            <Row style="margin-top: 10px;font-size: 1em;font-weight: bold;">
                <Col span="20">
                    测谎选择题标题
                </Col>
            </Row>
            <Row style="margin-bottom: 5px;">
                <Col span="24">
                    <Input type="textarea" :rows="2" :maxlength="2000" v-model="tiaomu.name"
                           placeholder="请输入测谎选择题标题"></Input>
                </Col>
            </Row>

            <Row style="margin-top: 10px;font-size: 1em;font-weight: bold;">
                <Col span="24">
                    <RadioGroup v-model="tiaomu.lieRule">
                        <Radio label="0">
                            <span>相同选项计分</span>
                        </Radio>
                        <Radio label="1">
                            <span>不同选项计分</span>
                        </Radio>
                    </RadioGroup>
                </Col>
            </Row>


            <Row style="margin-top: 10px;font-size: 1em;font-weight: bold;">
                <Col span="16">
                    选项文字
                </Col>
                <Col span="3" offset="1">
                    分数
                </Col>
            </Row>
            <Row v-for="(option,index) in tiaomu.answer" style="margin-bottom: 5px;">
                <Col span="16">
                    <Input :maxlength="200" v-model="option.key" placeholder="请输入选项文字"></Input>
                </Col>
                <Col span="3" offset="1">
                    <Select v-model="option.value">
                        <Option v-for="order in questionScoreArray" :value="order" :key="order">{{ order }}</Option>
                    </Select>
                </Col>
            </Row>
        </Form>


        <div slot="footer">
            <Button type="text" size="large" @click="hide">取消</Button>
            <Button type="primary" size="large" @click="addItem(itemModalType)">确定</Button>
        </div>
    </Modal>

</template>

<script>
    import {Util} from '../../../assets/js/Util'

    export default {
        name: '',
        components: {
        },
        data() {
            return {
                mediaType: 'music',
                isShow:false,
                questionScoreArray: Util.questionScoreArray,
                questionScoreMultiArray: Util.questionScoreMultiArray,
                trueValue: 1,
                falseValue: 0,
                suffixArrayOfMusic: ["mp3", "wave"],
                suffixArrayOfPicture: ["jpg", "jpeg", "png"],
                file:null,
                position: '',
                tiaomu:{
                    name: '',
                    answer: [{
                        name: '',
                        value: 0
                    }],
                    type: 1,
                    children: [],
                    rule: {
                        questionNum: '',
                        questionType: '',
                        ruleValue: '',
                        realValue: '',
                        falseValue: ''
                    },
                },
                isShow:false,
                itemModalType: 0,//0，1，2，3对应三个条目类型
                isEdit:false,
                radioObject:{
                    id: '',
                    tableId: '',//量表id
                    type: 4,
                    name: '',//描述
                    answer: [{//条目的选项
                        key: '',
                        value: 0
                    }],
                    parentId: '',
                    children: [{
                        name: '',//描述
                        answer: [{//条目的选项
                            key: '',
                            value: 0
                        }],
                    }],
                    sort: 0,
                    isChild: false,//是否矩阵中的子条目
                    ruleSwitch: false,
                    rule: ''

                },
                fileUrl:''
            }
        },
        props: {


            measureId:{
                type:Number,
                default:null
            },

            questionList: {
                type: Array,
                default: () => {
                    return []
                }
            },






        },
        watch: {
            isShow(newValue) {
                if (newValue) {
                    this.selectedItemQuestionIndexArray = []
                }

            },
        },
        computed: {},
        mounted(){
        },
        methods: {
            hasNoQuestionIndexFromPosition2Bottom(position) {
                let flag = false;
                for (let i = position; i < this.questionList.length - 1; i++) {
                    if (this.questionList[i].type === '2' || this.questionList[i].type === '3' || this.questionList[i].type === '4' || this.questionList[i].type === '5') {
                        flag = true;
                        break;
                    }
                }

                return !flag;
            },
            handleOnlyHaveIndexSort(position) {
                let temp = Util.clone(this.questionList[position + 1]).indexSort;
                for (let i = position + 1; i < this.questionList.length - 1; i++) {
                    this.questionList[i].indexSort = Util.clone(this.questionList[i + 1]).indexSort;
                }

                this.questionList[this.questionList.length - 1].indexSort = temp;
            },
            async moveFromBottom2GivenPosition(position, callback) {
                let bottomData = this.questionList[this.questionList.length - 1]
                if ((bottomData.type === '0' || bottomData.type === '1') || this.hasNoQuestionIndexFromPosition2Bottom(position + 1)) {//只需要换indexSort
                    this.handleOnlyHaveIndexSort(position)
                } else {
                    this.handleOnlyHaveIndexSort(position)

                    let newList = []
                    for (let i = position + 1; i < this.questionList.length; i++) {
                        if (this.questionList[i].type === '2' || this.questionList[i].type === '3' || this.questionList[i].type === '4' || this.questionList[i].type === '5') {
                            newList.push(this.questionList[i])
                        }

                    }
                    if (newList.length > 0) {

                        let temp = Util.clone(newList[0]).questionIndex;

                        for (let i = 0; i < newList.length - 1; i++) {
                            newList[i].questionIndex = Util.clone(newList[i + 1]).questionIndex;
                        }

                        newList[newList.length - 1].questionIndex = temp;

                    }
                }

                let last = this.questionList.pop()
                this.questionList.splice(position + 1, 0, last)

                if (callback) {
                    let list = [];

                    for (let i = position + 1; i < (this.questionList.length); i++) {
                        let temp = {
                            id: this.questionList[i].id,
                            indexSort: this.questionList[i].indexSort,
                            questionIndex: this.questionList[i].questionIndex
                        }
                        list.push(temp);
                    }

                    await this.http.post('question/updateBatch', {
                        values: JSON.stringify(list),
                    });
                    callback()
                }


            },
            handleAfterAdd(data, callback) {
                if (this.position || this.position === 0) {
                    this.questionList.push(data);
                    this.moveFromBottom2GivenPosition(this.position, callback)
                } else {
                    callback()
                }
            },
            addItem(type) {

                let url = "question/add"

                if (this.isEdit) {
                    url = "question/update"
                }
                this.tiaomu.measureId = this.measureId;
                this.tiaomu.type = type;


                if (type === '0') {//问答

                    if (!this.tiaomu.name) {
                        this.$Message.warning("请输入问答标题！");
                        return;
                    }

                    this.$Message.warning("操作中，请稍等！")
                    this.http.post(url, this.tiaomu).then((data) => {

                        if (this.isEdit) {
                            this.success()
                        } else {
                            this.handleAfterAdd(data.data[0], this.success)
                        }


                    }).catch(error => {
                        this.$Message.error(error)
                    })


                } else if (type === '1') { //指导语

                    if (!this.tiaomu.name) {
                        this.$Message.warning("请输入指导语！");
                        return
                    }
                    this.$Message.warning("操作中，请稍等！")
                    this.http.post(url, this.tiaomu).then((data) => {
                        if (this.isEdit) {
                            this.success()
                        } else {
                            this.handleAfterAdd(data.data[0], this.success)
                        }
                    }).catch(error => {
                        this.$Message.error(error)
                    })

                } else if (type === '2' ||type === '6' ) {//选择题、多选题

                    let label='选择题'
                    if(type==='6'){
                        label='多选题'
                    }

                    //
                    if (this.isEdit) {
                        if (!this.tiaomu.name) {
                            this.$Message.warning(`请输入${label}标题！`);
                            return
                        }
                        this.tiaomu.name = this.tiaomu.name
                    } else {
                        if (!this.tiaomu.name) {
                            this.$Message.warning(`请输入${label}标题！`);
                            return
                        }

                    }


                    if (this.tiaomu.answer.length === 0) {
                        this.$Message.warning("请至少添加一条选项！");
                        return
                    }

                    let answer = []
                    for (let i = 0; i < this.tiaomu.answer.length; i++) {
                        if (!this.tiaomu.answer[i].key) {
                            this.$Message.warning("有选项文字未填写，请检查！！");
                            return
                        }

                        let key = this.tiaomu.answer[i].key
                        let value = this.tiaomu.answer[i].value
                        answer.push({
                            key: key,
                            value: value
                        })


                    }

                    let next = () => {
                        //此处直接给this.tiaomu.answer赋值，会报错；暂不清楚原因。
                        let data = JSON.parse(JSON.stringify(this.tiaomu))
                        data.answer = JSON.stringify(answer)


                        if (this.isEdit) {
                            this.http.post(url, data).then(() => {
                                this.success()
                            }).catch(error => {
                                this.$Message.error(error)
                            });
                        } else {

                            data.questionIndex = this.getNextQuestionIndex();

                            let values = []

                            let tempNameArray = this.tiaomu.name.split('\n')

                            let nameArray = []

                            for (let i = 0; i < tempNameArray.length; i++) {
                                if (tempNameArray[i]) {
                                    nameArray.push(tempNameArray[i])
                                }
                            }

                            for (let i = 0; i < nameArray.length; i++) {
                                let temp = JSON.parse(JSON.stringify(data))
                                temp.name = nameArray[i]
                                temp.questionIndex = temp.questionIndex + i;
                                values.push(temp)
                            }

                            this.$Message.warning("操作中，请稍等！")
                            this.http.post('question/addBatch', {
                                values: JSON.stringify(values)
                            }).then((data) => {
                                data = data.data;
                                if (this.position || this.position === 0) {
                                    for (let i = 0; i < data.length; i++) {
                                        if (i === data.length - 1) {
                                            this.handleAfterAdd(data[i], this.success)
                                        } else {
                                            this.handleAfterAdd(data[i], null)
                                        }

                                    }
                                } else {
                                    this.success()
                                }
                            }).catch(error => {
                                this.$Message.error(error)
                            });
                        }


                        this.hide()
                    }

                    if (this.hasSameValue(this.tiaomu.answer)) {
                        this.$Modal.confirm({
                            title: '分数值有相同项，确认添加吗？',
                            content: '',
                            onOk: () => {
                                next()


                            },
                            onCancel: () => {
                            }
                        });
                    } else {
                        next();
                    }


                } else if (type === '3') {//矩阵

                    if (!this.tiaomu.name) {
                        this.$Message.warning("请输入矩阵标题！");
                        return
                    }

                    if (this.tiaomu.children.length === 0) {
                        this.$Message.warning("请至少添加一条子条目！");
                        return
                    }

                    for (let i = 0; i < this.tiaomu.children.length; i++) {
                        if (!this.tiaomu.children[i].name) {
                            this.$Message.warning("有子条目标题未填写，请检查！！");
                            return
                        }
                    }


                    if (this.tiaomu.answer.length === 0) {
                        this.$Message.warning("请至少添加一条选项！");
                        return
                    }

                    let childrenAnswer = []

                    for (let i = 0; i < this.tiaomu.answer.length; i++) {
                        if (!this.tiaomu.answer[i].key) {
                            this.$Message.warning("有选项文字未填写，请检查！！");
                            return
                        }

                        let key = this.tiaomu.answer[i].key
                        let value = this.tiaomu.answer[i].value
                        childrenAnswer.push({
                            key: key,
                            value: value
                        })
                    }

                    let next = () => {
                        //因子计算规则开关开的话才判断以下逻辑


                        let rule = ''

                        if (this.tiaomu.ruleSwitch) {
                            if (!this.tiaomu.rule.questionNum) {
                                this.$Message.warning("请选择子条目个数！");
                                return
                            }
                            if (!this.tiaomu.rule.questionType) {
                                this.$Message.warning("请选择操作符！");
                                return
                            }
                            if (!this.tiaomu.rule.ruleValue) {
                                this.$Message.warning("请选择分数值！");
                                return
                            }
                            if (!this.tiaomu.rule.realValue) {
                                this.$Message.warning("请选择符合条件真值！");
                                return
                            }
                            if (!this.tiaomu.rule.falseValue) {
                                this.$Message.warning("请选择符合条件假值！");
                                return
                            }
                            rule = JSON.stringify(this.tiaomu.rule)
                        }


                        this.hide()

                        let children = this.tiaomu.children;
                        for (let i = 0; i < children.length; i++) {
                            children[i].type = '2'
                            children[i].answer = JSON.stringify(childrenAnswer)

                        }

                        let data = JSON.parse(JSON.stringify(this.tiaomu))

                        data.isParent = 1;
                        data.children = JSON.stringify(children);
                        data.rule = rule;


                        if (!this.isEdit) {
                            data.questionIndex = this.getNextQuestionIndex();
                        }
                        this.$Message.warning("操作中，请稍等！")

                        this.http.post(url, data).then((data) => {
                            if (this.isEdit) {
                                this.success()
                            } else {
                                this.handleAfterAdd(data.data[0], this.success)
                            }
                        }).catch(error => {
                            this.$Message.error(error)
                        });
                    }



                    if (this.hasSameValue(this.tiaomu.answer)) {
                        this.$Modal.confirm({
                            title: '分数值有相同项，确认添加吗？',
                            content: '',
                            onOk: () => {
                                next()


                            },
                            onCancel: () => {
                            }
                        });


                    } else {
                        next();
                    }


                } else if (type === '4') {
                    this.tiaomu = JSON.parse(JSON.stringify(this.radioObject))
                    this.tiaomu.measureId = this.measureId;
                    this.tiaomu.type = type;
                    if (!this.tiaomu.name) {
                        this.$Message.warning("请输入多媒体矩阵标题！");
                        return
                    }

                    if (!this.file) {
                        this.$Message.warning("请上传多媒体！");
                        return
                    }

                    if (this.tiaomu.children.length === 0) {
                        this.$Message.warning("请至少添加一条子条目！");
                        return
                    }

                    for (let i = 0; i < this.tiaomu.children.length; i++) {
                        if (!this.tiaomu.children[i].name) {
                            this.$Message.warning("有子条目标题未填写，请检查！！");
                            return
                        }
                    }


                    for (let i = 0; i < this.tiaomu.children.length; i++) {

                        let theChildren = this.tiaomu.children[i];

                        let answerArray = theChildren.answer;

                        if (answerArray.length === 0) {
                            this.$Message.warning("有子条目选项为空，请检查！！");
                            return
                        }

                        for (let j = 0; j < answerArray.length; j++) {
                            if (!answerArray[j].key) {
                                this.$Message.warning("有子条目选项文字为空，请检查！！");
                                return
                            }
                        }
                    }


                    let next = () => {

                        this.hide()

                        let children = this.tiaomu.children;
                        for (let i = 0; i < children.length; i++) {
                            children[i].type = '2'
                            children[i].answer = JSON.stringify(children[i].answer)

                        }

                        let data = JSON.parse(JSON.stringify(this.tiaomu))

                        data.isParent = 1;
                        data.children = JSON.stringify(children);
                        data.url = this.fileUrl;

                        if (!this.isEdit) {
                            data.questionIndex = this.getNextQuestionIndex();
                        }
                        this.$Message.warning("操作中，请稍等！")
                        this.http.post(url, data).then((data) => {
                            if (this.isEdit) {
                                this.success()
                            } else {
                                this.handleAfterAdd(data.data[0], this.success)
                            }
                        }).catch(error => {
                            this.$Message.error(error)
                        });
                    }


                    let sameCount = 0
                    for (let i = 0; i < this.tiaomu.children.length; i++) {
                        if (this.hasSameValue(this.tiaomu.children[i].answer)) {
                            sameCount++;
                        }
                    }

                    if (sameCount > 0) {
                        this.$Modal.confirm({
                            title: '分数值有相同项，确认添加吗？',
                            content: '',
                            onOk: () => {
                                next()
                            },
                            onCancel: () => {
                            }
                        });


                    } else {
                        next();
                    }

                } else if (type === '5') {//测谎

                    //
                    if (this.isEdit) {
                        if (!this.tiaomu.name) {
                            this.$Message.warning("请输入测谎选择题标题！");
                            return
                        }
                        this.tiaomu.name = this.tiaomu.name
                    } else {
                        if (!this.tiaomu.name) {
                            this.$Message.warning("请输入测谎选择题标题！");
                            return
                        }

                    }

                    if (!this.tiaomu.lieRule) {
                        this.$Message.warning("请选择计分规则！");
                        return
                    }


                    let answer = []
                    for (let i = 0; i < this.tiaomu.answer.length; i++) {
                        if (!this.tiaomu.answer[i].key) {
                            this.$Message.warning("有选项文字未填写，请检查！！");
                            return
                        }

                        let key = this.tiaomu.answer[i].key
                        let value = this.tiaomu.answer[i].value
                        answer.push({
                            key: key,
                            value: value
                        })


                    }

                    let next = () => {
                        //此处直接给this.tiaomu.answer赋值，会报错；暂不清楚原因。
                        let data = JSON.parse(JSON.stringify(this.tiaomu))
                        data.answer = JSON.stringify(answer)


                        if (this.isEdit) {
                            this.http.post(url, data).then(() => {
                                this.success()
                            }).catch(error => {
                                this.$Message.error(error)
                            });
                        } else {

                            data.questionIndex = this.getNextQuestionIndex();

                            let values = []

                            let tempNameArray = this.tiaomu.name.split('\n')

                            let nameArray = []

                            for (let i = 0; i < tempNameArray.length; i++) {
                                if (tempNameArray[i]) {
                                    nameArray.push(tempNameArray[i])
                                }
                            }

                            if (nameArray.length !== 2) {
                                this.$Message.warning("只能输入两条标题！！！")
                                return;
                            }

                            let uuid = Util.uuid();
                            for (let i = 0; i < nameArray.length; i++) {
                                let temp = JSON.parse(JSON.stringify(data))
                                temp.name = nameArray[i]
                                temp.lieDetect = uuid;
                                temp.questionIndex = temp.questionIndex + i;
                                values.push(temp)
                            }

                            this.$Message.warning("操作中，请稍等！")
                            this.http.post('question/addBatch', {
                                values: JSON.stringify(values)
                            }).then((data) => {
                                data = data.data;
                                if (this.position || this.position === 0) {
                                    for (let i = 0; i < data.length; i++) {
                                        if (i === data.length - 1) {
                                            this.handleAfterAdd(data[i], this.success)
                                        } else {
                                            this.handleAfterAdd(data[i], null)
                                        }

                                    }
                                } else {
                                    this.success()
                                }
                            }).catch(error => {
                                this.$Message.error(error)
                            });
                        }


                        this.hide()
                    }

                    if (this.hasSameValue(this.tiaomu.answer)) {
                        this.$Modal.confirm({
                            title: '分数值有相同项，确认添加吗？',
                            content: '',
                            onOk: () => {
                                next()


                            },
                            onCancel: () => {
                            }
                        });
                    } else {
                        next();
                    }


                }
            },
            success() {
                if (this.isEdit) {
                    this.$Message.success("修改成功！")
                } else {
                    this.$Message.success("新增成功！")
                }

                this.freshParent()
                this.hide()
            },
            freshParent(data){
                this.$emit('init',data)
            },
            getNextQuestionIndex() {
                let maxIndex = 0;
                for (let i = 0; i < this.questionList.length; i++) {
                    let q = this.questionList[i];
                    if (q.questionIndex) {
                        maxIndex++;
                    }
                }

                return maxIndex + 1;
            },
            hasSameValue(array) {
                let set = new Set();
                array.forEach(item => {
                    set.add(item.value)
                })

                return set.size < array.length;
            },
            hide(){
                this.isShow=false;

            },
            resetItemModalInfo() {
                this.file = null;
                this.tiaomu = {
                    name: '',
                    answer: [{
                        name: '',
                        value: 0
                    }],
                    type: 1,
                    children: [],
                    rule: {
                        questionNum: '',
                        questionType: '',
                        ruleValue: '',
                        realValue: '',
                        falseValue: ''
                    },

                }


            },
            show(obj){
                this.resetItemModalInfo()
                //测谎
                if (obj.type === '5') {
                    this.tiaomu.answer.push({
                        name: '',
                        value: 0
                    })
                }

                //多媒体
                if (obj.type === '4') {

                    this.radioObject = obj.data?obj.data:{
                        id: '',
                        tableId: '',//量表id
                        type: 0,
                        name: '',//描述
                        answer: [{//条目的选项
                            key: '',
                            value: 0
                        }],
                        parentId: '',
                        children: [{
                            name: '',//描述
                            answer: [{//条目的选项
                                key: '',
                                value: 0
                            }],
                        }],
                        sort: 0,
                        isChild: false,//是否矩阵中的子条目
                        ruleSwitch: false,
                        rule: ''
                    };
                    this.fileUrl = this.radioObject?this.radioObject.url:''
                }else{
                    this.tiaomu = obj.data?obj.data:this.tiaomu;
                }




                this.isEdit = !!obj.isEdit;


                this.itemModalType = obj.type
                this.isShow = true
                this.position = ''
            },
            removeOption(index) {
                this.tiaomu.answer.splice(index, 1)
            },
            addChildItem() {
                this.tiaomu.children.push({
                    name: '',
                })

            },
            removeChildItem(index) {
                this.tiaomu.children.splice(index, 1)
            },
            addOption() {
                this.tiaomu.answer.push({
                    name: '',
                    value: 0
                })
            },
            addRadioChildItem() {
                var lastAnswer = this.radioObject.children[this.radioObject.children.length - 1]["answer"]

                this.radioObject.answer = JSON.parse(JSON.stringify(lastAnswer))
                this.radioObject.children.push({
                    name: '',
                    answer: JSON.parse(JSON.stringify(this.radioObject.answer))
                })
            },
            removeRadioChilItem(index) {
                this.radioObject.children.splice(index, 1)
            },


            addRadioAnwer(index, answerIndex) {

                this.radioObject["children"][index].answer.push({
                    key: '',
                    value: 0
                })
            },

            removeRadioOption(index, answerIndex) {
                if (this.radioObject["children"][index]["answer"].length <= 1) {
                    this.$Message.warning("请至少保留一条选项！")
                    return;
                }

                this.radioObject["children"][index]["answer"].splice(answerIndex, 1)
            },
            handleUpload(file) {

                let size = file / 1000 / 1000;//M

                let suffix = file.name.split('.')

                suffix = suffix[suffix.length - 1]


                if (size > 10) {
                    this.$Message.warning("文件大小不能超过10M!")
                    this.file = null;
                    return false;
                }

                if (this.mediaType === 'music') {
                    if (this.suffixArrayOfMusic.indexOf(suffix) === -1) {
                        this.$Message.warning(`只能上传${this.suffixArrayOfMusic}格式的文件!`)
                        this.file = null;
                        return false;
                    }
                } else {
                    if (this.suffixArrayOfPicture.indexOf(suffix) === -1) {
                        this.$Message.warning(`只能上传${this.suffixArrayOfPicture}格式的文件!`)
                        this.file = null;
                        return false;
                    }
                }

                this.file = file;

                let formData = new FormData()

                formData.append('file', this.file)

                this.http.post('question/upLoadFile', formData).then(data => {

                    let url = data.data[0].url

                    this.fileUrl = url;
                })

                return false;
            },


        }
    }
</script>

