<template>

    <div>

        <!--问答-->
        <template v-if="item.type==='0'">
            <Col span="16" offset="4" style="margin-bottom: 20px;">
                <div style="margin-bottom: 2px;">
                    {{item.name}}
                </div>
                <Input type="textarea" :rows="3" placeholder="请输入您的答案"></Input>
            </Col>
        </template>

        <!--指导语-->
        <template v-if="item.type==='1'">
            <Col span="16" offset="4" style="margin-bottom: 20px;">
                <div style="margin-bottom: 2px;" class="zdy_show">
                    <Input type="textarea" :autosize="true" v-model="item.name"></Input>
                </div>
            </Col>
        </template>

        <!--条目-->
        <template v-if="item.type==='2'">
            <Col span="16" offset="4" style="margin-bottom: 20px;">
                <div style="margin-bottom: 2px;">
                    {{(item.questionIndex)+'、'+item.name}}
                </div>
                <RadioGroup vertical>
                    <Radio :label="option.key" v-for="option in item.answer"></Radio>
                </RadioGroup>
            </Col>
        </template>

        <!--多选题-->
        <template v-if="item.type==='6'">
            <Col span="16" offset="4" style="margin-bottom: 20px;">
                <div style="margin-bottom: 2px;">
                    {{(item.questionIndex)+'、'+item.name}}
                </div>
                <CheckboxGroup >
                    <template v-for="option in item.answer">
                        <Checkbox :label="option.key" ></Checkbox><br/>
                    </template>

                </CheckboxGroup>
            </Col>
        </template>

        <!--矩阵-->
        <template v-if="item.type==='3'">
            <Col span="16" offset="4" style="margin-bottom: 20px;">
                <div style="margin-bottom: 2px;">
                    {{(item.questionIndex)+'、'+item.name}}
                </div>
                <div v-for="(child,childIndex) in item.children"
                     style="padding-left: 2em;margin-bottom: 1em;">
                    <p>{{((childIndex+1))+'、'+child.name}}</p>
                    <RadioGroup vertical>
                        <Radio :label="option.key" v-for="option in item.answer"></Radio>
                    </RadioGroup>
                </div>


            </Col>
        </template>


        <!--多媒体矩阵-->
        <template v-if="item.type==='4'">
            <Col span="16" offset="4" style="margin-bottom: 20px;">
                <div style="margin-bottom: 2px;">
                    {{(item.questionIndex)+'、'+item.name}}
                </div>
                <div v-if="item.url">
                    <template
                            v-if="suffixArrayOfMusic.indexOf(item.url.split('.')[item.url.split('.').length-1])>-1">
                        <audio controls :src="backendUrl+item.url">
                            您的浏览器不支持 audio 标签。
                        </audio>
                    </template>
                    <template v-else>
                        <img style="max-height: 10em;" :src="backendUrl+item.url"/>
                    </template>

                </div>
                <div v-for="(child,childIndex) in item.children"
                     style="padding-left: 2em;margin-bottom: 1em;">
                    <p>{{((childIndex+1))+'、'+child.name}}</p>
                    <RadioGroup vertical>
                        <Radio :label="option.key" v-for="option in child.answer"></Radio>
                    </RadioGroup>
                </div>
            </Col>
        </template>

        <!--测谎-->
        <template v-if="item.type==='5'">
            <Col span="16" offset="4" style="margin-bottom: 20px;">
                <div style="margin-bottom: 2px;">
                    {{(item.questionIndex)+'、'+item.name}}<span style='color:#19be6b'>(与条目{{lieObjIndex[item.id]["questionIndex"]}}为测谎对)</span>
                </div>
                <RadioGroup vertical>
                    <Radio :label="option.key" v-for="option in item.answer"></Radio>
                </RadioGroup>
            </Col>
        </template>

    </div>

</template>

<script>
    import {Util} from '../../../assets/js/Util'

    export default {
        name: '',
        data() {
            return {
                suffixArrayOfMusic:Util.suffixArrayOfMusic,
                backendUrl:Util.backendUrl,
            }
        },
        props: {
            lieObjIndex: {
                type: Object,
                default: ()=>{
                    return {}
                }
            },
            item: {
                type: Object,
                default: ()=>{
                    return {}
                }
            },
        },
        watch: {
        },
        computed: {},
        methods: {

            showItemModal(type) {

                this.$emit('show', type)

            }

        }
    }
</script>

