<template>

    <div>

        <template>
            <Button type="primary" size="small" @click="editQuestion(item,index)">
                <span>修改</span>
            </Button>
        </template>
        <template>
            <Button type="success" size="small" @click="cloneQuestion(item,index)" >
                <span>复制</span>
            </Button>
        </template>


        <template v-if="item.type!=='1'">
            <Button type="primary" size="small" @click="setMust(item)">
                <span v-if="item.must==='0'">设为非必填</span>
                <span v-else>&nbsp;&nbsp;&nbsp;&nbsp;设为必填</span>
            </Button>
        </template>
        <template v-else>
            <Button type="primary" size="small" style="visibility: hidden">
                <span>设为非必填</span>
            </Button>
        </template>

        <template v-if="item.type=='2' || item.type=='3' || item.type=='4'">
            <Button type="success" size="small" @click="showSetGivenAnswerModal(item)">
                设置特定答案
            </Button>
        </template>

        <template v-else>
            <Button size="small" style="visibility: hidden">
                设置特定答案
            </Button>
        </template>
         <template v-if="item.type=='2'">
            <Button type="success" size="small" @click="showSetLineTeamModal(item)">
                设置测谎对
            </Button>
        </template>
        <template v-else>
            <Button size="small" style="visibility: hidden">
                设置测谎对
            </Button>
        </template>
        <template>
            <Icon type="md-arrow-round-up" size="19" style="cursor: pointer;margin-top: -4px" title="上移"
                  @click="up(item,index)" v-if="index>0"></Icon>
            <Icon type="md-arrow-round-down" size="19" style="cursor: pointer;margin-top: -4px" v-else
                  title="上移"
                  color="#FFF"></Icon>
        </template>

        <template>
            <Icon type="md-arrow-round-down" size="19" style="cursor: pointer;margin-top: -4px"
                  title="下移"
                  @click="down(item,index)" v-if="index<(questionList.length-1)"></Icon>
            <Icon type="md-arrow-round-down" size="19" style="cursor: pointer;margin-top: -4px" v-else
                  title="下移"
                  color="#FFF"></Icon>
        </template>

        <template>
            <i class="iconfont" style="cursor: pointer;margin-left: 3px;" title="顶部"
               @click="top(item,index)" v-if="index>0 && questionList.length>2">&#xe83d;</i>

            <i class="iconfont" style="visibility: hidden;margin-left: 3px;" title="顶部"
               v-else>&#xe83d;</i>

        </template>

        <template>
            <i class="iconfont" @click="bottom(item,index)" style="cursor: pointer;margin-left: 5px;"
               title="底部"
               v-if="index<(questionList.length-1) && questionList.length>2">
                &#xe83c;
            </i>
            <i class="iconfont" style="visibility: hidden;margin-left: 5px;" v-else title="底部">
                &#xe83c;
            </i>
        </template>


        <template>
            <Icon type="ios-remove-circle" size="20" style="cursor: pointer;margin-top: -3px;"
                  @click="deleteQuestion(item)"></Icon>
        </template>



    </div>

</template>

<script>
    import {Util} from '../../../assets/js/Util'



    export default {
        name: '',
        components:{
        },
        data() {
            return {
                suffixArrayOfMusic:Util.suffixArrayOfMusic,
                backendUrl:Util.backendUrl,
            }
        },
        props: {

            item: {
                type: Object,
                default: ()=>{
                    return {}
                }
            },
            index: {
                type: Number,
                default: 0
            },
            measureId: {
                type: Number,
                default: -1
            },
            questionList:{
                type:Array,
                default:()=>{
                    return []
                }
            },
            originalQuestionList:{
                type:Array,
                default:()=>{
                    return []
                }
            },



        },
        watch: {
        },
        computed: {},
        methods: {

            /**
             * 编辑条目（各种类型的条目）
             * @param item
             */
            editQuestion(item) {
                if (item.lieDetect) {
                    this.$Message.warning("测谎题无法修改！如需修改请删除后重新添加！")
                    return;
                }

                this.$emit('editQuestion',item)


            },
            getNextQuestionIndex() {
                let maxIndex = 0;
                for (let i = 0; i < this.questionList.length; i++) {
                    let q = this.questionList[i];
                    if (q.questionIndex) {
                        maxIndex++;
                    }
                }

                return maxIndex + 1;
            },
            /**
             * 复制条目。矩阵类型的只复制父，不复制子。
             * @param item
             * @param index
             */
            cloneQuestion(item) {

                if(item.type==='5'){
                    this.$Message.warning("测谎选择题无法复制！")
                    return;
                }

                this.$Modal.confirm({
                    title: '您确认复制吗？',
                    content: '',
                    onOk: () => {

                        delete item.id;
                        delete item.createtime;
                        delete item.indexSort;

                        item.name+='复制';

                        if(item.questionIndex!==null){
                            item.questionIndex=this.getNextQuestionIndex()
                        }

                        if(item.rule){
                            item.rule=JSON.stringify(item.rule)
                        }

                        if(item.children && item.children.length>0){
                            for(let i=0;i<item.children.length;i++){
                                delete item.children[i].id;
                                delete item.children[i].parentId;
                                delete item.children[i].createtime;
                                if(item.children[i].answer && (typeof item.children[i].answer)==='object'){
                                    item.children[i].answer=JSON.stringify(item.children[i].answer)
                                }

                            }
                        }

                        if(item.children && item.children.length>0){
                            item.children=JSON.stringify(item.children)
                        }


                        if(item.answer && item.type==='2'){
                            item.answer=JSON.stringify(item.answer)
                        }

                        this.http.post('question/add', item).then((data) => {
                            this.$Message.success("复制成功！")
                            this.freshParent()


                        }).catch(error => {
                            this.$Message.error(error)
                        })

                    },
                    onCancel: () => {
                    }
                });

            },
            setMust(item) {
                if (item.must === '0') {
                    item.must = '1'
                } else {
                    item.must = '0'
                }

                this.http.post('question/update', {
                    id: item.id,
                    must: item.must,
                    measureId:this.measureId
                }).then(data => {
                    this.$Message.success("修改成功")
                    this.freshParent()
                }).catch(err => {
                    this.$Message.error(err)
                })
            },
            freshParent(data){
                this.$emit('init',data)
            },
            showSetLineTeamModal(item){
                this.$emit('showSetLineTeamModal',item)
            },
            showSetGivenAnswerModal(item) {
                this.$emit('showSetGivenAnswerModal',item)
            },
            deleteQuestion(question) {
                let tip = "您确认删除吗？"
                if (question.type === '5') {
                    tip = "该测谎题对应的关联题目也会一并删除，您确认吗？"
                }

                this.$Modal.confirm({
                    title: tip,
                    content: '',
                    onOk: () => {
                        this.$Message.warning("删除中，请稍等！")
                        this.realDelete(question)

                        if (question.type === '5') {
                            this.realDelete(this.getQuestionByLieDetect(question))
                        }
                    },
                    onCancel: () => {
                    }
                });


            },
            getQuestionByLieDetect(question) {
                let obj = {}
                let lieDetect = question.lieDetect
                for (let i = 0; i < this.questionList.length; i++) {
                    let item = this.questionList[i]
                    if (item.id !== question.id && item.lieDetect === lieDetect) {
                        obj = item;
                        break;
                    }

                }
                return obj;
            },
            realDelete(question) {
                this.http.post('question/delete', {
                    id: question.id,
                    measureId:this.measureId
                }).then(() => {
                    //如果删除的是2、3，则后续的questionIndex都减少1

                    if (question.type === '2' || question.type === '3' || question.type === '4' || question.type === '5') {
                        let list = [];

                        for (let i = 0; i < this.questionList.length; i++) {
                            if ((this.questionList[i].type === '2' || this.questionList[i].type === '3' || this.questionList[i].type === '4' || this.questionList[i].type === '5') && this.questionList[i].questionIndex > question.questionIndex) {
                                list.push({
                                    id: this.questionList[i].id,
                                    questionIndex: --this.questionList[i].questionIndex

                                })
                            }
                        }

                        if (list.length > 0) {
                            this.http.post('question/updateBatch', {
                                values: JSON.stringify(list),
                            }).then(() => {
                                this.$Message.success("删除成功！")
                                this.freshParent()
                            }).catch(error => {
                                this.$Message.error(error)
                            })
                        } else {
                            this.$Message.success("删除成功！")
                            this.freshParent()
                        }
                    } else {
                        this.$Message.success("删除成功！")
                        this.freshParent()
                    }

                }).catch(error => {
                    this.$Message.error(error)
                })
            },
            up(item, index) {
                // 上下货下上两个的order互换下。

                //注意questionIndex的序号也要根据条件来换。除非当前条目和它上边问题的类型都是2、3才需要换

                if ((this.originalQuestionList[index - 1].type === '2' || this.originalQuestionList[index - 1].type === '3' || this.originalQuestionList[index - 1].type === '4' || this.originalQuestionList[index - 1].type === '5')
                    && (this.originalQuestionList[index].type === '2' || this.originalQuestionList[index].type === '3' || this.originalQuestionList[index].type === '4' || this.originalQuestionList[index].type === '5')
                ) {
                    let topIndex = this.originalQuestionList[index - 1].questionIndex

                    this.originalQuestionList[index - 1].questionIndex = this.originalQuestionList[index].questionIndex

                    this.originalQuestionList[index].questionIndex = topIndex
                }

                let topIndex = this.originalQuestionList[index - 1].indexSort

                this.originalQuestionList[index - 1].indexSort = this.originalQuestionList[index].indexSort

                this.originalQuestionList[index].indexSort = topIndex


                Promise.all([this.http.post('question/update', {
                    id: this.originalQuestionList[index].id,
                    indexSort: this.originalQuestionList[index].indexSort,
                    questionIndex: this.originalQuestionList[index].questionIndex,
                    measureId:this.measureId
                }), this.http.post('question/update', {
                    id: this.originalQuestionList[index - 1].id,
                    indexSort: this.originalQuestionList[index - 1].indexSort,
                    questionIndex: this.originalQuestionList[index - 1].questionIndex,
                    measureId:this.measureId
                })]).then(() => {
                    this.freshParent()
                }).catch(error => {
                    this.$Message.error(error)
                });

            },

            down(item, index) {

                //注意questionIndex的序号也要根据条件来换。除非当前条目和它下边问题的类型都是2、3才需要换


                if ((this.originalQuestionList[index + 1].type === '2' || this.originalQuestionList[index + 1].type === '3' || this.originalQuestionList[index + 1].type === '4' || this.originalQuestionList[index + 1].type === '5')
                    && (this.originalQuestionList[index].type === '2' || this.originalQuestionList[index].type === '3' || this.originalQuestionList[index].type === '4' || this.originalQuestionList[index].type === '5')
                ) {
                    let bottomIndex = this.originalQuestionList[index + 1].questionIndex

                    this.originalQuestionList[index + 1].questionIndex = this.originalQuestionList[index].questionIndex

                    this.originalQuestionList[index].questionIndex = bottomIndex
                }

                let bottomIndex = this.originalQuestionList[index + 1].indexSort

                this.originalQuestionList[index + 1].indexSort = this.originalQuestionList[index].indexSort

                this.originalQuestionList[index].indexSort = bottomIndex

                Promise.all([this.http.post('question/update', {
                    id: this.originalQuestionList[index].id,
                    indexSort: this.originalQuestionList[index].indexSort,
                    questionIndex: this.originalQuestionList[index].questionIndex,
                    measureId:this.measureId
                }), this.http.post('question/update', {
                    id: this.originalQuestionList[index + 1].id,
                    indexSort: this.originalQuestionList[index + 1].indexSort,
                    questionIndex: this.originalQuestionList[index + 1].questionIndex,
                    measureId:this.measureId
                })]).then(() => {
                    this.freshParent()
                }).catch(error => {
                    this.$Message.error(error)
                });
            },
            hasQuestionIndexBeforeIndex(index) {
                let flag = false;
                for (let i = 0; i < index; i++) {
                    if (this.questionList[i].type === '2' || this.questionList[i].type === '3' || this.questionList[i].type === '4' || this.questionList[i].type === '5') {
                        flag = true;
                        break
                    }
                }
                return flag
            },
            top(item, index) {

                this.$Message.warning("操作中，请稍等。。")
                //首先indexSort，index之前都变为他们后边的，缓存第一个。将第一个赋值给当前要移动的。

                let topIndexsort = Util.clone(this.questionList[0]).indexSort

                for (let i = 0; i < index; i++) {
                    this.questionList[i].indexSort = Util.clone(this.questionList[i + 1]).indexSort
                }

                this.questionList[index].indexSort = topIndexsort;

                //当前是2、3且当前上边有2、3时才需要操作questionIndex
                if (this.hasQuestionIndexBeforeIndex(index) && (this.questionList[index].type === '2' || this.questionList[index].type === '3' || this.questionList[index].type === '4' || this.questionList[index].type === '5')) {
                    let newList = []

                    for (let i = 0; i <= index; i++) {
                        if (this.questionList[i].type === '2' || this.questionList[i].type === '3' || this.questionList[i].type === '4' || this.questionList[i].type === '5') {
                            newList.push(this.questionList[i])
                        }
                    }

                    let topQuestionIndex = Util.clone(newList[0]).questionIndex

                    for (let i = 0; i < (newList.length - 1); i++) {
                        newList[i].questionIndex = Util.clone(newList[i + 1]).questionIndex
                    }

                    newList[newList.length - 1].questionIndex = topQuestionIndex;


                    for (let i = 0; i < newList.length; i++) {
                        for (let j = 0; j <= index; j++) {
                            if (this.questionList[j].id === newList[i].id) {
                                this.questionList[j] = newList[i];
                                break;
                            }
                        }
                    }
                }

                let list = [];

                for (let i = 0; i <= index; i++) {
                    let temp = {
                        id: this.questionList[i].id,
                        indexSort: this.questionList[i].indexSort,
                        questionIndex: this.questionList[i].questionIndex
                    }
                    list.push(temp);
                }

                this.http.post('question/updateBatch', {
                    values: JSON.stringify(list),
                }).then(() => {
                    this.$Message.success("操作成功！")
                    this.freshParent()
                }).catch(error => {
                    this.$Message.error(error)
                })

            },

            hasQuestionIndexAfterIndex(index) {
                let flag = false;
                for (let i = (index + 1); i < this.questionList.length; i++) {
                    if (this.questionList[i].type === '2' || this.questionList[i].type === '3' || this.questionList[i].type === '4' || this.questionList[i].type === '5') {
                        flag = true;
                        break
                    }
                }
                return flag
            },


            bottom(item, index) {


                this.$Message.warning("操作中，请稍等。。")
                //首先indexSort，index之前都变为他们后边的，缓存第一个。将第一个赋值给当前要移动的。

                let bottomIndexsort = Util.clone(this.questionList[this.questionList.length - 1]).indexSort

                for (let i = (this.questionList.length - 1); i > index; i--) {
                    this.questionList[i].indexSort = Util.clone(this.questionList[i - 1]).indexSort
                }

                this.questionList[index].indexSort = bottomIndexsort;

                //当前是2、3且当前上边有2、3时才需要操作questionIndex
                if (this.hasQuestionIndexAfterIndex(index) && (this.questionList[index].type === '2' || this.questionList[index].type === '3' || this.questionList[index].type === '4' || this.questionList[index].type === '5')) {
                    let newList = []

                    for (let i = (this.questionList.length - 1); i >= index; i--) {
                        if (this.questionList[i].type === '2' || this.questionList[i].type === '3' || this.questionList[i].type === '4' || this.questionList[i].type === '5') {
                            newList.push(this.questionList[i])
                        }
                    }
                    let bottomQuestionIndex = Util.clone(newList[0]).questionIndex

                    for (let i = 0; i < (newList.length - 1); i++) {
                        newList[i].questionIndex = Util.clone(newList[i + 1]).questionIndex
                    }

                    newList[newList.length - 1].questionIndex = bottomQuestionIndex;

                }

                let list = [];

                for (let i = index; i < (this.questionList.length); i++) {
                    let temp = {
                        id: this.questionList[i].id,
                        indexSort: this.questionList[i].indexSort,
                        questionIndex: this.questionList[i].questionIndex
                    }
                    list.push(temp);
                }

                this.http.post('question/updateBatch', {
                    values: JSON.stringify(list),
                }).then(() => {
                    this.$Message.success("操作成功！")
                    this.freshParent()
                }).catch(error => {
                    this.$Message.error(error)
                })

            },

        }
    }
</script>

<style scoped>

    @font-face {
        font-family: 'iconfont';  /* project id 276621 */
        src: url('//at.alicdn.com/t/font_276621_nky7n7280gp.eot');
        src: url('//at.alicdn.com/t/font_276621_nky7n7280gp.eot?#iefix') format('embedded-opentype'),
        url('//at.alicdn.com/t/font_276621_nky7n7280gp.woff2') format('woff2'),
        url('//at.alicdn.com/t/font_276621_nky7n7280gp.woff') format('woff'),
        url('//at.alicdn.com/t/font_276621_nky7n7280gp.ttf') format('truetype'),
        url('//at.alicdn.com/t/font_276621_nky7n7280gp.svg#iconfont') format('svg');
    }

    .iconfont {
        font-family: "iconfont" !important;
        font-size: 14px;
        font-style: normal;
        font-weight: bold;
        -webkit-font-smoothing: antialiased;
        -webkit-text-stroke-width: 0.2px;
        -moz-osx-font-smoothing: grayscale;
    }

    /*这样iview内置组件的样式才能生效*/
    .zdy_show >>> .ivu-input {
        border: none;
    }


</style>
