<template>
    <div>
        <Modal
                v-model="isShow"
                title="设置测谎对"
                width="800"
                :mask-closable="false"
        >
         <Form :label-width="120">
                <Form :label-width="100">

                    <FormItem label="测谎对：">
                         <Select v-model="questionIndex" style="width:600px;max-height:50px">
                          <Option :value="index" v-for="(question,index) in questionList"> {{(question.questionIndex)+'、'+question.name}}</Option>
                          
                        </Select>
                    </FormItem>

                </Form>


            </Form>
                <Row style="margin-top: 10px;font-size: 1em;font-weight: bold;">
                <Col span="24">
                    <RadioGroup v-model="lieRule">
                        <Radio label="0">
                            <span>相同选项计分</span>
                        </Radio>
                        <Radio label="1">
                            <span>不同选项计分</span>
                        </Radio>
                    </RadioGroup>
                </Col>
            </Row>
       

            <div slot="footer">
                <Button type="text" size="large" @click="isShow=false">取消</Button>
                <Button type="primary" size="large" @click="save">确定</Button>
            </div>
        </Modal>

    </div>

</template>

<script>
    import {Util} from '../../../assets/js/Util'

    export default {
        name: '',
        components: {
        },
        data() {
            return {
                lieRule:0,
                questionIndex:null,
                isShow: false,
                item:{},
                questionList:[],
            }
        },
        computed:{

        },
        props: {

            ruleDataList: {
                type: Array,
                default: () => {
                    return []
                }
            }
        },
        watch: {
            isShow(newValue) {

            },
        },
        computed: {},
        methods: {

            show(item,questionList) {
                if(questionList&&questionList.length>0){
                    var newquestionList=[]
                    for(let i=0;i<questionList.length;i++){
                        if(questionList[i]["type"]=="2"&&questionList[i]["id"]!=item.id){
                            newquestionList.push(questionList[i])
                        }
                    }
                     this.questionList=newquestionList
                }
               
                this.item=item;

                this.isShow = true;
            },
            hide() {
                this.isShow = false;
            },



            save() {
                let uuid = Util.uuid();
                var lieObj={}
                if(this.questionIndex||this.questionIndex=="0"){
                    lieObj=this.questionList[this.questionIndex]
                }else{
                    this.$Message.warning("请选择测谎条目！")
                    return;
                }
               var params=[]
               params.push({id:this.item.id,type:5,lieDetect:uuid,lieRule:this.lieRule})
               params.push({id:lieObj.id,type:5,lieDetect:uuid,lieRule:this.lieRule})
               
               this.http.post('question/updateBatch', {
                    values:JSON.stringify(params)
                }).then(data => {
                    this.hide()
                    this.$Message.success("操作成功！")

                    this.$emit('save')

                }).catch(err => {
                    this.$Message.error(err)
                })
            },

        }
    }
</script>

