<template>
    <Modal
            :value="isShow"
            title="设置原始分数"
            width="600"
            height="400"
            :mask-closable="false"
    >

        <Form :label-width="100">

            <FormItem label="计算规则">
                <Select v-model="calculation.operator" style="width:50%">
                    <Option value="" key=""> 请选择操作符</Option>
                    <Option value="+" key="+"> +</Option>
                    <Option value="-" key="-"> -</Option>
                    <Option value="*" key="*"> *</Option>
                    <Option value="/" key="/"> /</Option>
                </Select>
            </FormItem>

            <FormItem label="计算数值">
                <Input v-model="calculation.value" placeholder="请输入计算数值" style="width:40%;"></Input>
            </FormItem>

        </Form>

        <div slot="footer">
            <Button type="text" size="large" @click="isShow=false">取消</Button>
            <Button type="primary" size="large" @click="save">确定</Button>
        </div>
    </Modal>
</template>

<script>
    import {Util} from '../../../assets/js/Util'

    export default {
        name: '',
        data() {
            return {
                isShow: false,
                calculation:{}
            }
        },
        props: {

        },
        watch: {
            isShow(newValue) {
                if (newValue) {
                }

            },
        },
        computed: {},
        methods: {
            show(item) {

                if(!item.calculation){
                    item.calculation={}
                }

                this.calculation=item.calculation;

                this.isShow = true;
            },
            hide() {
                this.isShow = false;
            },

            save() {

                if(!this.calculation.operator){
                    this.$Message.warning("请选择操作符！")
                    return;
                }

                if(!this.calculation.value){
                    this.$Message.warning("请输入计算数值！")
                    return;
                }

                if(!Util.isValidNum(this.calculation.value)){
                    this.$Message.warning("请输入合法的数字！")
                    return;
                }


                this.hide();

            },

        }
    }
</script>

