<template>
    <div>
        <Modal
                :value="isShowSuperLinkModal"
                title="设置反馈中超链接"
                width="400"
                height="300"
                :mask-closable="false"
        >

            <Form :label-width="100">

                <FormItem label="超链接地址">
                    <Input v-model="superLink.url" placeholder="请输入超链接地址" style="width:80%;"></Input>
                </FormItem>
                <FormItem label="超链接文本">
                    <Input v-model="superLink.text" placeholder="请输入超链接文本" style="width:80%;"></Input>
                </FormItem>

            </Form>

            <div slot="footer">
                <Button type="text" size="large" @click="isShowSuperLinkModal=false">取消</Button>
                <Button type="primary" size="large" @click="setSuperLink">确定</Button>
            </div>
        </Modal>

    </div>

</template>

<script>
    import {Util} from '../../../assets/js/Util'

    export default {
        name: '',
        components: {
        },
        data() {
            return {
                isShowSuperLinkModal:false,
                superLink:{

                },
                tempRule:{},
                key:''
            }
        },
        computed: {},
        watch: {
            isShow(newValue) {

            },
        },
        computed: {},
        methods: {
            setSuperLink(){
                if(!this.superLink.url){
                    this.$Message.warning(`请输入超链接地址！`)
                    return;
                }
                if(!this.superLink.text){
                    this.$Message.warning(`请输入超链接文本！`)
                    return;
                }
                this.tempRule[this.key]+=` <a href="${this.superLink.url}"> ${this.superLink.text} </a> `;
                this.isShowSuperLinkModal=false;
            },
            show(rule,key){
                this.key=key;
                this.tempRule=rule;
                this.superLink={}
                this.isShowSuperLinkModal=true;
            },


        }
    }
</script>

