<template>


    <div>
        <Row style="padding:5px;">
            <Col span="22">
                <HeaderName name="基础量表管理"></HeaderName>
            </Col>
        </Row>
        <Table stripe :columns="columns" :data="dataList"></Table>
        <div style="text-align: center;margin-top: 1em;">
            <Page :total="count" :page-size="pageSize" :current="currentPage" @on-change="pageChange"/>
        </div>

    </div>


</template>

<script>
    import {Util} from '../../assets/js/Util'
    export default {
        data() {
            return {
                userGroup:'',
                isShowUserGroupModal:false,
                columns: [
                    {
                        type:'index',
                        width:60,
                        align:'center',
                        indexMethod:(params)=>{
                            return (this.currentPage-1)*Util.pageSize+(params._index+1);
                        }
                    },
                    {
                        title: '量表名称',
                        key: 'name'
                    },
                    {
                        title: '量表别名',
                        key: 'alias'
                    },
                    {
                        title: '量表描述',
                        key: 'description',
                        tooltip:true
                    },
                    {
                        title: '反馈报告描述',
                        key: 'start_description',
                        tooltip:true
                    },
                    {
                        title: '创建时间',
                        key: 'createtime'
                    },
                    {
                        title: '状态',
                        key: 'status',
                        render: (h, params) => {
                                    return h('div', {}, params.row.status === '1' ? '已完成' : '未完成')
                                }
                    },

                    {
                        title: '操作',
                        key: 'action',
                        width:250,
                        render: (h, params) => {
                            return h('div', [
                                // h('Button',{
                                //     props:{
                                //         type:'success',
                                //         size:'small'
                                //     },
                                //     style:{
                                //         marginRight:'5px'
                                //     },
                                //     on:{
                                //         click:()=>{
                                //             this.detail(params)
                                //         }
                                //     }
                                // },'编辑'),
                                h('Button',{
                                    props:{
                                        type:'primary',
                                        size:'small'
                                    },
                                    style:{
                                        marginRight:'5px'
                                    },
                                    on:{
                                        click:()=>{
                                            this.copy(params)
                                        }
                                    }
                                },'复制')
                            ])
                        }
                    }

                ],
                dataList: [],
                count:0,
                totalPages:0,
                pageSize:Util.pageSize,
                currentPage:1,
            }
        },
        watch:{
            dataList(val){


            }
        },
        mounted() {
            this.getList(1)
        },
        methods: {
            pageChange(page){
                this.getList(page)
            },
            getList(currentPage) {

                this.http.post('measure/list',  {
                    currentPage:currentPage,
                    pageSize:this.pageSize,
                    isAll:true
                }).then(data => {


                    this.count=data.count;
                    this.totalPages=data.totalPages;
                    this.currentPage=data.currentPage;
                    this.dataList = data.data;
                }).catch(error=>{

                    this.$Message.error(error)
                })
            },

            detail(params){
                this.$router.push({
                    path:'/measure/detail',
                    query:{
                        measureId:params.row.id,
                    }
                })
            },


            copy(params){

                this.$Modal.confirm({
                    title: '您确认复制所选量表吗？',
                    content: '',
                    onOk: () => {

                        this.http.post('measure/copyMeasure',{
                            id:params.row.id
                        }).then(()=>{
                            this.$Message.success("复制成功")
                            this.getList()
                        }).catch(error=>{
                            this.$Message.error(error)
                        })

                    },
                    onCancel: () => {
                    }
                });


            }
        }
    }
</script>

<style scoped>
</style>
