<template>

    <div style="position: relative">

        <Header v-if='permission==0' :status="formItem.status"
                :measureId="Number(measureId)"
                :isQuery="isQuery"
                @commit="init"
                @go2GivenAnswerList="go2GivenAnswerList"
                @showQuestionDetailModal="showQuestionDetailModal"
                @showFactorContainerModal="showFactorContainerModal" />

        <div style="overflow: scroll" :style="{height: contentHeight}">
            <div style="text-align: center">
                <h1>{{formItem.name}}</h1>
            </div>

            <div>
                <Row v-for="(item,index) in questionList">

                    <Col span="15">

                        <QuestionDisplay :item="item" :lieObjIndex="lieObjIndex" />

                    </Col>

                    <Col span="9" v-show="!isQuery">

                        <QuestionOperate v-if='permission==0' :measureId="Number(measureId)" :item="item" :index="index" :questionList="questionList"
                        :originalQuestionList="originalQuestionList" @editQuestion="editQuestion" @init="init" @showSetLineTeamModal="showSetLineTeamModal" @showSetGivenAnswerModal="showSetGivenAnswerModal" :lieObjIndex="lieObjIndex"/>

                    </Col>


                </Row>
            </div>
        </div>

        <QuestionDetailModal
                ref="questionDetailModal"
                :questionList="questionList"
                :measureId="Number(measureId)"
                @init="init"/>


        <FactorContainerModal
                ref="factorContainerModal"
                :questionList="questionList"
                :ruleDataList="ruleDataList"
                :ruleDataListOfParent="ruleDataListOfParent"
                :ruleDataListOfNewParent="ruleDataListOfNewParent"
                :factorAdjustDataList="factorAdjustDataList"
                :measureId="Number(measureId)"
                :measureObj="formItem"
                @showFactorContainerModal="showFactorContainerModal"/>

        <!--条目设置特定值-->
        <GivenAnswerModal ref="setGivenAnswerModal" :measureId="Number(measureId)" @save="init" />
        <SetLineTeamModal ref="setLineTeam"  @save="init" />


    </div>

</template>

<script>

    import {Util} from '../../assets/js/Util'


    import Header from './components/Header'
    import QuestionDisplay from './components/QuestionDisplay'
    import QuestionOperate from './components/QuestionOperate'
    import QuestionDetailModal from './components/QuestionDetailModal'
    import FactorContainerModal from './components/FactorContainerModal'
    import GivenAnswerModal from './components/GivenAnswerModal'
    import SetLineTeamModal from './components/SetLineTeamModal'


    export default {
        components:{
            Header,
            QuestionDisplay,
            QuestionOperate,
            QuestionDetailModal,
            FactorContainerModal,
            GivenAnswerModal,
            SetLineTeamModal
        },
        data() {
            return {
                contentHeight: ((window.innerHeight) - 145) + 'px',

                judgeRuleForm: {
                },

                measureId: this.$route.query.measureId,
                id: this.$route.query.id,
                formItem: {
                    title: '',
                    items: []

                },
                lieObjIndex:{},
                questionList: [],
                originalQuestionList: [],
                ruleDataList: [],
                ruleDataListOfParent: [],
                factorAdjustDataList: [],
                isQuery:this.$route.query.isQuery==='true',
                from:this.$route.query.from,
                ruleDataListOfNewParent:[],
                permission:1,

            }
        },
        computed: {
        },
        mounted() {

            this.init()
        },
        methods: {
            showSetLineTeamModal(item){

                this.$refs.setLineTeam.show(item,this.questionList)
            },
            showSetGivenAnswerModal(item) {
                this.$refs.setGivenAnswerModal.show(item);
            },

            go2GivenAnswerList(){
                this.$router.push({
                    path:'/measure/givenAnswerList',
                    query:{
                        measureId:this.measureId,
                        formItem:JSON.stringify(this.formItem)
                    }
                })
            },

            init() {

                this.getList()
                this.getMeasureById()
            },



            getList() {
                this.http.post('question/list', {
                    measureId: this.measureId
                }).then(data => {

                    this.questionList = data.data;
                    this.originalQuestionList = data.data;
                    //获取测谎对
                    var lieObj={}
                    for (let i = 0; i < this.questionList.length; i++) {

                        if(this.questionList[i].type == '5'){
                            var uuid=this.questionList[i].lieDetect
                            if(uuid&&lieObj[uuid]){
                                this.lieObjIndex[this.questionList[i].id]=lieObj[uuid]

                                this.lieObjIndex[lieObj[uuid]["id"]]=this.questionList[i]
                            }else{
                                lieObj[uuid]=this.questionList[i]
                            }
                        }

                        if (this.questionList[i].answer && this.questionList[i].type !== '3' && this.questionList[i].answer && this.questionList[i].type !== '4') {
                            this.questionList[i].answer = JSON.parse(this.questionList[i].answer)
                        }

                        if (this.questionList[i].type === '3' || this.questionList[i].type === '4') {
                            if (this.questionList[i].children.length > 0) {
                                this.questionList[i].answer = JSON.parse(this.questionList[i].children[0].answer)
                            }
                            if (this.questionList[i].type === '4') {

                                if (this.questionList[i].children && this.questionList[i].children.length > 0) {
                                    for (let j = 0; j < this.questionList[i].children.length; j++) {

                                        if (this.questionList[i].children[j]["answer"]) {
                                            this.questionList[i].children[j]["answer"] = JSON.parse(this.questionList[i].children[j]["answer"])
                                        }
                                    }
                                }
                            }
                            if (this.questionList[i].rule) {
                                this.questionList[i].rule = JSON.parse(this.questionList[i].rule)
                                this.questionList[i].ruleSwitch = true
                            } else {
                                this.questionList[i].rule = {}
                            }


                        }


                    }

                })
            },

            getMeasureById() {
                this.http.post('measure/getById', {
                    id: this.measureId
                }).then(data => {

                    this.formItem = data.data[0]
                    this.permission=this.formItem.power
                    this.ruleDataListOfNewParent=this.formItem.factor_relation?JSON.parse(this.formItem.factor_relation):[]
                    for(let i=0;i<this.ruleDataListOfNewParent.length;i++){
                        this.ruleDataListOfNewParent[i].name=this.ruleDataListOfNewParent[i].fathor.factorName
                    }

                })
            },



            /**
             * 编辑条目（各种类型的条目）
             * @param item
             */
            editQuestion(item, index) {


                if (item.type == '4') {

                    this.showQuestionDetailModal(item.type, true,JSON.parse(JSON.stringify(item)))
                } else {

                    this.showQuestionDetailModal(item.type, true,JSON.parse(JSON.stringify(item)))
                }


            },

            showQuestionDetailModal(type, isEdit,data) {

                this.$refs.questionDetailModal.show({
                    type:type,
                    isEdit:isEdit,
                    data:data
                })

            },

            showFactorContainerModal() {

                if (this.formItem.status !== '1') {
                    this.$Message.warning("量表提交后才可设置计算规则！")
                    return;
                }

                this.ruleDataList = []
                this.ruleDataListOfParent = []
                this.factorAdjustDataList = []

                this.getMeasureById();

                this.http.post('measure/getByIdFactor', {
                    measureId: this.measureId,

                }).then(data => {

                    if (data.data.length > 0) {
                        data = data.data;

                        for (let i = 0; i < data.length; i++) {
                            data[i].ruleCondition = JSON.parse(data[i].ruleCondition)
                        }

                        this.ruleDataList = data;
                    }

                }).catch(err => {
                    this.$Message.error(err)
                })


                this.http.post('measure/getByIdFactorAndFactor', {
                    measureId: this.measureId,

                }).then(data => {

                    if (data.data.length > 0) {
                        data = data.data;

                        for (let i = 0; i < data.length; i++) {
                            data[i].ruleCondition = JSON.parse(data[i].ruleCondition)

                            if(data[i].isFactor===1){
                                this.factorAdjustDataList.push(data[i])
                            }else{
                                this.ruleDataListOfParent.push(data[i])
                            }
                        }

                    }


                }).catch(err => {
                    this.$Message.error(err)
                })


                this.$refs.factorContainerModal.show()

            },

        }
    }
</script>

<style scoped>

    /*这样iview内置组件的样式才能生效*/
    .zdy_show >>> .ivu-input {
        border: none;
    }


</style>
