<template>


    <div>
        <Row style="padding:5px;">
            <Col span="18">
                <HeaderName name="特定值管理"></HeaderName>
            </Col>
            <Col span="6" style="text-align: right">
                <Button type="success" @click="showModal(0)">新增</Button>
                <Button  @click="back2measure">返回量表</Button>
            </Col>
        </Row>
        <Table stripe :columns="columns" :data="dataList"></Table>
        <div style="text-align: center;margin-top: 1em;">
            <Page :total="count" :page-size="pageSize" :current="currentPage" @on-change="pageChange"/>
        </div>


        <Modal
                v-model="isShow"
                :title="'特定值'"
                width="800"
                :mask-closable="false"
        >

            <Form :label-width="120">

                <FormItem label="请输入特定值名称">
                    <Input :maxlength="50" v-model="formItem.name"
                           placeholder="请输入特定值名称"></Input>
                </FormItem>
                <FormItem>
                    <Select v-model="formItem.specificList" multiple>
                        <Option v-for="order in questionList" :value="order.id" :key="order.id">{{ order.questionIndex+"、"+order.name
                            }}
                        </Option>
                    </Select>
                </FormItem>
            </Form>

            <div slot="footer">
                <Button type="text" size="large" @click="isShow=false">取消</Button>
                <Button type="primary" size="large" @click="add">确定</Button>
            </div>
        </Modal>

    </div>


</template>

<script>
    import {Util} from '../../assets/js/Util'

    export default {
        props: {

        },
        data() {

            return {
                measureId:this.$route.query.measureId,
                specificItem:[],
                isShow: false,
                name: '',
                userGroup: '',
                columns: [
                    {
                        type: 'index',
                        width: 60,
                        align: 'center',
                        indexMethod: (params) => {
                            return (this.currentPage - 1) * Util.pageSize + (params._index + 1);
                        }
                    },
                    {
                        title: '特定值名称',
                        key: 'name'
                    },

                    {
                        title: '特定值条目',
                        key: 'tiaomuArray'
                    },

                    {
                        title: '操作',
                        key: 'action',
                        width: 250,
                        render: (h, params) => {
                            return h('div', [
                                h('Button', {
                                    props: {
                                        type: 'primary',
                                        size: 'small'
                                    },
                                    style: {
                                        marginRight: '5px'
                                    },
                                    on: {
                                        click: () => {
                                            this.showModal(params)
                                        }
                                    }
                                }, '编辑'),
                                h('Button', {
                                    props: {
                                        type: 'error',
                                        size: 'small'
                                    },
                                    style: {
                                        marginRight: '5px'
                                    },
                                    on: {
                                        click: () => {
                                            this.delete(params)
                                        }
                                    }
                                }, '删除')

                            ])
                        }
                    }

                ],
                dataList: [],
                count: 0,
                totalPages: 0,
                pageSize: Util.pageSize,
                currentPage: 1,
                questionList:[],
                formItem:{},
                specificItem:[],
                mapObj:{},
                editIndex:-1
            }
        },
        watch: {
            dataList(val) {


            }
        },
        mounted() {

            // this.formItem=JSON.parse(this.$route.query.formItem)

            this.getMeasureSpecificItem()
        },
        methods: {
            back2measure(){
                this.$router.push({
                    path:'/measure/detail',
                    query:{
                        measureId:this.measureId,
                    }
                })
            },
            hide(){

            },
            selectUserGroup() {

            },
            pageChange(page) {
                this.getList(page)
            },
            array2Object(array,key){
                let obj={}

                array.forEach(item=>{
                    obj[item[key]]=item;
                })

                return obj;
            },
            getMeasureSpecificItem() {


                this.http.post('measure/getMeasureSpecificItem', {
                    id: Number(this.measureId),
                }).then(data => {

                    if(data.data[0].specificItem){
                        this.dataList=JSON.parse(data.data[0].specificItem)
                    }

                    this.questionList=data.data[0].specificeItems;

                    this.mapObj=this.array2Object(this.questionList,'id')

                    for(let i=0;i<this.dataList.length;i++){
                        this.dataList[i].tiaomuArray=[]
                        for(let j=0;j<this.dataList[i].specificList.length;j++){
                            this.dataList[i].tiaomuArray.push(this.mapObj[this.dataList[i].specificList[j]].name)
                        }
                        this.dataList[i].tiaomuArray=this.dataList[i].tiaomuArray.join('，')

                    }

                }).catch(error => {

                    this.$Message.error(error)
                })
            },
            add() {



                if(!this.formItem.name){
                    this.$Message.warning("请输入特定值名称！")
                }else if(!this.formItem.specificList || (this.formItem.specificList && this.formItem.specificList.length===0)){
                    this.$Message.warning("请选择条目！")
                }else{

                    if(this.editIndex>-1){
                        this.dataList.splice(this.editIndex,1,this.formItem)
                    }else{
                        this.dataList.push(this.formItem)
                    }

                    this.http.post('measure/update', {
                        id: this.measureId,
                        specificItem: JSON.stringify(this.dataList),
                    }).then(() => {

                        this.$Message.success("添加成功！")

                        this.isShow=false

                        this.getMeasureSpecificItem()

                    }).catch(error => {

                        this.$Message.error(error)
                    })
                }
            },
            showModal(params) {
                if(params!==0){
                    this.editIndex=params.index;
                    this.formItem=params.row;

                }else{//新增时重置
                    this.formItem={}
                }
                this.isShow = true;
            },


            delete(params) {

                this.$Modal.confirm({
                    title: '您确认删除吗？',
                    content: '',
                    onOk: () => {

                        this.dataList.splice(params.index,1)

                        this.http.post('measure/update', {
                            id: this.measureId,
                            specificItem: JSON.stringify(this.dataList),
                        }).then(() => {

                            this.$Message.success("删除成功！")

                            this.getMeasureSpecificItem()

                        }).catch(error => {

                            this.$Message.error(error)
                        })

                    },
                    onCancel: () => {
                    }
                });


            },

        }
    }
</script>

<style scoped>
</style>
