<template>


    <div>
        <Row style="padding:5px;">
            <Col span="22">
                <HeaderName name="量表管理"></HeaderName>
            </Col>
            <Col span="2" >
                <Button type="success" @click="add">新增</Button>
            </Col>
        </Row>
        <Table stripe :columns="columns" :data="dataList"></Table>
        <div style="text-align: center;margin-top: 1em;">
            <Page :total="count" :page-size="pageSize" :current="currentPage" @on-change="pageChange"/>
        </div>

    </div>


</template>

<script>
    import {Util} from '../../assets/js/Util'
    export default {
        data() {
            return {
                userGroup:'',
                isShowUserGroupModal:false,
                columns: [
                    {
                        type:'index',
                        width:60,
                        align:'center',
                        indexMethod:(params)=>{
                            return (this.currentPage-1)*Util.pageSize+(params._index+1);
                        }
                    },
                    {
                        title: '量表名称',
                        key: 'name'
                    },
                    {
                        title: '量表别名(用户可见)',
                        key: 'alias'
                    },
                    {
                        title: '量表描述',
                        key: 'description',
                        tooltip:true
                    },
                    {
                        title: '反馈报告描述(用户可见)',
                        key: 'start_description',
                        tooltip:true
                    },
                    {
                        title: '创建时间',
                        key: 'createtime'
                    },
                    {
                        title: '状态',
                        key: 'status',
                        render: (h, params) => {
                                    return h('div', {}, params.row.status === '1' ? '已完成' : '未完成')
                                }
                    },

                    {
                        title: '操作',
                        key: 'action',
                        width:250,
                        render: (h, params) => {
                            let operalist=[
                                h('Button',{
                                    props:{
                                        type:'primary',
                                        size:'small'
                                    },
                                    style:{
                                        marginRight:'5px'
                                    },
                                    on:{
                                        click:()=>{
                                            this.edit(params)
                                        }
                                    }
                                },'修改名称'),
                                h('Button',{
                                    props:{
                                        type:'error',
                                        size:'small'
                                    },
                                    style:{
                                        marginRight:'5px'
                                    },
                                    on:{
                                        click:()=>{
                                            this.delete(params)
                                        }
                                    }
                                },'删除'),
                                h('Button',{
                                    props:{
                                        type:'success',
                                        size:'small'
                                    },
                                    style:{
                                        marginRight:'5px'
                                    },
                                    on:{
                                        click:()=>{
                                            this.detail(params)
                                        }
                                    }
                                },'编辑'),
                                h('Button',{
                                    props:{
                                        type:'primary',
                                        size:'small'
                                    },
                                    style:{
                                        marginRight:'5px'
                                    },
                                    on:{
                                        click:()=>{
                                            this.copy(params)
                                        }
                                    }
                                },'复制')
                            ]
                            
                            if(params.row&&params.row.power==1){
                                operalist.shift()
                                operalist.pop()
                            }
                            return h('div', operalist)
                        }
                    }

                ],
                dataList: [],
                count:0,
                totalPages:0,
                pageSize:Util.pageSize,
                currentPage:1,
            }
        },
        watch:{
            dataList(val){


            }
        },
        mounted() {
            this.getList(1)
        },
        methods: {
            selectUserGroup(){

            },
            pageChange(page){
                this.getList(page)
            },
            getList(currentPage) {

                this.http.post('measure/list',  {
                    currentPage:currentPage,
                    pageSize:this.pageSize
                }).then(data => {


                    this.count=data.count;
                    this.totalPages=data.totalPages;
                    this.currentPage=data.currentPage;
                    this.dataList = data.data;
                }).catch(error=>{

                    this.$Message.error(error)
                })
            },
            add() {
              this.$router.push('/measure/operate')
            },
            edit(params){
                this.$router.push({
                    path:'/measure/operate',
                    query:{
                        opType:'edit',
                        from:'/measure/list',
                        formItem:JSON.stringify(params.row),
                    }
                })
            },
            detail(params){
                this.$router.push({
                    path:'/measure/detail',
                    query:{
                        measureId:params.row.id,
                    }
                })
            },
            publish(params){
                this.$Message.success("发布成功！")
            },
            delete(params){

                this.$Modal.confirm({
                    title: '您确认删除吗？',
                    content: '',
                    onOk: () => {

                        this.http.post('measure/delete',{
                            id:params.row.id
                        }).then(()=>{
                            this.$Message.success("删除成功")
                            this.getList()
                        }).catch(error=>{
                            this.$Message.error(error)
                        })

                    },
                    onCancel: () => {
                    }
                });


            },
            copy(params){

                this.$Modal.confirm({
                    title: '您确认复制所选量表吗？',
                    content: '',
                    onOk: () => {

                        this.http.post('measure/copyMeasure',{
                            id:params.row.id
                        }).then(()=>{
                            this.$Message.success("复制成功")
                            this.getList()
                        }).catch(error=>{
                            this.$Message.error(error)
                        })

                    },
                    onCancel: () => {
                    }
                });


            }
        }
    }
</script>

<style scoped>
</style>
