<template>


    <div style="min-height: 40em;">

        <Row style="padding:5px;">
            <Col span="24">
                <HeaderName border name="量表查看"></HeaderName>
            </Col>
        </Row>

        <Row style="padding:5px">
            <Col span="24">
                <Form ref="formInline" :model="formInline" inline >

                    <FormItem label="区域管理员" :label-width="120" prop="administrator" style="width:30em;">

                        <Select v-model="formInline.administrator">
                            <Option :value="item.id" v-for="item in administratorList">{{item.name}}</Option>
                        </Select>
                    </FormItem>


                    <FormItem>
                        <Button type="primary" icon="ios-search" @click="query">查询</Button>
                    </FormItem>
                </Form>

            </Col>

        </Row>


        <Table stripe :columns="columns" :data="dataList"></Table>
        <div style="text-align: center;margin-top: 1em;">
            <Page :total="count" :page-size="pageSize" :current="currentPage" @on-change="pageChange"/>
        </div>

    </div>


</template>

<script>
    import {Util} from '../../assets/js/Util'
    export default {
        data() {
            return {
                formInline: {},
                administratorList:[],
                userGroup:'',
                isShowUserGroupModal:false,
                columns: [
                    {
                        type:'index',
                        width:60,
                        align:'center',
                        indexMethod:(params)=>{
                            return (this.currentPage-1)*Util.pageSize+(params._index+1);
                        }
                    },
                    {
                        title: '量表名称',
                        key: 'name'
                    },
                    {
                        title: '量表别名(用户可见)',
                        key: 'alias'
                    },
                    {
                        title: '量表描述',
                        key: 'description',
                        tooltip:true
                    },
                    {
                        title: '反馈报告描述(用户可见)',
                        tooltip:true,
                        key: 'start_description'
                    },
                    {
                        title: '创建时间',
                        key: 'createtime'
                    },
                    {
                        title: '状态',
                        key: 'status',
                        render: (h, params) => {
                                    return h('div', {}, params.row.status === '1' ? '已完成' : '未完成')
                                }
                    },

                    {
                        title: '操作',
                        key: 'action',
                        width:250,
                        render: (h, params) => {
                            return h('div', [
                                h('Button',{
                                    props:{
                                        type:'primary',
                                        size:'small'
                                    },
                                    style:{
                                        marginRight:'5px'
                                    },
                                    on:{
                                        click:()=>{
                                            this.edit(params)
                                        }
                                    }
                                },'查看名称'),
                                h('Button',{
                                    props:{
                                        type:'success',
                                        size:'small'
                                    },
                                    style:{
                                        marginRight:'5px'
                                    },
                                    on:{
                                        click:()=>{
                                            this.detail(params)
                                        }
                                    }
                                },'查看'),
                                h('Button',{
                                    props:{
                                        type:'primary',
                                        size:'small'
                                    },
                                    style:{
                                        marginRight:'5px'
                                    },
                                    on:{
                                        click:()=>{
                                            this.copy(params)
                                        }
                                    }
                                },'复制')
                            ])
                        }
                    }

                ],
                dataList: [],
                count:0,
                totalPages:0,
                pageSize:Util.pageSize,
                currentPage:1,
            }
        },
        watch:{
            dataList(val){


            }
        },
        mounted() {

            this.getAdministratorList();

            this.getList(1)

        },
        methods: {
            query(){
                this.getList(1)
            },
            getAdministratorList() {
                this.http.post('user/listMange', {
                    currentPage:1,
                    pageSize:50,
                }).then(data => {

                    data=data.data;

                    this.administratorList = data;
                })
            },
            selectUserGroup(){

            },
            pageChange(page){
                this.getList(page)
            },
            getList(currentPage) {

                this.http.post('measure/list',  {
                    currentPage:currentPage,
                    pageSize:this.pageSize,
                    userId:this.formInline.administrator
                }).then(data => {


                    this.count=data.count;
                    this.totalPages=data.totalPages;
                    this.currentPage=data.currentPage;
                    this.dataList = data.data;
                }).catch(error=>{

                    this.$Message.error(error)
                })
            },
            edit(params){
                this.$router.push({
                    path:'/measure/operate',
                    query:{
                        opType:'edit',
                        from:'/measure/listQuery',
                        formItem:JSON.stringify(params.row),
                        isQuery:true
                    }
                })
            },
            detail(params){
                this.$router.push({
                    path:'/measure/detail',
                    query:{
                        measureId:params.row.id,
                        isQuery:true,
                        from:'/measure/listQuery',
                    }
                })
            },
            copy(params){

                this.$Modal.confirm({
                    title: '您确认复制所选量表吗？',
                    content: '',
                    onOk: () => {

                        this.http.post('measure/copyMeasure',{
                            id:params.row.id
                        }).then(()=>{
                            this.$Message.success("复制成功")
                            this.getList()
                        }).catch(error=>{
                            this.$Message.error(error)
                        })

                    },
                    onCancel: () => {
                    }
                });


            }
        }
    }
</script>

<style scoped>
</style>
