<template>


    <div class="login-wrap">
        <transition name="slideT">
            <div class="mainContent" >

                <div class="ms-login">

                    <Tabs >
                        <Tab-pane label="量表操作" name="account" icon="android-person">

                            <Form :model="formItem" :rules="rules" ref="loginForm" :label-width="130" class="demo-ruleForm" >

                                <Form-item prop="name" label="名称">
                                    <Input  :maxlength="50" placeholder="请输入量表名称" v-model="formItem.name" :readonly="isQuery"></Input>
                                </Form-item>

                                <Form-item prop="alias" label="别名">
                                    <Input  :maxlength="50" placeholder="请输入量表别名" v-model="formItem.alias" :readonly="isQuery"></Input>
                                </Form-item>
                                <Form-item prop="description" label="描述">
                                    <Input  type="textarea" :rows="4" :maxlength="2000" placeholder="请输入量表描述" v-model="formItem.description" :readonly="isQuery"></Input>
                                </Form-item>
                                <Form-item prop="start_description" label="反馈报告描述">
                                    <Input  type="textarea" :rows="4" :maxlength="2000" placeholder="请输入反馈报告描述" v-model="formItem.start_description" :readonly="isQuery"></Input>
                                </Form-item>
                                <Form-item prop="chartType" label="反馈报告图表类型">
                                    <Select v-model="formItem.chartType" placement="top" :disabled="isQuery">
                                        <Option value="none" >无</Option>
                                        <Option value="line" >折线图</Option>
                                        <Option value="bar" >柱状图</Option>
                                        <Option value="pie" >饼图</Option>
                                    </Select>
                                </Form-item>
                                <Form-item prop="isRandom" label="答题时题目随机">
                                    <Checkbox v-model="formItem.isRandom" :readonly="isQuery" :true-value="1" :false-value="0"></Checkbox>
                                </Form-item>
                                <Form-item prop="isShowDetail" label="因子得分明细可见">
                                    <Checkbox v-model="formItem.isShowDetail" :readonly="isQuery" :true-value="1" :false-value="0"></Checkbox>
                                </Form-item>



                            </Form>

                        </Tab-pane>
                    </Tabs>

                    <div class="login-btn" v-if="!isQuery">
                        <Button type="primary" @click="operate">确定</Button>
                    </div>
                    <div class="signup-btn">
                        <a href="javascript:" @click="back">返回</a>
                    </div>
                </div>
            </div>
        </transition>
    </div>

</template>

<script>
    import {Util} from '../../assets/js/Util'
    export default {
        data() {
            return {
                isEdit:this.$route.query.opType==='edit',
                isQuery:this.$route.query.isQuery,
                from:this.$route.query.from,
                id:this.$route.query.id,
                formItem: {
                },
                rules: {
                    name: [
                        {required: true, message: "量表名称不能为空", trigger: "blur"}
                    ],
                },
            }
        },
        computed: {
            isLogin() {
                return this.$store.state.isLogin;
            },
        },
        mounted() {
            if(this.isEdit){

                this.formItem=JSON.parse(this.$route.query.formItem);
                if(!this.formItem.chartType){
                    this.formItem.chartType='none'
                }
            }else{
                this.formItem={
                    chartType:'none'
                }
            }
        },
        methods: {
            back(){
                this.$router.push(this.from || '/measure/list')
            },
            operate() {

                this.$refs.loginForm.validate((valid) => {
                    if (valid) {

                        let url='measure/add';
                        if(this.isEdit){
                            url='measure/update'
                        }
                        this.http.post(url, this.formItem).then((data) => {
                            let msg="添加成功"
                            if(this.isEdit){
                                msg="修改成功"
                            }

                            this.$Message.success(msg)

                            this.$router.push('/measure/list')

                        }).catch(err => {
                            this.$Message.error(err)
                        })

                    }

                })

            },




        }
    }
</script>

<style scoped>
    .login-wrap {
        position: relative;
        width: 100%;
        height: 100vh;
        background-size: 100% 100%;
    }

    .mainContent {
        position: absolute;
        left: 50%;
        margin-left: -280px;
    }

    .ms-title {
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
        font-size: 26px;
        color: rgba(255, 255, 255, 0.8);
        font-weight: 500;
        letter-spacing: 4px;

    }

    .ms-login {
        width: 560px;
        overflow: hidden;
        padding: 40px;
        border-radius: 5px;
        background: #fff;
        box-sizing: border-box;
        position: relative
    }

    .login-btn {
        text-align: center;
    }

    .signup-btn {
        margin-top: 10px;
        text-align: center;
        cursor: pointer;
    }

    .login-btn button {
        width: 100%;
        height: 36px;
    }

    .slideT-enter-active, .slideT-leave-active {
        transition: all .6s ease-out;
    }

    .slideT-enter {
        opacity: 0;
        transform: translateY(-30px);
    }

</style>
