<template>


    <div class="login-wrap">
        <div class="container">
            <div class="item1">1</div>
            <div class="item2">2</div>
            <div class="item3">3</div>
            <div class="item4">4</div>
            <div class="item">5</div>
            <div class="item">6</div>
            <div class="item">7</div>
            <div class="item">8</div>
            <div class="item">9</div>
        </div>
    </div>

</template>

<script>
    import {Util} from '../../assets/js/Util'
    export default {
        data() {
            return {

            }
        },
        computed: {
            // isLogin() {
            //     return this.$store.state.isLogin;
            // },
        },
        mounted() {
        },
        methods: {

        }
    }
</script>

<style scoped lang="less">
    .container{
        display: flex;
        height:500px;
        /*background: gray;*/
        /*flex-direction: column-reverse;*/
        flex-wrap: wrap;
        /*justify-content: space-around;*/
        align-items: flex-start;
        /*align-content: flex-end;*/
        div{
            width:200px;
            border:1px solid red;
        }
        .item1{
            order:2;
        }
        .item2{
            order:1;
            /*flex-grow: 2;*/
            /*flex-shrink: 0;*/
            /*flex-basis: 2;*/
            align-self: flex-end;
        }
    }

</style>
