<template>


    <div class="login-wrap">
        <div class="container">
            <div class="item1">1</div>
            <div class="item2">2</div>
            <div class="item3">3</div>
            <div class="item4">4</div>
            <div class="item">5</div>
            <div class="item">6</div>
            <div class="item">7</div>
            <div class="item">8</div>
            <div class="item">9</div>
        </div>
    </div>

</template>

<script>
    import {Util} from '../../assets/js/Util'
    export default {
        data() {
            return {

            }
        },
        computed: {
            // isLogin() {
            //     return this.$store.state.isLogin;
            // },
        },
        mounted() {
        },
        methods: {

        }
    }
</script>

<style scoped lang="less">
    .container{
        /*grid-auto-flow: column;*/
        /*justify-items:center;*/
        display: grid;
        background: gray;
        grid-row-gap: 20px;
        grid-column-gap: 20px;
        grid-template-columns: [col1] 1fr [col2] 1fr [col3] 1fr [col4];
        /*grid-template-columns: repeat(auto-fill,500px);*/
        /*grid-template-columns: 33.33% 33.33% 33.33%;*/
        /*grid-template-rows: repeat(2,100px) ;*/
        grid-template-rows:[row1] 1fr [row2] 1fr [row3] 1fr [row4];
        grid-template-areas:'a e c'
                            'b e f'
                            'd e i';
        div{
            border:2px solid red;
        }
        .item1{
            /*grid-column-start: 2;*/
            /*grid-column-end: 4;*/

            /*grid-row-start: 1;*/
            /*grid-row-end: 4;*/
            grid-area:e;
        }
    }

</style>
